// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@import 'color-palette';

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

@function fade($c) {
  @return mix($c, $grey_900, 50%);
}

// Foreground colors
$dark_fg_color:   rgba($brown_700, 0.87);
$light_fg_color:  $white;
$button_fg_color: if($variant == 'light', rgba($red_700, 0.62), rgba($white, 0.8)); // extra fg color for raised buttons

$fg_color:                    if($variant == 'light', rgba($brown_700, 0.87), $white);
$secondary_fg_color:          if($variant == 'light', rgba($brown_700, 0.54), rgba($white, 0.7));
$hint_fg_color:               if($variant == 'light', rgba($brown_700, 0.38), rgba($white, 0.5));
$disabled_fg_color:           if($variant == 'light', rgba($brown_700, 0.38), rgba($white, 0.5));
$disabled_secondary_fg_color: if($variant == 'light', rgba($brown_700, 0.26), rgba($white, 0.3));
$track_color:                 if($variant == 'light', rgba($brown_900, 0.26), rgba($white, 0.3));
$divider_color:               if($variant == 'light', rgba($brown_700, 0.12), rgba($white, 0.12));

$titlebar_fg_color:                    if($titlebar == 'light', rgba($brown_700, 0.87), $white);
$titlebar_secondary_fg_color:          if($titlebar == 'light', rgba($brown_700, 0.54), rgba($white, 0.6));
$titlebar_hint_fg_color:               if($titlebar == 'light', rgba($brown_700, 0.38), rgba($white, 0.5));
$titlebar_disabled_fg_color:           if($titlebar == 'light', rgba($brown_700, 0.38), rgba($white, 0.3));
$titlebar_disabled_secondary_fg_color: if($titlebar == 'light', rgba($brown_700, 0.26), rgba($white, 0.2));
$titlebar_track_color:                 if($titlebar == 'light', rgba($brown_700, 0.26), rgba($white, 0.3));
$titlebar_divider_color:               if($titlebar == 'light', rgba($brown_700, 0.12), rgba($white, 0.12));

$inverse_fg_color:                    $white;
$inverse_secondary_fg_color:          rgba($white, 0.7);
$inverse_hint_fg_color:               rgba($white, 0.5);
$inverse_disabled_fg_color:           rgba($white, 0.5);
$inverse_disabled_secondary_fg_color: rgba($white, 0.3);
$inverse_track_color:                 rgba($white, 0.3);
$inverse_divider_color:               rgba($white, 0.12);

// Background colors
$bg_color:         if($variant == 'light', $grey_100, darken($brown_700, 5%));
$base_color:       if($variant == 'light', $white,    darken($brown_700, 7%));
$alt_base_color:   if($variant == 'light', $grey_50,  mix($base_color, $bg_color, 50%));
$lighter_bg_color: if($variant == 'light', $grey_50,  $brown_700);
$darker_bg_color:  if($variant == 'light', $grey_200, $brown_800);

$titlebar_bg_color:          if($titlebar == 'dark',
                                if($variant == 'light',
                                   $brown_700,
                                   lighten($brown_800, 5%)),
                                $brown_300);
$inactive_titlebar_bg_color: if($titlebar == 'dark',
                                if($variant == 'light',
                                   $brown_800,
                                   lighten($brown_900, 5%)),
                                $brown_400);
$alt_titlebar_bg_color:      if($titlebar == 'dark',
                                $brown_800,
                                mix($brown_300, $brown_400, 50%));
$panel_bg_color:             if($titlebar == 'dark',
                                $brown_900,
                                rgba($black, $middle_opacity));
$unity_panel_bg_color:       if($titlebar == 'dark',
                                $brown_900,
                                mix($grey_300, $grey_400, 50%));
$alt_panel_bg_color:         rgba($black, $lower_opacity);

$fill_color:      gtkalpha(currentColor, $lower_opacity);
$semi_fill_color: gtkalpha(currentColor, $lower_opacity / 2);
$row_fill_color:  gtkalpha(currentColor, 0.05);

$modal_button_color: if($variant == 'light', #fbac97, #cc3700);

// Misc colors
$primary_color:         if($variant == 'light', $red_500, $red);
$alt_primary_color:     $red_300;
$accent_color:          if($variant == 'light', $red_500, $red);
$disabled_accent_color: rgba($accent_color, 0.5);

$link_color:         $red_500;
$visited_link_color: if($variant == 'dark', $red_400, $red_600);

$warning_color: $yellow_700;
$error_color:   $red_700;
$success_color: $green_700;

$suggested_color:   $green_600;
$destructive_color: $red_600;

$info_bg_color:     $green_600;
$question_bg_color: $blue_500;
$warning_bg_color:  $yellow_500;
$error_bg_color:    $red_500;

$border_color:             if($variant == 'light', rgba($black, 0.12), rgba($black, 0.26));
$highlight_color:          if($variant == 'light', rgba($white, 0.4),  rgba($white, 0.1));
$titlebar_highlight_color: if($titlebar == 'dark', rgba($white, 0.1),  rgba($white, 0.4));
$unity_highlight_color:    if($titlebar == 'dark', rgba($white, 0.1),  rgba($white, 0.2));
$alt_highlight_color:      rgba($white, 0.2);
$titlebar_indicator_color: if($titlebar == 'dark', $accent_color, $accent_color);

$placeholder_text_color: if($variant == 'light',
                            mix($black, $base_color, percentage(0.54)),
                            mix($white, $base_color, percentage(0.7)));
