//
// A Color palette
//
// Pop uses the System76 palette

$almost_white:      #f2f2f2;
$warm_gray:         #574f4a;
$dark_gray:         #574e4a;
$dark_neutral_gray: #333;
$light_gray:        #999;
$literally_black:   #000;
$medium_gray:       #888;
$white:             #fff;


// Brand Colors
$orange: #faa41a; // Pantone 137c  #eaa124
$blue:   #48b9c7; // Pantone 7709c #62b5bb
$yellow: #ffce51; // Pantone 1225c #f2c150
$red:    #f15d22; // Pantone 1665c #df6426
$green:  #73c48f; // Confirmation/success


// Extra Colors that need to be set according to the themes
$pink: #E91E63;
$purple: #9C27B0;
$indigo: #3F51B5;
$grey: #9E9E9E;

// Red
$red_500: $red;
$red_400: lighten($red_500, 11%);
$red_300: lighten($red_400, 11%);
$red_200: lighten($red_300, 11%);
$red_100: lighten($red_200, 11%);
$red_50:  lighten($red_100, 11%);
$red_600: darken($red_500, 11%); //#db3400;
$red_700: darken($red_600, 11%);
$red_800: darken($red_700, 11%);
$red_900: darken($red_800, 11%);

// Pink
$pink_500: $pink;
$pink_400: lighten($pink_500, 16%);
$pink_300: lighten($pink_400, 16%);
$pink_200: lighten($pink_300, 16%);
$pink_100: lighten($pink_200, 16%);
$pink_50:  lighten($pink_100, 16%);
$pink_600: darken($pink_500, 16%);
$pink_700: darken($pink_600, 16%);
$pink_800: darken($pink_700, 16%);
$pink_900: darken($pink_800, 16%);

// Purple
$purple_500: $purple;
$purple_400: lighten($purple_500, 16%);
$purple_300: lighten($purple_400, 16%);
$purple_200: lighten($purple_300, 16%);
$purple_100: lighten($purple_200, 16%);
$purple_50:  lighten($purple_100, 16%);
$purple_600: darken($purple_500, 16%);
$purple_700: darken($purple_600, 16%);
$purple_800: darken($purple_700, 16%);
$purple_900: darken($purple_800, 16%);

// Indigo
$indigo_500: $indigo;
$indigo_400: lighten($indigo_500, 16%);
$indigo_300: lighten($indigo_400, 16%);
$indigo_200: lighten($indigo_300, 16%);
$indigo_100: lighten($indigo_200, 16%);
$indigo_50:  lighten($indigo_100, 16%);
$indigo_600: darken($indigo_500, 16%);
$indigo_700: darken($indigo_600, 16%);
$indigo_800: darken($indigo_700, 16%);
$indigo_900: darken($indigo_800, 16%);

// Blue
$blue_500: $blue;
$blue_400: lighten($blue_500, 16%);
$blue_300: lighten($blue_400, 16%);
$blue_200: lighten($blue_300, 16%);
$blue_100: lighten($blue_200, 16%);
$blue_50:  lighten($blue_100, 16%);
$blue_600: darken($blue_500, 16%);
$blue_700: darken($blue_600, 16%);
$blue_800: darken($blue_700, 16%);
$blue_900: darken($blue_800, 16%);

// Green
$green_500: $green;
$green_400: lighten($green_500, 19%);
$green_300: lighten($green_400, 19%);
$green_200: lighten($green_300, 19%);
$green_100: lighten($green_200, 19%);
$green_50:  lighten($green_100, 19%);
$green_600: darken($green_500, 19%); //#01967a;
$green_700: darken($green_600, 19%);
$green_800: darken($green_700, 19%);
$green_900: darken($green_800, 19%);

// Yellow
$yellow_500: $yellow;
$yellow_400: lighten($yellow_500, 11%);
$yellow_300: lighten($yellow_400, 11%);
$yellow_200: lighten($yellow_300, 11%);
$yellow_100: lighten($yellow_200, 11%);
$yellow_50:  lighten($yellow_100, 11%);
$yellow_600: darken($yellow_500, 11%);
$yellow_700: darken($yellow_600, 11%);
$yellow_800: darken($yellow_700, 11%);
$yellow_900: darken($yellow_800, 11%);

// Orange
$orange_500: $orange;
$orange_400: lighten($orange_500, 16%);
$orange_300: lighten($orange_400, 16%);
$orange_200: lighten($orange_300, 16%);
$orange_100: lighten($orange_200, 16%);
$orange_50: lighten($orange_100, 16%);
$orange_600: darken($orange_500, 16%);
$orange_700: darken($orange_600, 16%);
$orange_800: darken($orange_700, 16%);
$orange_900: darken($orange_800, 16%);

// Brown
$brown_700: $warm_gray;
$brown_600: lighten($brown_700, 16%);
$brown_500: lighten($brown_600, 16%);
$brown_400: lighten($brown_500, 16%);
$brown_300: lighten($brown_400, 16%);
$brown_200: lighten($brown_300, 16%);
$brown_100: lighten($brown_200, 16%);
$brown_50:  lighten($brown_100, 16%);
$brown_800: darken($brown_700, 16%);
$brown_900: darken($brown_800, 16%);

// Grey
$grey_500: $medium_gray;
$grey_400: lighten($grey_500, 9%);
$grey_300: lighten($grey_400, 9%);
$grey_200: lighten($grey_300, 9%);
$grey_100: lighten($grey_200, 9%);
$grey_50:  lighten($grey_100, 9%);
$grey_600: darken($grey_500, 14%);
$grey_700: darken($grey_600, 14%);
$grey_800: darken($grey_700, 14%);
$grey_900: darken($grey_800, 14%);

// Black
$black: #000000;

// White
$white: #FFFFFF;
