*~
*.pem
src/**/*.css
*.orig
src/gtk-*/**/assets/*.png
src/gtk-2.0/**/assets/*.png
debian/tmp

# Build artefacts
debian/*
!debian/*install
!debian/*postinst
!debian/changelog
!debian/control
!debian/links
!debian/rules
!debian/source
build
obj-*
