// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/*!
 * _colors.scss - Master color definitions.
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

@import 'color-palette';

// Some color functions to opacitize colors for certain functions
@function to800($color) {
  @return rgba($color, 0.8);
}
@function to600($color) {
  @return rgba($color, 0.6);
}
@function to400($color) {
  @return rgba($color, 0.4);
}
@function to200($color) {
  @return rgba($color, 0.2);
}
@function to100($color) {
  @return rgba($color, 0.1);
}
@function to50($color) {
  @return rgba($color, 0.05);
}

// Main Accent Colors
$color_theme_1: if($color=='dark', $blue_700, $blue_500);
$light_color_1: $blue_300;
$dark_color_1: $blue_700;
$color_theme_2: if($color=='dark', $orange_700, $orange_500);
$light_color_2: $orange_300;
$dark_color_2: $orange_900;

// Background UI Colors
$base_color: if($color=='dark', $dark_ui_900, $white);
$bg_color: if($color=='dark', $dark_ui_700, $light_ui_300);
$bg_hl_color: if($color=='dark', $dark_ui_900, $light_ui_100);
$bg_emp_color: if($color=='dark', $dark_ui_500, $light_ui_500);
$dark_bg_color: if($color=='dark', $dark_ui_300, $light_ui_700);
$darker_bg_color: if($color=='dark', $dark_ui_100, $light_ui_900);

$inverse_bg_color: $dark_ui_500;
$obverse_bg_color: $light_ui_500;

$selected_bg_color: $color_theme_1;

// Foreground UI Colors
$base_fg_color: if($color=='dark', $white, $black);
$fg_color: if($color=='dark', $light_ui_300, $dark_ui_300);
$fg_hl_color: if($color=='dark', $light_ui_100, $dark_ui_100);
$fg_emp_color: if($color=='dark', $light_ui_500, $dark_ui_500);
$dark_fg_color: if($color=='dark', $light_ui_700, $dark_ui_700);
$darker_fg_color: if($color=='dark', $light_ui_900, $dark_ui_900);

$inverse_fg_color: $light_ui_100;
$obverse_fg_color: $dark_ui_500;

$selected_fg_color: $white;

// Highlight Colors
$suggested_color: $green_700;
$destructive_color: $red_700;
$information_color: $green_700;
$warning_color: $yellow_500;
$error_color: $red_700;
$question_color: $indigo_300;
$success_color: $green_700;
$link_color: if($color=="dark", $color_theme_2, $dark_color_2);

$dark_warning_color: if($color=='dark', $yellow_500, $yellow_700);

// Titlebar colors
$titlebar_bg_color: if(
  $color=='light', 
  if($titlebar=='dark', $warm_grey_500, $light_ui_900),
  mix($warm_grey_700, $dark_neutral_grey_500, 40%)
);
$titlebar_fg_color: if($titlebar=='dark', $light_ui_500, $warm_grey_500);
$titlebar_hl_color: mix($titlebar_bg_color, $inverse_fg_color, 90%);
$titlebar_dl_color: mix($titlebar_bg_color, black, 80%);
$titlebar_active_color: if($titlebar=='dark', $light_ui_100, $warm_grey_900);
$close_button_color: mix($red_500, $color_theme_2, 50%);

// Misc Colors
$text_shadow_color: rgba($black, 0.7);

/*
 * Debug Block
 */

.pop-debug-color-block-invalid-nostyle {
/* Sizes */
  -color: $color;
  -titlebar: $titlebar;
  -slim: $slim;

/* Main Accent Colors */
  -color_theme_1: $color_theme_1;
  -color_theme_2: $color_theme_2;

/* Background UI Colors */
  -base_color: $base_color;
  -bg_color: $bg_color;
  -bg_hl_color: $bg_hl_color;
  -bg_emp_color: $bg_emp_color;
  -dark_bg_color: $dark_bg_color;
  -darker_bg_color: $darker_bg_color;

  -inverse_bg_color: $inverse_bg_color;
  -obverse_bg_color: $obverse_bg_color;

  -selected_bg_color: $selected_bg_color;

/* Foreground UI Colors */
  -base_fg_color: $base_fg_color;
  -fg_color: $fg_color;
  -fg_hl_color: $fg_hl_color;
  -fg_emp_color: $fg_emp_color;
  -dark_fg_color: $dark_fg_color;
  -darker_fg_color: $darker_fg_color;

  -inverse_fg_color: $inverse_fg_color;
  -obverse_fg_color: $obverse_fg_color;

  -selected_fg_color: $selected_fg_color;

/* Highlight Colors */
  -suggested_color: $suggested_color;
  -destructive_color: $destructive_color;
  -information_color: $information_color;
  -warning_color: $warning_color;
  -error_color: $error_color;

/* Titlebar colors */
  -titlebar_bg_color: $titlebar_bg_color;
  -titlebar_fg_color: $titlebar_fg_color;
  -titlebar_hl_color: $titlebar_hl_color;
}

/*!
 * Public Colors
 */

// apps rely on some named colors to be exported
/*!GTK NAMED COLORS
   ----------------
   use responsibly! */

// Sass thinks we're using the colors in the variables as strings and may shoot
// warning, it's innocuous and can be defeated by using '' + $var
// Also, this doesn't work with our toX00 functions, so set a var for those
// first and set the @define to that.

//widget text/foreground color */
@define-color theme_fg_color #{'' + $fg_color};

//text color for entries, views and content in general */
@define-color theme_text_color #{'' + $fg_color};

//widget base background color */
@define-color theme_bg_color #{'' + $bg_color};
@define-color bg_color #{'' + $bg_color};

//text widgets and the like base background color */
@define-color theme_base_color #{'' + $base_color};

//base background color of selections */
@define-color theme_selected_bg_color #{'' + $selected_bg_color};

//text/foreground color of selections */
@define-color theme_selected_fg_color #{'' + $selected_fg_color};

//base background color of insensitive widgets */
$theme_insensitive_bg_color: to600($bg_color);
@define-color insensitive_bg_color #{'' + $theme_insensitive_bg_color};

//text foreground color of insensitive widgets */
$theme_insensitive_fg_color: to600($fg_color);
@define-color insensitive_fg_color #{'' + $theme_insensitive_fg_color};

//insensitive text widgets and the like base background color */
@define-color insensitive_base_color #{'' + $dark_bg_color};

//widget text/foreground color on backdrop windows */
$theme_unfocused_fg_color: to600($fg_color);
@define-color theme_unfocused_fg_color #{'' + $theme_unfocused_fg_color};

//text color for entries, views and content in general on backdrop windows */
$theme_unfocused_text_color: to600($fg_color);
@define-color theme_unfocused_text_color #{'' + $theme_unfocused_text_color};

//widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #{'' + $bg_color};

//text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #{'' + $base_color};

//base background color of selections on backdrop windows */
$theme_unfocused_selected_bg_color: to600($color_theme_1);
@define-color theme_unfocused_selected_bg_color #{'' + $theme_unfocused_selected_bg_color};

//text/foreground color of selections on backdrop windows */
$theme_unfocused_selected_fg_color: to600($fg_color);
@define-color theme_unfocused_selected_fg_color #{'' + $theme_unfocused_selected_fg_color};

//insensitive color on backdrop windows */
$theme_unfocused_insensitive_color: to400($fg_color);
@define-color unfocused_insensitive_color #{'' + $theme_unfocused_insensitive_color};

//widgets main borders color */
$theme_borders_color: to200($fg_color);
@define-color borders #{'' + $theme_borders_color};

//widgets main borders color on backdrop windows */
@define-color unfocused_borders #{'' + $theme_borders_color};

//these are pretty self explicative */
@define-color warning_color #{'' + $warning_color};
@define-color error_color #{'' + $error_color};
@define-color success_color #{'' + $suggested_color};
@define-color destructive_color #{'' + $destructive_color};
@define-color suggested_color #{'' + $suggested_color};

//this is really an API */
@define-color content_view_bg #{'' + $base_color};
@define-color placeholder_text_color #{'' + #999};

$spice_slide_background: lighten($warm_grey_700, 5%);
$spice_selected_slide_background: lighten($warm_grey_700, 7%);

//These are for Spice-up Presentation maker
@define-color SpicePrimaryBackground #{'' + $warm_grey_700};
@define-color SpiceSlideBackground #{'' + $spice_slide_background};
@define-color SpiceSlideBackgroundSelected #{'' + lighten($warm_grey_700, 7%)};
@define-color colorPrimary #{'' + $color_theme_1};
