
// Orange
$orange: if($color=='light', #ffad00, #fbb86c);
$light_orange: if($color=='light', #fbb86c, #ffd7a1);
$dark_orange: if($color=='light', #af5c02, #ffad00);

// blue
$blue: if($color=='light', #63b1bc, #6acad8);
$light_blue: if($color=='light', #6acad8, #99ffff);
$dark_blue: if($color=='light', #00496d, #63b1bc);

// green
$green: if($color=='light', #82bf8c, #90cfb0);
$light_green: if($color=='light', #90cfb0, #acf7d2);
$dark_green: if($color=='light', #3b6e43, #82bf8c);

// red
$red: if($color=='light', #e56a54, #ea9090);
$light_red: if($color=='light', #ea9090, #ffb5b5);
$dark_red: if($color=='light', #a0252b, #e56a54);

// yellow
$yellow: if($color=='light', #fedb40, #f9d87a);
$light_yellow: if($color=='light', #fff19e, #f9d87a);
$dark_yellow: if($color=='light', #966800, #fedb40);

// purple
$purple: if($color=='light', #cf7dff, #d58cff);
$light_purple: if($color=='light', #d58cff, #e5b3ff);
$dark_purple: if($color=='light', #813b96, #cf7dff);

// pink
$pink: if($color=='light', #f93a83, #ff9cdd);
$light_pink: if($color=='light', #ff9cdd, #ffc1ee);
$dark_pink: if($color=='light', #ee4e88, #f93a83);

// indigo
$indigo: if($color=='light', #3e88ff, #95c4fc);
$light_indigo: if($color=='light', #95c4fc, #bddbff);
$dark_indigo: if($color=='light', #102a4c, #3e88ff);

// warm_grey
$warm_grey: #ada29e;
$light_warm_grey: #9b8eae;
$dark_warm_grey: #554742;

// ui

// Light Neutral Grey 
$light_neutral_grey_100: #EEE;
$light_neutral_grey_300: #CCC;
$light_neutral_grey_500: #AAA;
$light_neutral_grey_700: #888;
$light_neutral_grey_900: #666;


// Dark Neutral Grey 
$dark_neutral_grey_100: #888;
$dark_neutral_grey_300: #666;
$dark_neutral_grey_500: #444;
$dark_neutral_grey_700: #222;
$dark_neutral_grey_900: #111;


// Light UI
$light_ui_100: #FCFCFC;
$light_ui_300: #F6F6F6;
$light_ui_500: #EDEDED;
$light_ui_700: #E6E6E6;
$light_ui_900: #DEDEDE;


// Dark UI
$dark_ui_100: #474341;
$dark_ui_300: #403C3A;
$dark_ui_500: #393634;
$dark_ui_700: #33302F;
$dark_ui_900: #2B2928;

$white: #FFF;
$black: #000;
$mid_grey: #888;