
/* 
 * _color-palette.scss - Defines the master color palette
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

// Orange
$orange_100: #FFDB91;
$orange_300: #FFCA40;
$orange_500: #FAA41A;
$orange_700: #DE8800;
$orange_900: #C26C00;


// Red
$red_100: #FF9262;
$red_300: #FF793E;
$red_500: #F15D22;
$red_700: #CF3B00;
$red_900: #AC1800;


// Yellow 
$yellow_100: #FFFFA8;
$yellow_300: #FFFA7D;
$yellow_500: #FFCE51;
$yellow_700: #D1A023;
$yellow_900: #A27100;


// Green
$green_100: #A2F3BE;
$green_300: #8ADBA6;
$green_500: #73C48F;
$green_700: #479863;
$green_900: #1C6D38;


// Blue
$blue_100: #85F6FF;
$blue_300: #67D8E6;
$blue_500: #48B9C7;
$blue_700: #1C8D9B;
$blue_900: #00616F;


// Purple
$purple_100: #D25DE6;
$purple_300: #B84ACB;
$purple_500: #9C27B0;
$purple_700: #830E97;
$purple_900: #6A007E;


// Indigo
$indigo_100: #94A6FF;
$indigo_300: #6A7CE0;
$indigo_500: #3F51B5;
$indigo_700: #213397;
$indigo_900: #031579;


// Warm Grey 
$warm_grey_100: #9F9792;
$warm_grey_300: #7B736E;
$warm_grey_500: #574F4A;
$warm_grey_700: #463E39;
$warm_grey_900: #342C27;


// Light Neutral Grey 
$light_neutral_grey_100: #EEE;
$light_neutral_grey_300: #CCC;
$light_neutral_grey_500: #AAA;
$light_neutral_grey_700: #888;
$light_neutral_grey_900: #666;


// Dark Neutral Grey 
$dark_neutral_grey_100: #888;
$dark_neutral_grey_300: #666;
$dark_neutral_grey_500: #444;
$dark_neutral_grey_700: #222;
$dark_neutral_grey_900: #111;


// Light UI
$light_ui_100: #FCFCFC;
$light_ui_300: #F6F6F6;
$light_ui_500: #EDEDED;
$light_ui_700: #E6E6E6;
$light_ui_900: #DEDEDE;


// Dark UI
$dark_ui_100: #474341;
$dark_ui_300: #403C3A;
$dark_ui_500: #393634;
$dark_ui_700: #33302F;
$dark_ui_900: #2B2928;

$white: #FFF;
$black: #000;
$mid_grey: #888;

