// See gtk.scss for full license and copyright information
/* 
 * _variables.scss - Some commonly reused variables.
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 
// Radii
$corner_radius: 4px;
$circular_radius: 999px;

// Sizes
$mini_size: if($slim == 'false', 4px, 2px);
$tiny_size: if($slim == 'false', 12px, 10px);
$small_size: if($slim == 'false', 16px, 14px);
$medium_size: if($slim == 'false', 24px, 20px);
$large_size: if($slim == 'false', 32px, 28px);

$line_size: 2px;
$border_size: 1px;
$progress_size: 4px;
$marks_size: 6px;
$check_size: 18px;
$switch_size: 20px;
$toolbar_size: if($slim == 'false', 42px, 32px);
$arrow_size: 19px;
$scrollbar_size: 10px;
$icon_size: 16px;

// Padding
$no_padding: if($slim == 'false', 1px, 0);
$mini_padding: if($slim == 'false', 2px, 1px);
$tinier_padding: if($slim == 'false', 4px, 3px);
$tiny_padding: if($slim == 'false', 6px, 4px);
$small_padding: if($slim == 'false', 8px, 6px);
$standard_padding: if($slim == 'false', 12px, 10px);
$large_padding: if($slim == 'false', 16px, 12px);

$no_padding_em: if($slim == 'false', 0.1em, 0);
$mini_padding_em: if($slim == 'false', 0.15em, 0);
$tinier_padding_em: if($slim == 'false', 0.3em, 0.2em);
$tiny_padding_em: if($slim == 'false', 0.5em, 0.3em);
$small_padding_em: if($slim == 'false', 0.6em, 0.3em);
$standard_padding_em: if($slim == 'false', 1em, 0.8em);
$large_padding_em: if($slim == 'false', 1.4em, 1em);

// Border Shadows
$titlebar_border: 
inset 0 0 0 $border_size $titlebar_hl_color,
inset 0 -1 * $border_size 0 0 $titlebar_bg_color;
$scrollbar_border: inset 0 0 0 $border_size to400($inverse_fg_color);

// Shadows:
$shadow_0: 0 1px 2px rgba(0,  0,  0,  0.08);
$shadow_1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow_2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow_3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow_4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow_5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$shadow_hover: $shadow_4;
$shadow_window: 0 6px 12px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
$shadow_window_bd: 0 6px 12px transparent, 0 4px 4px transparent;

// Durations
$transition_duration: 300ms;

// Transitions
$standard_transition: all $transition_duration cubic-bezier(0.25, 0.8, 0.25, 1);
$fast_transition: all $transition_duration / 3 cubic-bezier(0.25, 0.8, 0.25, 1);
