/*
 * Pop!_OS gtk-widgets Theme (The Pop!_GTK Theme).
 * Copyright 2017-2018 System76, Inc.
 *
 * The Pop!_GTK Theme is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 * 
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public
 * License along with the Pop!_GTK Theme; if not, write to:
 * Free Software Foundation, Inc.
 * 51 Franklin Street, Fifth Floor
 * Boston, MA  02110-1301  
 * USA
 * 
 * File credits: Ian Santopietro <isantop@gmail.com>
 * Portions of this theme based on the elementary GTK Theme.
 * Copyright 2016 elementary LLC.
 */

 
$color: 'light';
$titlebar: 'dark';
$slim: 'false';

@import 'scss/colors';
@import 'scss/variables';
@import 'scss/gtk-widgets/base';
@import 'scss/gtk-widgets/button';
@import 'scss/gtk-widgets/tooltip';
@import 'scss/gtk-widgets/misc';
@import 'scss/gtk-widgets/separators';
@import 'scss/gtk-widgets/entry';
@import 'scss/gtk-widgets/textview';
@import 'scss/gtk-widgets/progressbar';
@import 'scss/gtk-widgets/frames';
@import 'scss/gtk-widgets/pane';
@import 'scss/gtk-widgets/colorchooser';
@import 'scss/gtk-widgets/linked';
@import 'scss/gtk-widgets/tabs';
@import 'scss/gtk-widgets/scrollbars';
@import 'scss/gtk-widgets/switch';
@import 'scss/gtk-widgets/check-radio';
@import 'scss/gtk-widgets/menus';
@import 'scss/gtk-widgets/toolbars';
@import 'scss/gtk-widgets/header-title-bars';
@import 'scss/gtk-widgets/assistant';
@import 'scss/gtk-widgets/views';
@import 'scss/gtk-widgets/flowbox';
@import 'scss/gtk-widgets/notification-popups';
@import 'scss/gtk-widgets/list';
@import 'scss/gtk-widgets/content-view';
@import 'scss/gtk-widgets/sidebar';
@import 'scss/gtk-widgets/expander';
@import 'scss/gtk-widgets/calendar';
@import 'scss/gtk-widgets/infobar';
@import 'scss/gtk-widgets/popover';
@import 'scss/gtk-widgets/dialog';
@import 'scss/gtk-widgets/emoji-picker';
@import 'scss/gtk-widgets/text-styles';
