// Blacks
$jet: #181818;
$inkstone: #3D3D3D;
$slate: #5D5D5D;
$graphite: #666666;

// Whites
$white: #FFFFFF;
$porcelain: #F7F7F7;
$silk: #CCC;
$ash: #878787;

// Utility
$red: if($variant=='light', #E56A54, #EA9090);
$orange: if($variant=='light', #FFAD00, #FBB86C);
$yellow: if($variant=='light', #FEDB40, #F9D87A);
$green: if($variant=='light', #82BF8C, #90CFB0);
$blue: if($variant=='light', #63B1BC, #6ACAD8);
$purple: if($variant=='light', #CF7DFF, #D58CFF);

// Terminal colors
$terminal_bg_color: #333;
$terminal_base_color: lighten($terminal_bg_color, 5%);
$terminal_fg_color: white;
$terminal_borders_color: darken($terminal_bg_color, 10%);

// Widget Colors
$headerbar_bg_color: if($variant == 'light', #574F4A, #363636);;
$menubar_bg_color: $headerbar_bg_color;
$headerbar_fg_color: $porcelain;
$headerbar_border_color: lighten($headerbar_bg_color, 8%);
$headerbar_text_color: $silk;
$headerbar_insensitive_color: mix($headerbar_fg_color, $headerbar_bg_color, 50%);
//
$backdrop_headerbar_bg_color: $headerbar_bg_color;
$backdrop_headerbar_fg_color: mix($headerbar_fg_color, $headerbar_bg_color, 70%);
$backdrop_headerbar_text_color: mix($headerbar_text_color, $backdrop_headerbar_bg_color, 70%);
$backdrop_headerbar_insensitive_color: mix($headerbar_fg_color, $backdrop_headerbar_bg_color, 70%);
$backdrop_menubar_bg_color: lighten($menubar_bg_color, 5%);
