// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_.scss - Desc
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 
/***************
 * Base States *
 ***************/
/************
 * Tooltips *
 ************/
/*****************
 * Miscellaneous *
 ****************/
/**************
 * Separators *
 **************/
/**************
 * Text Entry *
 **************/
/*************
 * Text view *
 *************/
/*******************
* Symbolic images *
*******************/
/****************
 * Progress bar *
 ****************/
/************
* Level Bar *
************/
/********
* Scale *
********/
/*********
* Frames *
*********/
/**********
* Buttons *
**********/
/***************************
* Overlay Button *
***************************/
/***************************
* Secondary Toolbar Button *
***************************/
/******************
* Circular Button *
******************/
/*****************
 * Spinbutton *
 *****************/
/*****************
 * Color Chooser *
 *****************/
/*************
* ComboBoxes *
*************/

/*********
* Linked *
*********/
/********************
* Notebook and Tabs *
********************/
/*************
* Scrollbars *
*************/
/********
* Menus *
********/
/*******************************
 * Check and Radio, and Switch *
 ******************************/
/***********
* Toolbars *
***********/
/***************
 * Header Bars *
 **************/
/***************
 * Action bars *
 ***************/

actionbar {
    padding: 1px 6px;
    text-shadow: 0 1px alpha (@bg_highlight_color, 0.4);
    background-image:
        linear-gradient(
            to bottom,
            @titlebar_color,
            shade (
                @titlebar_color,
                0.94
            )
        );
    border-style: solid;
    border-width: 1px 0 0;
    border-top-color: shade (@bg_color, 0.58);
    box-shadow:
        inset 0 0 0 1px alpha (@bg_highlight_color, 0.05),
        inset 0 1px 0 0 alpha (@bg_highlight_color, 0.45),
        inset 0 -1px 0 0 alpha (@bg_highlight_color, 0.15);
    -gtk-icon-shadow: 0 1px alpha (@bg_highlight_color, 0.4);
}

dialog actionbar {
    background-image: none;
    background-color: @bg_color;
    border-top-color: shade (@bg_color, 0.8);
    border-radius: 0 0 4px 4px;
}

actionbar button.image-button {
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    padding: 5px 5px 4px;
}

actionbar .title {
    font-size: 11pt;
    font-weight: bold;
    padding: 0 12px;
}

actionbar .subtitle {
    font-size: 9pt;
    padding: 0 12px;
}

/******************
* Inline Toolbars *
******************/
/***************
 * Search bars *
 ***************/
/**************************
* Suggested Action Button *
**************************/
/****************************
* Destructive Action Button *
****************************/
/*********************
* Insensitive Button *
**********************/
/***************
* GtkAssistant *
***************/
/*****************************
* Tree, List, and Icon Views *
*****************************/
/***********
 * FlowBox *
 ***********/
/*********************
 * App Notifications *
 *********************/
/******************
 * Column Headers *
 *****************/
/*************
* List Boxes *
*************/
/***************
* Content View *
***************/
/************************
* Sidebar & Source List *
************************/
/***********
* Expander *
***********/
/**************
* GtkCalendar *
**************/
/*************
* GtkInfoBar *
*************/
/***********
 * Popover *
 **********/
/*******
 * CSD *
 ******/
/**********
 * Dialog *
 **********/
/***************
* Emoji Picker *
***************/
/**************
* Text Styles *
**************/
