// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_.scss - Desc
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 
/***************
 * Base States *
 ***************/
/************
 * Tooltips *
 ************/
/*****************
 * Miscellaneous *
 ****************/
/**************
 * Separators *
 **************/
/**************
 * Text Entry *
 **************/
/*************
 * Text view *
 *************/
/*******************
* Symbolic images *
*******************/
/****************
 * Progress bar *
 ****************/
/************
* Level Bar *
************/
/********
* Scale *
********/
/*********
* Frames *
*********/
/**********
* Buttons *
**********/
/***************************
* Overlay Button *
***************************/
/***************************
* Secondary Toolbar Button *
***************************/
/******************
* Circular Button *
******************/
/*****************
 * Spinbutton *
 *****************/
/*****************
 * Color Chooser *
 *****************/
/*************
* ComboBoxes *
*************/

/*********
* Linked *
*********/
/********************
* Notebook and Tabs *
********************/
/*************
* Scrollbars *
*************/
/********
* Menus *
********/
/*******************************
 * Check and Radio, and Switch *
 ******************************/
/***********
* Toolbars *
***********/
/***************
 * Header Bars *
 **************/
/***************
 * Action bars *
 ***************/

actionbar {
    padding: 1px 6px;
    text-shadow: 0 1px alpha (@bg_highlight_color, 0.4);
    background-image:
        linear-gradient(
            to bottom,
            @titlebar_color,
            shade (
                @titlebar_color,
                0.94
            )
        );
    border-style: solid;
    border-width: 1px 0 0;
    border-top-color: shade (@bg_color, 0.58);
    box-shadow:
        inset 0 0 0 1px alpha (@bg_highlight_color, 0.05),
        inset 0 1px 0 0 alpha (@bg_highlight_color, 0.45),
        inset 0 -1px 0 0 alpha (@bg_highlight_color, 0.15);
    -gtk-icon-shadow: 0 1px alpha (@bg_highlight_color, 0.4);
}

dialog actionbar {
    background-image: none;
    background-color: @bg_color;
    border-top-color: shade (@bg_color, 0.8);
    border-radius: 0 0 4px 4px;
}

actionbar button.image-button {
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    padding: 5px 5px 4px;
}

actionbar .title {
    font-size: 11pt;
    font-weight: bold;
    padding: 0 12px;
}

actionbar .subtitle {
    font-size: 9pt;
    padding: 0 12px;
}

/******************
* Inline Toolbars *
******************/
/***************
 * Search bars *
 ***************/
/**************************
* Suggested Action Button *
**************************/
/****************************
* Destructive Action Button *
****************************/
/*********************
* Insensitive Button *
**********************/
/***************
* GtkAssistant *
***************/
/*****************************
* Tree, List, and Icon Views *
*****************************/
/***********
 * FlowBox *
 ***********/
/*********************
 * App Notifications *
 *********************/
/******************
 * Column Headers *
 *****************/
/*************
* List Boxes *
*************/
/***************
* Content View *
***************/
/************************
* Sidebar & Source List *
************************/
/***********
* Expander *
***********/
/**************
* GtkCalendar *
**************/
/*************
* GtkInfoBar *
*************/
/***********
 * Popover *
 **********/

popover,
popover.osd,
.popover,
.popover.osd {
    border-radius: 4px;
    border: 1px solid alpha (#000, 0.3);
    background-color: @bg_color;
    box-shadow:
        inset 0 -1px 0 0 alpha (@bg_highlight_color, 0.5),
        0 3px 6px alpha (#000, 0.16),
        0 3px 6px alpha (#000, 0.23);
    margin: 10px 6px;
    text-shadow: none;
}

popover image {
    color: alpha (@text_color, 0.8);
}

popover image:disabled {
    color: @insensitive_color;
}

popover .view,
popover .sidebar.view,
.popover .view {
    background-color: transparent;
}

popover.menu,
.popover.menu {
    background-image: none;
}

.popover > .location-bar,
.popover.osd > .toolbar,
.popover.osd > .inline-toolbar,
.popover.osd > .search-bar,
.popover.osd > .location-bar {
    border-style: none;
    background-image: none;
    background-color: transparent;
}

.popover actionbar {
    background-image: none;
    padding: 6px;
    border-color: shade(@base_color, 0.8);
}

.popover actionbar .button {
    padding: 3px 6px;
}

GcrCertificateWidget .frame {
    border: none;
}

/*******
 * CSD *
 ******/
/**********
 * Dialog *
 **********/

dialog decoration,
messagedialog decoration {
    border-radius: 4px;
    box-shadow:
        0 0 0 1px alpha (#000, 0.2),
        0 8px 10px 1px alpha (#000, 0.14),
        0 3px 14px 2px alpha (#000, 0.12),
        0 5px 5px -3px alpha (#000, 0.4),
        0 14px 28px transparent;
}

dialog,
messagedialog {
    border-radius: 0 0 4px 4px;
    box-shadow:
        inset 1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset -1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset 0 -1px 0 0 alpha (@bg_highlight_color, 0.3);
}

messagedialog,
.prompt {
    -GtkDialog-button-spacing: 0;
    -GtkDialog-content-area-border: 12px;
    -gtk-icon-style: regular;
}

messagedialog button {
    padding: 6px;
}

messagedialog .titlebar,
dialog .titlebar {
    border: none;
    background-image: none;
    background-color: @bg_color;
    box-shadow:
        inset 1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset -1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset 0 1px 0 0 @bg_highlight_color;
}

dialog .titlebar:backdrop,
messagedialog .titlebar:backdrop {
    border: none;
    background-image: none;
    background-color: @bg_color;
    box-shadow:
        inset 1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset -1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset 0 1px 0 0 @bg_highlight_color;
}

dialog .titlebar image,
dialog .titlebar label {
    color: @title_color;
    text-shadow: 0 1px @title_shadow_color;
    -gtk-icon-shadow: 0 1px @title_shadow_color;
}

dialog .titlebar .title {
    color: transparent;
    font-size: 0;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

dialog notebook,
dialog toolbar {
    background-image: none;
    background-color: @bg_color;
}

dialog label.primary {
    font-weight: 700;
    font-size: 11pt;
}

/***************
* Emoji Picker *
***************/

.emoji-picker entry {
    margin: 12px;
    margin-bottom: 0;
}

.emoji-picker box > label {
    color: alpha (@text_color, 0.7);
    font-weight: bold;
    margin-left: 7px;
    margin-right: 7px;
}

.emoji-picker .emoji {
    min-height: 48px;
    min-width: 48px;
    font-size: 16px;
}

.emoji-picker stack box > box {
    border-top: 1px solid @border_color;
    border-radius: 0 0 3px 3px;
    box-shadow: none;
    background-color: @bg_color;
    background-image:
        linear-gradient(
            to bottom,
            alpha (
                #000,
                0.12
            ),
            alpha (
                #000,
                0
            ) 2px
        );
}

.emoji-picker .emoji-section,
.emoji-picker .emoji-section:checked {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 0;
    min-height: 24px;
    min-width: 24px;
    opacity: 0.6;
}

.emoji-picker .emoji-section:hover {
    opacity: 0.8;
}

.emoji-picker .emoji-section:checked {
    opacity: 1;
}

.emoji-picker .emoji-section:first-child {
    border-radius: 0 0 0 3px;
}

.emoji-picker .emoji-section:last-child {
    border-radius: 0 0 3px;
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(1),
.emoji-picker:dir(rtl) .emoji-section:nth-child(10) {
    background-image: -gtk-icontheme("document-open-recent-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(2),
.emoji-picker:dir(rtl) .emoji-section:nth-child(9) {
    background-image: -gtk-icontheme("face-smile-big-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(3),
.emoji-picker:dir(rtl) .emoji-section:nth-child(8) {
    background-image: -gtk-icontheme("emoji-body-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(4),
.emoji-picker:dir(rtl) .emoji-section:nth-child(7) {
    background-image: -gtk-icontheme("emoji-nature-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(5),
.emoji-picker:dir(rtl) .emoji-section:nth-child(6) {
    background-image: -gtk-icontheme("emoji-food-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(6),
.emoji-picker:dir(rtl) .emoji-section:nth-child(5) {
    background-image: -gtk-icontheme("emoji-travel-symbolic");
    font-size: 0;
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(7),
.emoji-picker:dir(rtl) .emoji-section:nth-child(4) {
    background-image: -gtk-icontheme("emoji-activity-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(8),
.emoji-picker:dir(rtl) .emoji-section:nth-child(3) {
    background-image: -gtk-icontheme("emoji-objects-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(9),
.emoji-picker:dir(rtl) .emoji-section:nth-child(2) {
    background-image: -gtk-icontheme("face-heart-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(10),
.emoji-picker:dir(rtl) .emoji-section:nth-child(1) {
    background-image: -gtk-icontheme("edit-flag-symbolic");
}

/**************
* Text Styles *
**************/

.dim-label {
    opacity: 0.75;
}

.attention {
    color: @attention_color;
}

image.error,
.error {
    color: @error_color;
}

image.warning,
.warning {
    color: @warning_color;
}

label.warning {
    color: @BANANA_900;
}

image.success,
.success {
    color: @success_color;
}

label.success {
    color: @LIME_900;
}

link {
    color: @link_color;
}
