// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_.scss - Desc
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 
/***************
 * Base States *
 ***************/
/************
 * Tooltips *
 ************/
/*****************
 * Miscellaneous *
 ****************/
/**************
 * Separators *
 **************/
/**************
 * Text Entry *
 **************/
/*************
 * Text view *
 *************/
/*******************
* Symbolic images *
*******************/
/****************
 * Progress bar *
 ****************/
/************
* Level Bar *
************/
/********
* Scale *
********/
/*********
* Frames *
*********/
/**********
* Buttons *
**********/
/***************************
* Overlay Button *
***************************/
/***************************
* Secondary Toolbar Button *
***************************/
/******************
* Circular Button *
******************/
/*****************
 * Spinbutton *
 *****************/
/*****************
 * Color Chooser *
 *****************/
/*************
* ComboBoxes *
*************/

/*********
* Linked *
*********/
/********************
* Notebook and Tabs *
********************/
/*************
* Scrollbars *
*************/
/********
* Menus *
********/
/*******************************
 * Check and Radio, and Switch *
 ******************************/
/***********
* Toolbars *
***********/
/***************
 * Header Bars *
 **************/
/***************
 * Action bars *
 ***************/

actionbar {
    padding: 1px 6px;
    text-shadow: 0 1px alpha (@bg_highlight_color, 0.4);
    background-image:
        linear-gradient(
            to bottom,
            @titlebar_color,
            shade (
                @titlebar_color,
                0.94
            )
        );
    border-style: solid;
    border-width: 1px 0 0;
    border-top-color: shade (@bg_color, 0.58);
    box-shadow:
        inset 0 0 0 1px alpha (@bg_highlight_color, 0.05),
        inset 0 1px 0 0 alpha (@bg_highlight_color, 0.45),
        inset 0 -1px 0 0 alpha (@bg_highlight_color, 0.15);
    -gtk-icon-shadow: 0 1px alpha (@bg_highlight_color, 0.4);
}

dialog actionbar {
    background-image: none;
    background-color: @bg_color;
    border-top-color: shade (@bg_color, 0.8);
    border-radius: 0 0 4px 4px;
}

actionbar button.image-button {
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    padding: 5px 5px 4px;
}

actionbar .title {
    font-size: 11pt;
    font-weight: bold;
    padding: 0 12px;
}

actionbar .subtitle {
    font-size: 9pt;
    padding: 0 12px;
}

/******************
* Inline Toolbars *
******************/
/***************
 * Search bars *
 ***************/
/**************************
* Suggested Action Button *
**************************/
/****************************
* Destructive Action Button *
****************************/
/*********************
* Insensitive Button *
**********************/
/***************
* GtkAssistant *
***************/
/*****************************
* Tree, List, and Icon Views *
*****************************/
/***********
 * FlowBox *
 ***********/
/*********************
 * App Notifications *
 *********************/

.app-notification,
.app-notification.frame {
    background-color: alpha (@text_color, 0.85);
    border-radius: 4px;
    border: none;
    padding: 6px;
    text-shadow: 0 1px 2px alpha (@text_color, 0.6);
    background-clip: padding-box;
}

.app-notification label {
    color: @bg_color;
    text-shadow: 0 1px 2px alpha (@text_color, 0.6);
}

.app-notification button,
.app-notification button.flat.image-button,
.app-notification .button,
.app-notification .button.flat.image-button {
    background-color: alpha (@bg_color, 0.9);
    color: @text_color;
    box-shadow: none;
    border-width: 0;
    -gtk-icon-shadow: none;
}

.app-notification button label {
    color: @text_color;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

.app-notification button.close-button,
.app-notification .button.close-button {
    background-color: @text_color;
    border-radius: 50%;
    padding: 4px;
    color: alpha (@bg_color, 0.9);
}

.app-notification button:active,
.app-notification .button:active {
    background-color: @bg_color;
    box-shadow:
        0 3px 6px alpha (@text_color, 0.16),
        0 3px 6px alpha (@text_color, 0.23);
}

.app-notification button.close-button:active,
.app-notification .button.close-button:active {
    background-color: alpha (@text_color, 0.7);
    color: alpha (@bg_color, 0.7);
}

/******************
 * Column Headers *
 *****************/

treeview header button,
column-header .button {
    border-left-width: 0;
    border-top-width: 0;
    border-radius: 0;
    background-color: @bg_color;
    background-image:
        linear-gradient(
            to bottom,
            shade (
                @base_color,
                0.88
            ),
            @base_color
        );
    font-weight: bold;
    padding: 4px 2px;
}

treeview header button:last-child,
column-header:last-child .button {
    border-right-width: 0;
}

treeview header button:hover,
column-header .button:hover {
    background-image:
        linear-gradient(
            to bottom,
            shade (
                @base_color,
                0.8
            ),
            @base_color
        );
}

treeview header button:backdrop,
column-header .button:backdrop {
    background-image: none;
}

treeview header button:backdrop:hover,
column-header .button:backdrop:hover {
    background-image:
        linear-gradient(
            to bottom,
            shade (
                @bg_color,
                0.92
            ),
            @bg_color
        );
}

treeview header button label {
    padding-left: 3px;
    color: shade (@text_color, 1.8);
}

treeview header button:backdrop label {
    color: shade (@text_color, 2.8);
}

/*************
* List Boxes *
*************/

list,
.list {
    background-color: @base_color;
}

popover list,
.popover GtkListBox,
.popover .list {
    background-color: transparent;
}

row,
.list-row {
    border-color: @border_color;
}

row,
.list-row.button {
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

row:selected button,
.list-row:selected:focus .button {
    background-color: @bg_color;
    transition: none;
}

row:selected button.flat,
.list-row:selected:focus .button.flat {
    background-color: alpha (@text_color, 0.3);
    text-shadow: 0 1px 1px alpha (@text_color, 0.15);
    -gtk-icon-shadow: 0 1px 1px alpha (@text_color, 0.15);
}

row:selected,
row:selected:backdrop,
.list-row:selected,
.list-row:selected:backdrop {
    background-color: shade (@base_color, 0.8);
    color: @text_color;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

row:selected:focus,
.list-row:selected:focus {
    background-color: @colorAccent;
    color: @selected_fg_color;
}

row:selected:focus image {
    color: @selected_fg_color;
}

.list-row GtkTextView {
    background-color: transparent;
}

/***************
* Content View *
***************/

.content-view-window {
    border: 1px solid alpha (#000, 0.25);
    border-radius: 5px;
}

.content-view,
.content-view viewport {
    background-color: transparent;
    background-image: none;
}

.content-view column-header .button {
    border-width: 0 0 1px 1px;
    background-image:
        linear-gradient(
            to bottom,
            @bg_color,
            shade (
                @bg_color,
                0.94
            )
        );
    border-image:
        linear-gradient(
            to bottom,
            shade (
                @base_color,
                0.86
            ),
            shade (
                @base_color,
                0.7
            )
        ) 1 0 1 0;
}

.content-view .title,
.content-view .option-title {
    color: @text_color;
    text-shadow: 0 1px alpha (#fff, 0.3);
}

.content-view .subtitle,
.content-view .option-description {
    color: alpha (@text_color, 0.5);
    text-shadow: 0 1px @text_shadow_color;
}

.content-view .toolbar {
    padding: 1px;
    background-image:
        linear-gradient(
            to bottom,
            alpha (
                #000,
                0.1
            ),
            alpha (
                #000,
                0.03
            )
        );
    border-color: alpha (#000, 0.05);
}

/************************
* Sidebar & Source List *
************************/

.sidebar,
.sidebar.view,
.sidebar list,
.source-list,
.source-list.view {
    background-color: shade (@bg_color, 0.92);
    color: mix (@bg_color, @text_color, 0.77);
    -gtk-icon-style: regular;
    -GtkTreeView-horizontal-separator: 1px;
    -GtkTreeView-vertical-separator: 6px;
}

dialog .sidebar,
dialog .sidebar list,
dialog .source-list {
    background-color: shade (@titlebar_color, 1.07);
}

.sidebar row,
.sidebar .list-row,
.sidebar-item,
.sidebar-row {
    border-color: transparent;
    border-style: solid;
    border-width: 1px 0;
    padding: 0 6px;
}

.sidebar button {
    padding: 3px;
}

.sidebar label,
.sidebar-item label {
    padding: 4px;
}

.sidebar-item image,
.sidebar-row image {
    padding-right: 6px;
}

.sidebar row label,
.sidebar .list-row,
.sidebar .view,
.sidebar-item,
.sidebar-row,
.source-list .view {
    text-shadow: 0 1px @text_shadow_color;
}

.sidebar row:hover,
.sidebar .list-row:hover,
.sidebar .view:hover,
.sidebar-item:hover,
.sidebar-row:hover,
.source-list .view:hover {
    background-color: shade (@titlebar_color, 1.1);
}

.popover .sidebar.view:selected,
.sidebar row:selected,
.sidebar .list-row:selected,
.sidebar .view:selected,
.sidebar-item.list-row:selected,
.sidebar-row:selected,
.source-list .view:selected,
.source-list.category-expander:hover {
    color: mix (@titlebar_color, @text_color, 0.6);
    background-color: transparent;
    background-image:
        linear-gradient(
            to bottom,
            alpha (
                #000,
                0.11
            ),
            alpha (
                #000,
                0.07
            )
        );
    border-image:
        linear-gradient(
            to bottom,
            alpha (
                #000,
                0.25
            ),
            alpha (
                @bg_highlight_color,
                0.3
            )
        ) 1 1 1 1;
    border-style: solid;
    border-width: 1px 0;
    box-shadow:
        inset 0 1px 0 0 alpha (#000, 0.03),
        inset 0 -1px 0 0 alpha (#000, 0.1);
}

dialog .sidebar .view:selected,
dialog .sidebar row:selected,
dialog .sidebar row:selected:focus,
dialog .source-list .view:selected {
    color: mix (@titlebar_color, @text_color, 0.6);
    background-image: none;
    background-color: alpha (#000, 0.05);
    border-image:
        linear-gradient(
            to bottom,
            alpha (
                #000,
                0.15
            ),
            alpha (
                @bg_highlight_color,
                0.3
            )
        ) 1 1 1 1;
    box-shadow:
        inset 0 1px 0 0 alpha (#000, 0.02),
        inset 0 -1px 0 0 alpha (#000, 0.1);
}

dialog .sidebar-row:selected:focus image {
    background-color: transparent;
}

.sidebar .list-row:backdrop,
.sidebar:backdrop,
.sidebar-item:backdrop,
.sidebar-row:backdrop,
.sidebar .view:backdrop,
.source-list:backdrop,
.source-list .view:backdrop {
    color: mix (@titlebar_color, @text_color, 0.4);
    -gtk-icon-effect: dim;
}

.sidebar .list-row:selected:backdrop,
.sidebar .view:selected:backdrop,
.sidebar-item:selected:backdrop,
.sidebar-row:selected:backdrop,
.source-list .view:selected:backdrop {
    color: mix (@titlebar_color, @text_color, 0.4);
    background-image:
        linear-gradient(
            to bottom,
            alpha (
                #000,
                0.04
            ),
            alpha (
                #000,
                0.03
            )
        );
    border-image:
        linear-gradient(
            to bottom,
            alpha (
                #000,
                0.15
            ),
            alpha (
                #fff,
                0.25
            )
        ) 1 1 1 1;
}

dialog .sidebar .view:selected:backdrop,
dialog .sidebar-row:selected:backdrop,
dialog .source-list .view:selected:backdrop {
    background-color: alpha (#000, 0.05);
    background-image: none;
    border-image:
        linear-gradient(
            to bottom,
            alpha (
                #000,
                0.15
            ),
            alpha (
                #fff,
                0.25
            )
        ) 1 1 1 1;
}

.sidebar.frame {
    border-width: 0 1px 0 0;
}

.sidebar .frame {
    border: none;
}

.sidebar .stack-switcher button {
    -gtk-icon-style: symbolic;
    border-radius: 0;
    border-top-width: 0;
    min-height: 23px;
}

.sidebar .stack-switcher button:first-child {
    border-left-width: 0;
}

.sidebar .stack-switcher button:last-child {
    border-right-width: 0;
}

.sidebar list separator {
    border: none;
}

/***********
* Expander *
***********/

expander arrow,
.expander,
.category-expander {
    min-height: 16px;
    min-width: 16px;
    transition: all 150ms ease-in-out;
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

expander arrow:dir(rtl),
.expander:dir(rtl),
.category-expander:dir(rtl) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

.source-list.category-expander,
.source-list.category-expander:backdrop {
    color: transparent;
    border: none;
}

expander arrow:checked,
.expander:checked,
.category-expander:checked {
    -gtk-icon-transform: rotate(90deg);
}

expander arrow:checked:dir(rtl),
.expander:checked:dir(rtl),
.category-expander:checked:dir(rtl) {
    -gtk-icon-transform: rotate(-90deg);
}

/**************
* GtkCalendar *
**************/

calendar {
    border-radius: 2px;
}

calendar button,
calendar button:disabled,
calendar header,
calendar .view {
    background-color: transparent;
    background-image: none;
}

.highlight {
    color: #777;
}

/*************
* GtkInfoBar *
*************/

infobar {
    background-color: @bg_color;
    border-color: shade (@bg_color, 0.8);
    border-style: solid;
    border-width: 0 0 1px;
    box-shadow:
        inset 0 1px 0 0 shade (@bg_color, 0.92),
        inset 0 -1px 0 0 shade (@bg_color, 1.2);
}

infobar.frame {
    border-radius: 3px;
    box-shadow:
        inset 0 0 0 1px alpha (#fff, 0.05),
        inset 0 1px 0 0 alpha (#fff, 0.45),
        inset 0 -1px 0 0 alpha (#fff, 0.15),
        0 1px 1px alpha (#000, 0.03),
        0 1px 2px alpha (#000, 0.1);
}

infobar label {
    color: @text_color;
    padding: 3px;
}

infobar.error {
    background-color: shade (@error_color, 1.2);
    border-color: @error_color;
    box-shadow:
        inset 0 1px 0 0 alpha (@error_color, 0.3),
        inset 0 -1px 0 0 alpha (#fff, 0.3);
}

infobar.error label {
    color: #fff;
    text-shadow: 0 1px 1px @error_color;
}

infobar.question {
    background-color: shade (@selected_bg_color, 1.2);
    border-color: shade (@selected_bg_color, 0.9);
    box-shadow:
        inset 0 1px 0 0 alpha (@selected_bg_color, 0.3),
        inset 0 -1px 0 0 alpha (#fff, 0.3);
}

infobar.question label {
    color: shade (@selected_bg_color, 0.25);
}

infobar.warning {
    background-color: shade (@warning_color, 1.2);
    border-color: shade (@warning_color, 0.9);
    box-shadow:
        inset 0 1px 0 0 @warning_color,
        inset 0 -1px 0 0 alpha (#fff, 0.4);
}

infobar.warning button {
    border-color: shade (@warning_color, 0.8);
}

infobar.warning button:backdrop {
    border-color: shade (@warning_color, 0.9);
}

infobar.warning label {
    color: shade (@warning_color, 0.25);
}

infobar entry,
infobar menu {
    color: @text_color;
}

infobar label:disabled {
    color: @insensitive_color;
}

infobar button,
infobar button:focus,
notebook infobar button {
    border: 1px solid alpha (#000, 0.3);
    text-shadow: none;
}

infobar button label {
    padding: 0 6px;
}

infobar button:disabled,
infobar button:hover:disabled {
    opacity: 0.7;
}

/***********
 * Popover *
 **********/

popover,
popover.osd,
.popover,
.popover.osd {
    border-radius: 4px;
    border: 1px solid alpha (#000, 0.3);
    background-color: @bg_color;
    box-shadow:
        inset 0 -1px 0 0 alpha (@bg_highlight_color, 0.5),
        0 3px 6px alpha (#000, 0.16),
        0 3px 6px alpha (#000, 0.23);
    margin: 10px 6px;
    text-shadow: none;
}

popover image {
    color: alpha (@text_color, 0.8);
}

popover image:disabled {
    color: @insensitive_color;
}

popover .view,
popover .sidebar.view,
.popover .view {
    background-color: transparent;
}

popover.menu,
.popover.menu {
    background-image: none;
}

.popover > .location-bar,
.popover.osd > .toolbar,
.popover.osd > .inline-toolbar,
.popover.osd > .search-bar,
.popover.osd > .location-bar {
    border-style: none;
    background-image: none;
    background-color: transparent;
}

.popover actionbar {
    background-image: none;
    padding: 6px;
    border-color: shade(@base_color, 0.8);
}

.popover actionbar .button {
    padding: 3px 6px;
}

GcrCertificateWidget .frame {
    border: none;
}

/*******
 * CSD *
 ******/
/**********
 * Dialog *
 **********/

dialog decoration,
messagedialog decoration {
    border-radius: 4px;
    box-shadow:
        0 0 0 1px alpha (#000, 0.2),
        0 8px 10px 1px alpha (#000, 0.14),
        0 3px 14px 2px alpha (#000, 0.12),
        0 5px 5px -3px alpha (#000, 0.4),
        0 14px 28px transparent;
}

dialog,
messagedialog {
    border-radius: 0 0 4px 4px;
    box-shadow:
        inset 1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset -1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset 0 -1px 0 0 alpha (@bg_highlight_color, 0.3);
}

messagedialog,
.prompt {
    -GtkDialog-button-spacing: 0;
    -GtkDialog-content-area-border: 12px;
    -gtk-icon-style: regular;
}

messagedialog button {
    padding: 6px;
}

messagedialog .titlebar,
dialog .titlebar {
    border: none;
    background-image: none;
    background-color: @bg_color;
    box-shadow:
        inset 1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset -1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset 0 1px 0 0 @bg_highlight_color;
}

dialog .titlebar:backdrop,
messagedialog .titlebar:backdrop {
    border: none;
    background-image: none;
    background-color: @bg_color;
    box-shadow:
        inset 1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset -1px 0 0 0 alpha (@bg_highlight_color, 0.2),
        inset 0 1px 0 0 @bg_highlight_color;
}

dialog .titlebar image,
dialog .titlebar label {
    color: @title_color;
    text-shadow: 0 1px @title_shadow_color;
    -gtk-icon-shadow: 0 1px @title_shadow_color;
}

dialog .titlebar .title {
    color: transparent;
    font-size: 0;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

dialog notebook,
dialog toolbar {
    background-image: none;
    background-color: @bg_color;
}

dialog label.primary {
    font-weight: 700;
    font-size: 11pt;
}

/***************
* Emoji Picker *
***************/

.emoji-picker entry {
    margin: 12px;
    margin-bottom: 0;
}

.emoji-picker box > label {
    color: alpha (@text_color, 0.7);
    font-weight: bold;
    margin-left: 7px;
    margin-right: 7px;
}

.emoji-picker .emoji {
    min-height: 48px;
    min-width: 48px;
    font-size: 16px;
}

.emoji-picker stack box > box {
    border-top: 1px solid @border_color;
    border-radius: 0 0 3px 3px;
    box-shadow: none;
    background-color: @bg_color;
    background-image:
        linear-gradient(
            to bottom,
            alpha (
                #000,
                0.12
            ),
            alpha (
                #000,
                0
            ) 2px
        );
}

.emoji-picker .emoji-section,
.emoji-picker .emoji-section:checked {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 0;
    min-height: 24px;
    min-width: 24px;
    opacity: 0.6;
}

.emoji-picker .emoji-section:hover {
    opacity: 0.8;
}

.emoji-picker .emoji-section:checked {
    opacity: 1;
}

.emoji-picker .emoji-section:first-child {
    border-radius: 0 0 0 3px;
}

.emoji-picker .emoji-section:last-child {
    border-radius: 0 0 3px;
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(1),
.emoji-picker:dir(rtl) .emoji-section:nth-child(10) {
    background-image: -gtk-icontheme("document-open-recent-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(2),
.emoji-picker:dir(rtl) .emoji-section:nth-child(9) {
    background-image: -gtk-icontheme("face-smile-big-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(3),
.emoji-picker:dir(rtl) .emoji-section:nth-child(8) {
    background-image: -gtk-icontheme("emoji-body-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(4),
.emoji-picker:dir(rtl) .emoji-section:nth-child(7) {
    background-image: -gtk-icontheme("emoji-nature-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(5),
.emoji-picker:dir(rtl) .emoji-section:nth-child(6) {
    background-image: -gtk-icontheme("emoji-food-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(6),
.emoji-picker:dir(rtl) .emoji-section:nth-child(5) {
    background-image: -gtk-icontheme("emoji-travel-symbolic");
    font-size: 0;
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(7),
.emoji-picker:dir(rtl) .emoji-section:nth-child(4) {
    background-image: -gtk-icontheme("emoji-activity-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(8),
.emoji-picker:dir(rtl) .emoji-section:nth-child(3) {
    background-image: -gtk-icontheme("emoji-objects-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(9),
.emoji-picker:dir(rtl) .emoji-section:nth-child(2) {
    background-image: -gtk-icontheme("face-heart-symbolic");
}

.emoji-picker:dir(ltr) .emoji-section:nth-child(10),
.emoji-picker:dir(rtl) .emoji-section:nth-child(1) {
    background-image: -gtk-icontheme("edit-flag-symbolic");
}

/**************
* Text Styles *
**************/

.dim-label {
    opacity: 0.75;
}

.attention {
    color: @attention_color;
}

image.error,
.error {
    color: @error_color;
}

image.warning,
.warning {
    color: @warning_color;
}

label.warning {
    color: @BANANA_900;
}

image.success,
.success {
    color: @success_color;
}

label.success {
    color: @LIME_900;
}

link {
    color: @link_color;
}
