// See gtk.scss for full license and copyright information
/* 
 * _variables.scss - Some commonly reused variables.
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 
// Radii
$corner_radius: 4px;
$circular_radius: 999px;

// Sizes
$mini_size: if($slim == 'false', 4px, 2px);
$tiny_size: if($slim == 'false', 12px, 10px);
$small_size: if($slim == 'false', 16px, 14px);
$medium_size: if($slim == 'false', 24px, 20px);
$large_size: if($slim == 'false', 32px, 28px);

$line_size: 2px;
$border_size: 1px;
$progress_size: 4px;
$marks_size: 6px;
$check_size: 18px;
$switch_size: 20px;
$toolbar_size: if($slim == 'false', 42px, 32px);
$arrow_size: 19px;

// Padding
$no_padding: 1px;
$mini_padding: 2px;
$tinier_padding: 4px;
$tiny_padding: if($slim == 'false', 6px, 4px);
$small_padding: if($slim == 'false', 8px, 6px);
$standard_padding: if($slim == 'false', 12px, 10px);
$large_padding: if($slim == 'false', 16px, 12px);

$no_padding_em: 0.1em;
$mini_padding_em: 0.2em;
$tinier_padding_em: 0.4em;
$tiny_padding_em: if($slim == 'false', 0.6em, 0.4em);
$small_padding_em: if($slim == 'false', 0.8em, 0.6em);
$standard_padding_em: if($slim == 'false', 1.2em, 1em);
$large_padding_em: if($slim == 'false', 1.6em, 1.2em);

// Shadows:
$shadow_0: 0 1px 2px rgba(0, 0, 0, 0.08);
$shadow_1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow_2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow_3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow_4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow_5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$shadow_hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

// Durations
$standard_duration: 300ms;

// Transitions
$standard_transition: all $standard_duration cubic-bezier(.25,.8,.25,1);
