// See gtk.scss for full license and copyright information
/* 
 * _variables.scss - Some commonly reused variables.
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

@mixin reset {
  background: none;
  box-shadow: none;
  border-image: none;
  border: none;
  padding: 0;
  margin: 0;
}
 
// Radii
$corner_radius: 4px;
$circular_radius: 999px;

// Sizes
$mini_size: if($slim == 'false',4px, 2px);
$tiny_size: if($slim == 'false', 12px, 10px);
$small_size: if($slim == 'false', 16px, 14px);
$medium_size: if($slim == 'false', 24px, 20px);
$large_size: if($slim == 'false', 32px, 28px);

$line_size: 2px;
$border_size: 1px;
$marks_size: 6px;

// Padding
$no_padding: 1px;
$mini_padding: 2px;
$tiny_padding: if($slim == 'false', 6px, 4px);
$small_padding: if($slim == 'false', 8px, 6px);
$standard_padding: if($slim == 'false', 12px, 10px);
$large_padding: if($slim == 'false', 16px, 12px);

$no_padding_em: 0.1em;
$mini_padding_em: 0.2em;
$tiny_padding_em: if($slim == 'false', 0.6em, 0.4em);
$small_padding_em: if($slim == 'false', 0.8em, 0.6em);
$standard_padding_em: if($slim == 'false', 1.2em, 1em);
$large_padding_em: if($slim == 'false', 1.6em, 1.2em);

// Shadows:
$shadow_0: 0 1px 2px rgba(0, 0, 0, 0.08);
$shadow_1: 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow_2: 0 3px 3px rgba(0, 0, 0, 0.23);
$shadow_3: 0 6px 3px rgba(0, 0, 0, 0.23);
$shadow_4: 0 10px 5px rgba(0, 0, 0, 0.22);
$shadow_5: 0 15px 6px rgba(0, 0, 0, 0.22);

// Durations
$standard_duration: 200ms;