// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_base.scss - Base/fallback states for GTK Widgets and Mixins
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 
@mixin reset {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  border-image: none;
}

@mixin base_states {
  color: $fg_color;
  
  &:backdrop {
    opacity: 0.85;
  }
  
  &:disabled {
    opacity: 0.6;
    
    &:backdrop {
      opacity: 0.3;
    }
  }
}

@mixin underline($type, $focus_color: $color_theme_2, $line_color: $fg_color) {

  @if $type == normal {
    transition: all $standard_duration ease;
    border-image: radial-gradient(
      circle closest-corner at center calc(100% - 1px),
      to400($line_color) 100%,
      transparent 0%)
      0 0 2 / 0 0 2px; // sass-lint:disable-line indentation 
  }

  @if $type == focus {
    border-image: radial-gradient(
      circle closest-corner at center calc(100% - 1px),
      $focus_color 100%,
      transparent 0%)
      0 0 2 / 0 0 2px; // sass-lint:disable-line indentation 
    
    &:backdrop {
      border-image: radial-gradient(
        circle closest-corner at center calc(100% - 1px),
        to400($focus_color) 100%,
        transparent 0%)
        0 0 2 / 0 0 2px; // sass-lint:disable-line indentation
    }
  }

  @if $type == disabled {
    border-image: radial-gradient(
      circle closest-corner at center calc(100% - 1px),
      to200($line_color) 100%,
      transparent 0%)
      0 0 2 / 0 0 2px; // sass-lint:disable-line indentation 
  }

  @if $type == flat-normal {
    box-shadow: none;
    border-image: radial-gradient(
      circle closest-corner at center calc(100% - 1px),
      to400($line_color) 0%,
      transparent 0%)
      0 0 0 / 0 0 0; // sass-lint:disable-line indentation
  }

  @if $type == flat-focus {
    box-shadow: none;
    border-image: radial-gradient(
      circle closest-corner at center calc(100% - 1px),
      $color_theme_2 100%,
      transparent 0%)
      0 0 2 / 0 0 2px; // sass-lint:disable-line indentation
  }
}

@mixin flat {
  background-color: transparent;
  box-shadow: none;
  
  &:hover {
    background-color: to100($fg_color);  
    box-shadow: none;
  }
  
  &:active {
    background-color: to200($fg_color);
    box-shadow: none;
  }
  
  &:checked {
    background-color: transparent;
    @include underline(focus);
    
    &:backdrop {
      background-color: transparent;
    }
  }
}

%linked-horizontal {
  border-radius: 0;
  
  &:first-child,
  &:first-child * {
    border-radius: $corner_radius 0 0 $corner_radius;
    
    &:dir-rtl {
      border-radius: 0 $corner_radius $corner_radius 0;
    }
  }
  
  &:last-child,
  &:last-child * {
    border-radius: 0 $corner_radius $corner_radius 0;
    
    &:dir-rtl {
      border-radius: 0 $corner_radius 0 0 $corner_radius;
    }
  }
  
  &:only-child {
    border-radius: $corner_radius;
  }
}
  
%linked-vertical {
  border-radius: 0;
  
  &:first-child {
    border-radius: $corner_radius $corner_radius 0 0;
  }
  
  &:last-child {
    border-radius: 0 0 $corner_radius $corner_radius;

  }
}

* {
  //@include reset; //FIXME: Remove for debugging
  //transition: all 200ms ease;
  background-clip: padding-box;
  -GtkTextView-error-underline-color: $error_color;
  -GtkIMHtml-hyperlink-color: $color_theme_2;
  -GtkHTML-link-color: $color_theme_2;
}

.background {
  background-color: $bg_color;
  color: $fg_color;
}

.gtkstyle-fallback {
  background-color: $bg_color;
  color: $fg_color;
}

.link {
  color: $color_theme_2;
}
.visited {
  color: darken($color_theme_2, 20%);
}


image,
label,
box,
grid {
  background-color: transparent;
  
  &:disabled {
    background-color: transparent;
  }
}

