// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_base.scss - Base/fallback states for GTK Widgets and Mixins
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 
@mixin reset {
  background: none;
  box-shadow: none;
  border-image: none;
  border: none;
  padding: 0;
  margin: 0;
}

%linked-horizontal {
  border-radius: 0;
  

  &:first-child,
  &:first-child * {
    border-radius: $corner_radius 0 0 $corner_radius;
    
    &:dir-rtl {
      border-radius: 0 $corner_radius $corner_radius 0;
    }
  }
  
  &:last-child,
  &:last-child * {
    border-radius: 0 $corner_radius $corner_radius 0;
    
    &:dir-rtl {
      border-radius: 0 $corner_radius 0 0 $corner_radius;
    }
  }
  
  &:only-child {
    border-radius: $corner_radius;
  }
}
  
%linked-vertical{
  border-radius: 0;
  
  &:first-child {
    border-radius: $corner_radius $corner_radius 0 0;
  }
  
  &:last-child {
    border-radius: 0 0 $corner_radius $corner_radius;

  }
}

@mixin underline($type, $focus_color: $color_theme_2, $text_color: $fg_color) {

  @if $type == normal {
    transition: all $standard_duration ease;
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                  to400($fg_color) 100%,
                                  transparent 0%)
                                  0 0 2 / 0 0 2px;;
  }

  @if $type == focus {
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                  $focus_color 100%,
                                  transparent 0%)
                                  0 0 2 / 0 0 2px;
    
    &:backdrop {
      border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                    to400($focus_color) 100%,
                                    transparent 0%)
                                    0 0 2 / 0 0 2px;
    }
  }

  @if $type == disabled {
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                  to200($fg_color) 100%,
                                  transparent 0%)
                                  0 0 2 / 0 0 2px;;
  }

  @if $type == flat-normal {
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                  to400($fg_color) 0%,
                                  transparent 0%)
                                  0 0 0 / 0 0 0px;
    box-shadow: none;
  }

  @if $type == flat-focus {
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                  $color_theme_2 100%,
                                  transparent 0%)
                                  0 0 2 / 0 0 2px;
    box-shadow: none;
  }
}

@mixin flat {
  background-color: transparent;
  box-shadow: none;
  
  &:hover {
    background-color: to100($fg_color);  
    box-shadow: none;
  }
  
  &:active {
    background-color: to200($fg_color);
    box-shadow: none;
  }
  
  &:checked {
    background-color: transparent;
    @include underline(focus);
    
    &:backdrop {
      background-color: transparent;
    }
  }
}

@mixin base-states {
  color: $fg_color;
  
  &:backdrop {
    opacity: 0.85;
  }
  
  &:disabled {
    opacity: 0.6;
    
    &:backdrop {
      opacity: 0.3;
    }
  }
}

* {
  @include reset; //FIXME: Remove for debugging
  background-clip: padding-box;
  -GtkTextView-error-underline-color: $error_color;
  -GtkIMHtml-hyperlink-color: $color_theme_2;
  -GtkHTML-link-color: $color_theme_2;
  //-gtk-icon-palette: needs-attention @attention_color, success @success_color, warning @warning_color, error @error_color; 
}

.background {
    color: $fg_color;
    background-color: $bg_color;
}

.gtkstyle-fallback {
  color: $fg_color;
  background-color: $bg_color;
}

.link {
  color: $color_theme_2;
}
.visited {
  color: darken($color_theme_2, 20%);
}


image,
label,
box,
grid {
  background-color: transparent;
  
  &:disabled {
    background-color: transparent;
  }
}

