// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_base.scss - Base/fallback states for GTK Widgets
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 

 
.background {
    color: $fg_color;
    background-color: $bg_color;
}

* {

  background-clip: padding-box;
  -GtkTextView-error-underline-color: $error_color;
  -GtkIMHtml-hyperlink-color: $color_theme_2;
  -GtkHTML-link-color: $color_theme_2;
  //-gtk-icon-palette: needs-attention @attention_color, success @success_color, warning @warning_color, error @error_color; 
   
  &:selected {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
  }
  
  &:disabled {
    color: to600($fg_color);
    -gtk-icon-effect: dim;
  }
  
  &:hover {
    -gtk-icon-effect: none;
  }
}

.gtkstyle-fallback {
  color: $fg_color;
  background-color: $bg_color;
}

image,
label,
box,
grid {
  background-color: transparent;
  
  &:disabled {
    background-color: transparent;
  }
}
