// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_button.scss - Buttons
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

@mixin flat-button {
  @include flat;
  
  &:hover {
    background-color: to100($fg_color);
  }
  
  &:active {
    background-color: to200($fg_color);
  }
  
  &:checked {
    @include underline(focus);
    color: $fg_color;
  }
}

%button,
button,
.button {
  border: none;
  padding: $mini_padding_em;
  border-radius: $corner_radius;
  background-color: $bg_hl_color;
  box-shadow: $shadow_1;
  @include base-states;
  
  &:backdrop {
    color: to600($fg_color);
  }
  
  &:hover {
    box-shadow: $shadow_2;
  }
  
  &:active {
    box-shadow: $shadow_3;
  }
  
  &:checked {
    background-color: $color_theme_2;
    color: $inverse_fg_color;
    
    &:backdrop {
      opacity: 0.6;
    }
  }
  
  &:disabled {
    box-shadow: none;
    box-shadow: inset 0 0 0 $line_size to200($fg_color);
    
    &:checked:backdrop {
      opacity: 0.2;
    }
  }
  
  &.flat {
    @include flat-button;
  }
  
  &.round,
  &.circular,
  &.image-button {
    border-radius: $circular_radius;
    padding: $tinier_padding;
    min-height: $medium_size;
    min-width: $medium_size;
  }
  
  &.text-button {
    padding: $tinier_padding_em $large_padding_em;
    border-radius: $corner_radius;
  } 
}