// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_button.scss - Buttons
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

@mixin flat_button {
  @include flat;
  
  &:hover {
    background-color: to100($fg_color);
  }
  
  &:active {
    background-color: to200($fg_color);
  }
  
  &:checked {
    @include underline(focus);
    color: $fg_color;
  }
}

%button,
button,
.button {
  padding: $mini_padding_em;
  transition: $standard_transition;
  border: none;
  border-radius: $corner_radius;
  background-color: $bg_hl_color;
  box-shadow: $shadow_1;
  @include base_states;
  
  &:backdrop {
    color: to600($fg_color);
  }
  
  &:hover {
    box-shadow: $shadow_2;
  }
  
  &:active {
    box-shadow: $shadow_3;
  }
  
  &:checked {
    background-color: $color_theme_2;
    color: $inverse_fg_color;
    
    &:backdrop {
      opacity: 0.6;
    }
  }
  
  &:disabled {
    box-shadow: inset 0 0 0 $line_size to200($fg_color);
    
    &:checked:backdrop {
      opacity: 0.2;
    }
  }
  
  &.flat {
    @include flat_button;
  }
  
  &.round,
  &.circular,
  &.image-button {
    min-width: $medium_size;
    min-height: $medium_size;
    padding: $tinier_padding;
    border-radius: $circular_radius;
  }
  
  &.text-button {
    padding: $tinier_padding_em $large_padding_em;
    border-radius: $corner_radius;
  }
  
  stackswitcher & {
    @include flat_button;
    
    &:checked {
      @include underline(focus);
      
      &:hover {
        @include underline(focus);
      }
    }
    
    &:hover {
      @include underline(insensitive);
      
      &:checked {
        @include underline(focus);
      }
    }
    
    .titlebar & {
      color: $titlebar_fg_color;
      
      &:hover {
        @include underline(disabled, $color_theme_2, $titlebar_fg_color);
        background-color: to100($titlebar_fg_color);
        
        &:checked {
          @include underline(focus);
        }
      }
    }
  }
  
  &.lock {
    padding: $tinier_padding_em $small_padding_em;
  } 
}
