// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_entry.scss - Text entrys and comboboxes
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */



%entry,
entry,
.entry {
  @include underline(normal);
  color: $fg_color;
  background-color: $bg_hl_color;
  transition: all $standard_duration ease;
  
  &.error {
    background-color: to200($error_color);
  }
  
  &:focus {
    @include underline(focus);
  }
  
  &:disabled {
    @include underline(disabled);
    background-color: to600($bg_hl_color);
  }
  
  selection {
    background-color: $color_theme_1;
    color: $inverse_fg_color;
  }
  
  toolbar &:backdrop,
  .titlebar &:backdrop {
    background-color: to800($bg_hl_color);
  }
  
  image {
    color: $fg_color;
    margin: 0 $tiny_padding;
    
    &:backdrop {
      color: to600($fg_color);
    }
  }
  
  &.flat {
    @include underline(flat-normal);
    
    &:focus {
      @include underline(flat-focus);
    }
  }
}

spinbutton {
  &.horizontal {
    @include underline(normal);
    color: $fg_color;
    background-color: $bg_hl_color;
    transition: all $standard_duration ease;
    
    button {
      @include reset;
      padding: $mini_padding;
    }
    
    entry {
      @include reset;
      padding: 0 $large_padding 0 $small_padding;
    }
    
    &:focus {
      @include underline(focus);
      
      entry {
        @include reset;
        padding: 0 $large_padding 0 $small_padding;
      }
    }
  }
  
  &.vertical {
    @include reset;
    padding: $tiny_padding;
  }
}