// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_entry.scss - Text entrys and comboboxes
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

%entry,
entry,
.entry {
  @include underline(normal);
  box-shadow: $shadow_0;
  color: $fg_color;
  background-color: $bg_hl_color;
  padding: $tinier_padding_em $small_padding_em;
  
  &:backdrop {
    color: to600($fg_color);
  }
  
  &:focus {
    @include underline(focus);
    box-shadow: $shadow_2;
  }
  
  &:disabled {
    @include underline(disabled);
  }
  
  selection {
    background-color: $color_theme_1;
    color: $inverse_fg_color;
  }
  
  image {
    color: $fg_color;
    
    &:backdrop {
      color: to400($fg_color);
    }
  }
  
  &.flat {
    @include flat;
  }
}

/*
 * Spin Buttons
 */

spinbutton {
  &.horizontal {
    @extend %entry;
    
    entry {
      @include reset;
    }
  }
  
  button {
    @include flat-button;
    
    &:backdrop {
      color: to600($fg_color);
    }
    
    &:disabled {
      box-shadow: none;
      color: to400($fg_color);
      
      &:backdrop {
        color: to200($fg_color);
      }
    }
  }
}

/* 
 * ComboBoxes
 */

combobox {

  arrow {
    min-width: $medium_size;
    min-height: $medium_size;
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  }
  
  button {
    padding: $tinier_padding_em $tinier_padding_em $tinier_padding_em $standard_padding_em;
    @include underline(normal);
    background-color: $bg_hl_color;
    
    &:backdrop {
      color: to600($fg_color);
    }
    
    &:active,
    &:checked,
    &:hover {
      @include underline(focus);
      background-color: $bg_hl_color;
      color: $fg_color;
    }
    
    &:active,
    &:checked {
      background-color: to200($color_theme_2);
    }
    
    &:disabled {
      @include underline(disabled);
      color: to400($fg_color);
      
      &:backdrop {
        color: to200($fg_color);
      }
    }
  }
  
  entry + button {
    padding: $tinier_padding;
  }
}