// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_header-title-bars.scss - Header bars and title bars
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

headerbar,
.headerbar {
  min-height: $toolbar_size;
  padding: $mini_padding $large_padding;
}

titlebar,
.titlebar {
  transition: $standard_transition;
  color: $titlebar_fg_color;
  
  &:backdrop {
    color: to600($titlebar_fg_color);
  }
  
  separator {
    margin: $tiny_padding;
    border: none;
    background-color: $titlebar_bg_color;
    color: $titlebar_bg_color;
    
    &:backdrop {
      background-color: $titlebar_hl_color;
      color: $titlebar_hl_color;
    }
  }
  
  .titlebar {
    margin: none;
    padding: none;
    border: none;
    
    &:backdrop {
      margin: none;
      padding: none;
      border: none;
    }
  }
}

decoration {
  transition: $standard_transition;
  border: 0 solid $titlebar_hl_color;
  border-top-width: $border_size;
  border-radius: $corner_radius;
  background-color: $titlebar_bg_color; 
  box-shadow: $shadow_5;
  
  &:backdrop {
    border: 0 solid lighten($titlebar_hl_color, 10%);
    border-top-width: $border_size;
    background-color: $titlebar_hl_color;
    color: to600($titlebar_fg_color);
  }
  
  .tiled &,
  .maximized &,
  .fullscreen &,
  .tiled-bottom &,
  .tiled-top &,
  .tiled-left &,
  .tiled-right & {
    border: none;
    border-top-width: none;
    border-radius: 0;
    box-shadow: none;
  }
}

