// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * sass/widgets/_misc.scss - Miscellaneous small widgets
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 
/*
 * Spinner
 */
spinner {
  background-image: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
  
  &:checked {
    opacity: 1;
    animation: spin 1.2s linear infinite;
    
    &:disabled {
      opacity: 0.6;
    }
  }
}

rubberband,
.rubberband,
.view.rubberband {
  background-color: to200($color_theme_1);
  border: none;
  transition: all 500ms ease-out;
}

// Duffeyrolls not donuts?
.dnd {
  background-color: to200($color_theme_1);
  background-image: none;
  border-radius: $corner_radius;
  margin: $mini_padding;
}

.keycap {
  background-color: $dark_bg_color;
  border-radius: $corner_radius;
  font-size: 85%;
  min-width: $tiny_size;
  padding: $mini_padding $tiny_padding;
}