// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_progressbar.scss - Progress bar and levelbar styling
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 

%progress,
progress,
.progressbar 
levelbar block {
  background-color: $color_theme_1;
  border-radius: $corner_radius;
  border: none;
  
  &:backdrop {
    background-color: to400($color_theme_1);
  }
  
  entry & {
    color: $inverse_fg_color;
    background-color:  to400($color_theme_1);
    margin: -5px -10px;
    border-bottom: $line_size solid $color_theme_1;
    border-radius: $corner_radius $corner_radius 0 0;
  }
}

%trough,
trough, 
.trough,
levelbar block.empty {
  background-color: to200($fg_color);
  border-radius: $corner_radius;
  border: none;
  
  &:backdrop {
    background-color: to100($fg_color);
  }
  
  entry &,
  spinbutton & {
    padding: 0 $small_padding;
  }
}

levelbar {
  block {
    @extend %progress;
    margin: $mini_padding;
    
    &.filled.low {
      background-color: $error_color;
      
      &:backdrop {
        background-color: to400($error_color);
      }
    }
    
    &.filled.middle {
      @extend %progress;
    }
    
    &.filled.high {
      background-color: $suggested_color;
      
      &:backdrop {
        background-color: to400($suggested_color);
      }
    }
    
    &.empty {
      @extend %trough;
    }
  }
  
  trough {
    background-color: transparent;
    
    &:backdrop {
      background-color: transparent;
    }
  }
}

scale {
  padding: $small_padding;
  outline-color: transparent;
  
  slider {
    color: $color_theme_1;
    background-color: $color_theme_1;
    border-radius: $circular_radius;
    min-width: $tiny_size;
    min-height: $tiny_size;
    box-shadow: none;
    margin: -1*$small_padding;
    
    &:hover {
      box-shadow: $shadow_1;
      
      &:active:focus {
        box-shadow: $shadow_2;
      }
    }
    
    &:backdrop {
      background-color: to400($color_theme_1);
    }
    
    &:disabled {
      color: $bg_color;
      background-color: $bg_color;
      border: $line_size solid to400($fg_color);
      
      &:backdrop {
        border-color: to200($fg_color);
      }
    }
  }
  
  trough {
    @extend %trough;
    margin: $mini_padding;
    outline-color: transparent;
  }
  
  highlight {
    @extend %progress;
    
    &:disabled {
      background-color: to400($fg_color);
      
      &:backdrop {
        background-color: to200($fg_color);
      }
    }
  }
  
  mark indicator {
    color: to600($fg_color);
  }
  
  &.horizontal mark indicator {
    min-height: $marks_size;
    min-width: $border_size;
  }
  
  &.vertical mark indicator {
    min-height: $border_size;
    min-width: $marks_size;
  }
}
