// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_progressbar.scss - Progress bar and levelbar styling
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 

%progress,
progress,
.progressbar 
levelbar block {
  background-color: $color_theme_1;
  border-radius: $corner_radius;
  border: none;
  
  &:backdrop {
    background-color: to400($color_theme_1);
  }
}

%trough,
trough, 
.trough,
levelbar block.empty {
  background-color: to200($fg_color);
  border-radius: $corner_radius;
  border: none;
  
  &:backdrop {
    background-color: to100($fg_color);
  }
  
  entry &,
  spinbutton & {
    padding: 0 $small_padding;
  }
}

levelbar {
  block {
    @extend %progress;
    margin: $mini_padding;
    
    &.filled.low {
      background-color: $error_color;
      
      &:backdrop {
        background-color: to400($error_color);
      }
    }
    
    &.filled.middle {
      @extend %progress;
    }
    
    &.filled.high {
      background-color: $suggested_color;
      
      &:backdrop {
        background-color: to400($suggested_color);
      }
    }
    
    &.empty {
      @extend %trough;
    }
    
  }
  
  trough {
    background-color: transparent;
    
    &:backdrop {
      background-color: transparent;
    }
  }
}