// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_scrollbars.scss - Scrollbars
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

scrollbar {
  transition: all 1200ms ease-out;
  background-color: transparent;
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  
  slider {
    border: $border_size solid to200($bg_color);
    background-color: to600($fg_color);
  }
  
  trough {
    background-color: transparent;
  }
  
  &:hover trough {
    background-color: to600($bg_color);
  }
}
