// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_sidebar.scss - Sidebar and Source List
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.sidebar,
.sidebar.view,
.sidebar list,
.source-list,
.source-list.view {
  background-color: $base_color;
  color: $fg_color;
  
  dialog & {
    background-color: $bg_color;
  }
  
  row,
  .list-row,
  .sidebar-item,
  .sidebar-row {
    padding: 0 $tiny_padding;
    border-width: $no_padding;
    border-style: solid;
    border-color: transparent;
    
    &:hover {
      background-color: $darker_bg_color;
    }
    
    &:selected {
      background-color: $color_theme_1;
      
      &:backdrop {
        background-color: to600($color_theme_1);
      }
    }
  }
  
  button {
    padding: $tiny_padding_em;
  }
  
  label {
    padding: $tiny_padding_em;
  }
  
  .frame {
    border: none;
  }
  
  .stack-switcher button {
    @include flat_button;
    -gtk-icon-style: symbolic;
  }
  
  separator {
    border: none;
  }
}
