// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_switch.scss - on-off switch
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
switch {
  transition: all 500ms ease;
  border-radius: $circular_radius;
  background-clip: padding-box;
  background-color: to600($fg_color);
  background-image: url('assets/switch-symbols.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 0;
  /*box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.24);*/
  
  box-shadow: inset $shadow_2;

  &:disabled { 
    background-color: to200($fg_color);
  }

  &:checked {
    background-color: $color_theme_2;
    

    &:disabled,
    &:backdrop { 
      background-color: to600($color_theme_2); 
    }
  }

  slider {
    min-width: 20px;
    min-height: 20px;
    margin: 2px;
    transition: all 500ms ease;
    border-radius: $circular_radius;
    background-color: $bg_hl_color;
    box-shadow: $shadow_2;
    -gtk-outline-radius: $circular_radius;
  }

  &:hover slider { 
    box-shadow: $shadow_3; 
  }

  &:checked slider {
    transition: all 500ms ease;
    color: $bg_hl_color;
  }

  &:checked:disabled slider { 
    animation: none;
  }
}
