// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_tooltip.scss - Tooltips
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */


tooltip,
.overlay-bar {
  color: $inverse_fg_color;
  background-color: insensitive($inverse_bg_color);
  border-radius: $corner_radius;
  border: none;
  box-shadow: $shadow_2;
  padding: $mini_padding_em $tiny_padding_em;
  margin: $tiny_padding;
  
  label {
    color: $inverse_fg_color;
  }
}

.overlay-bar {
  margin: $mini_padding;
}
