// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_expander.scss - Expander
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

expander arrow,
.expander,
.catefory-expander {
  min-width: $arrow_size;
  min-height: $arrow_size;
  transition: $standard_transition;
  -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
  
  &:checked {
    -gtk-icon-transform: rotate(90deg);
    
    &:dir(rtl) {
      -gtk-icon-transform: rotate(-90deg);
    }
  }
}
