Source: cosmic-sound-theme
Section: misc
Priority: optional
Maintainer: Ashley Wulber <ashley@system76.com>
Build-Depends: debhelper (>= 10.3),
Build-Depends-Indep: meson (>= 0.45),
Standards-Version: 4.1.5
Homepage: https://github.com/pop-os/cosmic-sound-theme
Vcs-Browser: https://github.com/pop-os/cosmic-sound-theme
Vcs-Git: https://github.com/pop-os/cosmic-sound-theme

Package: cosmic-sound-theme
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: COSMIC sound theme
 The COSMIC sound theme is based on the Ubuntu Yaru sound theme. 
 .
 This package contains the sound theme
 .
 If you want to follow development, more information here:
 https://community.ubuntu.com/c/desktop/theme-refresh.
