// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _back-button.scss - Back Buttons with Arrows
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.back-button,
.back-button.text-button {
  padding-right: $small_padding;
  padding-left: $standard_padding * 3;
  transition: $standard_transition;
  background-color: transparent;
  background-image: -gtk-icontheme('go-previous-symbolic');
  background-repeat: no-repeat no-repeat;
  background-position: 5px 50%;
  background-size: 21px;
  
  .titlebar & {
    @include flat_button;
    padding-left: $standard_padding * 3;
    background-color: to100($titlebar_fg_color);
    color: $titlebar_fg_color;
    
    &:hover {
      background-color: to100($titlebar_fg_color);
    }
    
    &:active {
      background-color: to200($titlebar_fg_color);
    }
  }
  
  &:dir(rtl) {
    padding: $tiny_padding_em $small_padding_em;
    padding-right: $standard_padding * 3;
    padding-left: $small_padding;
    background-image: -gtk-icontheme('go-next-symbolic');
    background-repeat: no-repeat no-repeat;
    background-position: 90% 50%;
  }
}
