// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _nice-scales.scss - Scales for things like temperature
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

scale {
  &.temperature trough {
    background-image: linear-gradient(
      to right,
      $blue_100,
      $light_neutral_grey_300,
      $orange_100
    );
  }
  
  &.temperature:dir(rtl) trough {
    background-image: linear-gradient(
      to left,
      $blue_100,
      $light_neutral_grey_300,
      $orange_100
    );
  }
  
  &.warmth trough {
    background-image: linear-gradient(
      to right,
      rgba($orange_100, 0.4),
      rgba($orange_500, 0.6)
    );
  }
  &.warmth:dir(rtl) trough {
    background-image: linear-gradient(
      to left,
      rgba($orange_100, 0.4),
      rgba($orange_500, 0.6)
    );
  }
  
  trough:disabled {
    background-image: none;
  }
}
