// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _nice-scales.scss - Scales for things like temperature
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

scale {
  &.temperature trough {
    background-image: linear-gradient(
      to right,
      $highlights_blue,
      $light_neutral_grey_300,
      $highlights_orange
    );
  }
  
  &.temperature:dir(rtl) trough {
    background-image: linear-gradient(
      to left,
      $highlights_blue,
      $light_neutral_grey_300,
      $highlights_orange
    );
  }
  
  &.warmth trough {
    background-image: linear-gradient(
      to right,
      rgba($highlights_orange, 0.4),
      rgba($orange, 0.6)
    );
  }
  &.warmth:dir(rtl) trough {
    background-image: linear-gradient(
      to left,
      rgba($highlights_orange, 0.4),
      rgba($orange, 0.6)
    );
  }
  
  trough:disabled {
    background-image: none;
  }
}
