// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _palette.scss - Color Palette Definitions for compatibility with Granite.
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

// Colors need to be named based on the elementary stylesheet names in order to
// be fully compatible. This maps our Pop names to the elementary names.

/* Strawberry */
@define-color STRAWBERRY_100 #FF9262;
@define-color STRAWBERRY_300 #FF793E;
@define-color STRAWBERRY_500 #F15D22;
@define-color STRAWBERRY_700 #CF3B00;
@define-color STRAWBERRY_900 #AC1800;

/* Orange */
@define-color ORANGE_100 #FFDB91;
@define-color ORANGE_300 #FFCA40;
@define-color ORANGE_500 #FAA41A;
@define-color ORANGE_700 #DE8800;
@define-color ORANGE_900 #C26C00;

/* Banana */
@define-color BANANA_100 #FFFFA8;
@define-color BANANA_300 #FFFA7D;
@define-color BANANA_500 #FFCE51;
@define-color BANANA_700 #D1A023;
@define-color BANANA_900 #A27100;

/* Lime */
@define-color LIME_100 #A2F3BE;
@define-color LIME_300 #8ADBA6;
@define-color LIME_500 #73C48F;
@define-color LIME_700 #479863;
@define-color LIME_900 #1C6D38;

/* Blueberry */
@define-color BLUEBERRY_100 #94A6FF;
@define-color BLUEBERRY_300 #6A7CE0;
@define-color BLUEBERRY_500 #3F51B5;
@define-color BLUEBERRY_700 #213397;
@define-color BLUEBERRY_900 #031579;

/* Grape */
@define-color GRAPE_100 #D25DE6;
@define-color GRAPE_300 #B84ACB;
@define-color GRAPE_500 #9C27B0;
@define-color GRAPE_700 #830E97;
@define-color GRAPE_900 #6A007E;

/* Cocoa */
@define-color COCOA_100 #9F9792;
@define-color COCOA_300 #7B736E;
@define-color COCOA_500 #574F4A;
@define-color COCOA_700 #463E39;
@define-color COCOA_900 #342C27;

/* Silver */
@define-color SILVER_100 #{'' + #light_neutral_grey_100};
@define-color SILVER_300 #{'' + #light_neutral_grey_300};
@define-color SILVER_500 #{'' + #light_neutral_grey_500};
@define-color SILVER_700 #{'' + #light_neutral_grey_700};
@define-color SILVER_900 #{'' + #light_neutral_grey_900};

/* Slate */
@define-color SLATE_100 #{'' + #dark_neutral_grey_100};
@define-color SLATE_300 #{'' + #dark_neutral_grey_300};
@define-color SLATE_500 #{'' + #dark_neutral_grey_500};
@define-color SLATE_700 #{'' + #dark_neutral_grey_700};
@define-color SLATE_900 #{'' + #dark_neutral_grey_900};

/* Black */
@define-color BLACK_100 #{'' + #dark_ui_100};
@define-color BLACK_300 #{'' + #dark_ui_300};
@define-color BLACK_500 #{'' + #dark_ui_500};
@define-color BLACK_700 #{'' + #dark_ui_700};
@define-color BLACK_900 #{'' + #dark_ui_900};

/* Basic UI define */

@define-color fg_color #{'' + $fg_color};
