// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _storage-bar.scss - Storage Bar widget for dividing storage space
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.storage-bar {

  .trough {
    border: none;
    border-radius: $corner_radius $corner_radius 0 0;
    background-image: none;
    box-shadow: $shadow_standard;
  }
  
  .fill-block {
    border: $border_size solid rgba($black, 0.35);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: $border_size;
    border-left-width: 0;
    border-radius: 0;
    border-bottom-color: rgba($fg_color, 0.2);
    background-color: $inverse_overlay_color;
    
    &:first-child {
      border-radius: $corner_radius 0 0;
    }
    
    &:last-child {
      border-radius: 0 $corner_radius 0 0;
    }
    
    &:only-child {
      border-radius: $corner_radius $corner_radius 0 0;
    }
    
    image {
      -gtk-icon-style: symbolic;
    }
  }

  .empty-block {
    border-bottom-width: $border_size;
    border-bottom-color: darken($overlay_color, 40%);
    background-color: darken($overlay_color, 5%);
    
    image {
      color: $obverse_fg_color;
    }
  }

  .app {
    border-bottom-width: $border_size;
    border-bottom-color: darken($light_purple, 30%);
    background-color: $light_purple;
    
    image {
      color: $color_fg_color;
    }
  }

  .audio {
    border-bottom-width: $border_size;
    border-bottom-color: darken($light_orange, 20%);
    background-color: $light_orange;
    
    image {
      color: $color_fg_color;
    }
  }

  .files {
    border-bottom-width: $border_size;
    border-bottom-color: darken($light_blue, 20%);
    background-color: $light_blue;
    
    image {
      color: $color_fg_color;
    }
  }

  .photo {
    border-bottom-width: $border_size;
    border-bottom-color: darken($light_green, 30%);
    background-color: $light_green;
    
    image {
      color: $color_fg_color;
    }
  }

  .video {
    border-bottom-width: $border_size;
    border-bottom-color: darken($light_red, 20%);
    background-color: $light_red;
    
    image {
      color: $color_fg_color;
    }
  }

  .legend {
    border-radius: 50%;
    
    image {
      color: $color_fg_color;
    }
  }
  
  .disk-bar {
    border-radius: $corner_radius;   
    background-color: $warm_grey; 
  } 

  .ext2, .ext3, .ext4, .fat16, .fat32, .btrfs, 
  .xfs,  .ntfs, .luks, .lvm,   .none,  .swap , .unused {
    // sass-lint:disable-block indentation
    border: none;
    box-shadow: 
      inset 0 -2px rgba($dark_warm_grey, 0.5),
      inset 1px 0 rgba($dark_warm_grey, 0.5),
      inset -1px 0 rgba($dark_warm_grey, 0.5);
  }

  .swap { 
    background-color: $dark_red; 
    
    image {
      color: $inverse_fg_color;
    }
  }

  .ext4 { 
    background-color: $green; 
    
    image {
      color: $color_fg_color;
    }
  }

  .ext3 { 
    background-color: $dark_green; 
    
    image {
      color: $inverse_fg_color;
    }
  }

  .ext2 { 
    background-color: $light_green; 
    
    image {
      color: $color_fg_color;
    }
  }

  .fat16, 
  .fat32 { 
    background-color: $light_yellow; 
    
    image {
      color: $color_fg_color;
    }
  }

  .btrfs { 
    background-color: $light_blue; 
    
    image {
      color: $color_fg_color;
    }
  }

  .xfs { 
    background-color: $light_indigo; 
    
    image {
      color: $inverse_fg_color;
    }
  }

  .ntfs { 
    background-color: $orange; 
    
    image {
      color: $obverse_fg_color;
    }
  }

  .luks { 
    background-color: $light_purple; 
    
    image {
      color: $color_fg_color;
    }
  }

  .lvm { 
    background-color: $purple; 
    
    image {
      color: $color_fg_color;
    }
  }

  .none { 
    background-color: $dark_blue; 
    
    image {
      color: $inverse_fg_color;
    }
  }

  .unused { 
    background-color: $warm_grey; 
    
    image {
      color: $color_fg_color;
    }
  }
  
  .legend { 
    box-shadow: none; 
  }
}
