/*
 * Pop!_OS GTK Theme (The Pop!_GTK Theme).
 * Copyright 2017-2018 System76, Inc.
 *
 * The Pop!_GTK Theme is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 * 
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public
 * License along with the Pop!_GTK Theme; if not, write to:
 * Free Software Foundation, Inc.
 * 51 Franklin Street, Fifth Floor
 * Boston, MA  02110-1301  
 * USA
 * 
 * File credits: Ian Santopietro <isantop@gmail.com>
 * Portions of this theme based on the elementary GTK Theme.
 * Copyright 2016 elementary LLC.
 */

 
$color: 'dark';
$titlebar: 'dark';
$slim: 'false';

@import 'scss/colors';
@import 'scss/variables';
@import 'scss/widgets/base';
@import 'scss/widgets/button';
@import 'scss/widgets/tooltip';
@import 'scss/widgets/misc';
@import 'scss/widgets/separators';
@import 'scss/widgets/entry';
@import 'scss/widgets/textview';
@import 'scss/widgets/progressbar';
@import 'scss/widgets/frames';
@import 'scss/widgets/colorchooser';
@import 'scss/widgets/linked';
@import 'scss/widgets/tabs';
@import 'scss/widgets/scrollbars';
@import 'scss/widgets/switch';
@import 'scss/widgets/check-radio';
@import 'scss/widgets/menus';
@import 'scss/widgets/toolbars';
@import 'scss/widgets/header-title-bars';
@import 'scss/widgets/assistant';
@import 'scss/widgets/views';
@import 'scss/widgets/flowbox';
@import 'scss/widgets/notification-popups';
@import 'scss/widgets/list';
@import 'scss/widgets/content-view';
@import 'scss/widgets/sidebar';
@import 'scss/widgets/expander';
@import 'scss/widgets/calendar';
@import 'scss/widgets/infobar';
