/*
 * Pop!_OS GTK Theme (The Pop!_GTK Theme).
 * Copyright 2017-2018 System76, Inc.
 *
 * The Pop!_GTK Theme is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 * 
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public
 * License along with the Pop!_GTK Theme; if not, write to:
 * Free Software Foundation, Inc.
 * 51 Franklin Street, Fifth Floor
 * Boston, MA  02110-1301  
 * USA
 * 
 * File credits: Ian Santopietro <isantop@gmail.com>
 * Portions of this theme based on the elementary GTK Theme.
 * Copyright 2016 elementary LLC.
 */

 
$color: "light";
$slim: "false";

@import 'scss/colors';
@import 'scss/variables';

//FIXME Remove this after completing debugging
* {
  @include reset;
}



@import 'scss/widgets/base';
@import 'scss/widgets/button';
@import 'scss/widgets/tooltip';
@import 'scss/widgets/misc';
@import 'scss/widgets/separators';
@import 'scss/widgets/entry';
@import 'scss/widgets/textview';
@import 'scss/widgets/progressbar';
@import 'scss/widgets/frames';

titlebar,
headerbar,
.titlebar,
.headerbar {
  color: $titlebar_fg_color;
  background-color: $titlebar_bg_color;
  border: 0 solid $titlebar_hl_color;
  border-top-width: $border_size;
  border-radius: $corner_radius $corner_radius 0 0;
  box-shadow: $shadow_2;
}

decoration,
.window-frame {
  box-shadow: $shadow_5;
}