/*
 * Pop!_OS GTK Theme (The Pop!_GTK Theme).
 * Copyright 2017-2018 System76, Inc.
 *
 * The Pop!_GTK Theme is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 * 
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public
 * License along with the Pop!_GTK Theme; if not, write to:
 * Free Software Foundation, Inc.
 * 51 Franklin Street, Fifth Floor
 * Boston, MA  02110-1301  
 * USA
 * 
 * File credits: Ian Santopietro <isantop@gmail.com>
 * Portions of this theme based on the elementary GTK Theme.
 * Copyright 2016 elementary LLC.
 */

 
$color: "light";
$slim: "false";

@import 'scss/colors';
@import 'scss/variables';
@import 'scss/widgets/base';
@import 'scss/widgets/button';
@import 'scss/widgets/tooltip';
@import 'scss/widgets/misc';
@import 'scss/widgets/separators';
@import 'scss/widgets/entry';
@import 'scss/widgets/textview';
@import 'scss/widgets/progressbar';
@import 'scss/widgets/frames';
@import 'scss/widgets/colorchooser';
@import 'scss/widgets/linked';

titlebar,
headerbar,
.titlebar,
.headerbar {
  color: $titlebar_fg_color;
  background-color: $titlebar_bg_color;
  border: 0 solid $titlebar_hl_color;
  border-top-width: $border_size;
  border-radius: $corner_radius $corner_radius 0 0;
  box-shadow: $shadow_2;
  
  padding: $mini_padding $large_padding;
}

decoration,
.window-frame {
  box-shadow: $shadow_5;
}

/***************************
* Overlay Button *
***************************/

GtkOverlay > .button,
GtkOverlay > .button:hover,
GtkOverlay > .button:backdrop,
GtkOverlay > .button:focus {
    background-image: none;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    box-shadow: 0 1px 0 1px alpha (#000, 0.3);
    text-shadow: 0 1px 0 alpha (#000, 0.3);
    background-clip: border-box;
}

GtkOverlay > button.suggested-action,
GtkOverlay > .button.suggested-action {
    background-image: none;
    background-color: $color_theme_1;
    border-color: $color_theme_1;
}

GtkOverlay > .button:active,
GtkOverlay > .button:hover:active {
    background-color: #fff;
    color: $fg_color;
    border-color: #fff;
    text-shadow: none;
}

GtkOverlay > .button:focus,
GtkOverlay > .button:focus:active {
    border-color: $color_theme_1;
}

GtkOverlay > .button:focus:active {
    background-color: $color_theme_1;
}

/***************************
* Secondary Toolbar Button *
***************************/

toolbar.secondary-toolbar button,
.secondary-toolbar.toolbar .button {
    padding: 0 3px;
}

toolbar.secondary-toolbar button.flat,
toolbar.secondary-toolbar button.flat:backdrop,
toolbar.secondary-toolbar button.flat:disabled,
.secondary-toolbar.toolbar .button.flat,
.secondary-toolbar.toolbar .button.flat:backdrop,
.secondary-toolbar.toolbar .button.flat:disabled {
    border-color: transparent;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
}

.secondary-toolbar.toolbar .button:hover {
    padding: 0 3px;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    color: shade ($color_theme_1, 0.65);
}

.secondary-toolbar.toolbar .button:active,
.secondary-toolbar.toolbar .button:hover:active {
    background-image: none;
    background-color: alpha (#000, 0.1);
    box-shadow:
        inset 0 0 0 1px alpha (#000, 0.05),
        inset 0 1px 0 0 alpha (#000, 0.25),
        inset 0 -1px 0 0 alpha (#fff, 0.4);
    padding: 0 3px;
}