/*
 * Pop!_OS GTK Theme (The Pop!_GTK Theme).
 * Copyright 2017-2018 System76, Inc.
 * 
 * _colors.scss - Defines the master colors for use in the theme
 *
 * The Pop!_GTK Theme is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 * 
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public
 * License along with the Pop!_GTK Theme; if not, write to:
 * Free Software Foundation, Inc.
 * 51 Franklin Street, Fifth Floor
 * Boston, MA  02110-1301  
 * USA
 * 
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

@import 'color-palette';

// Some color functions to opacitize colors for certain functions
@function secondary($color) {
  @return rgba($color, 0.8);
}
@function insensitive($color) {
  @return rgba($color, 0.6);
}
@function hint($color) {
  @return rgba($color, 0.7);
}
@function line($color) {
  @return rgba($color, 0.3);
}
@function divider($color) {
  @return rgba($color, 0.12);
}

// Main Accent Colors
$color_theme_1: if($color=='dark', $blue_600, $blue_500);
$color_theme_2: if($color=='dark', $orange_600, $orange_500);

// Background UI Colors
$base_color: if($color=='dark', $black, $white); 
$bg_color: if($color=='dark', $dark_ui_300, $light_ui_300);
$bg_hl_color: if($color=='dark', $dark_ui_100, $light_ui_100);
$bg_emp_color: if($color=='dark', $dark_ui_500, $light_ui_500);
$dark_bg_color: if($color=='dark', $dark_ui_700, $light_ui_700);
$darker_bg_color: if($color=='dark', $dark_ui_900, $light_ui_900);

$inverse_bg_color: $dark_ui_500;
$obverse_bg_color: $light_ui_500;

$selected_bg_color: $color_theme_1;

// Titlebar colors
$titlebar_bg_color: $warm_grey_500;
$titlebar_fg_color: $light_ui_500;

// Foreground UI Colors
$base_fg_color: if($color=='dark', $white, $black); 
$fg_color: if($color=='dark', $light_ui_300, $dark_ui_300);
$fg_hl_color: if($color=='dark', $light_ui_100, $dark_ui_100);
$fg_emp_color: if($color=='dark', $light_ui_500, $dark_ui_500);
$dark_fg_color: if($color=='dark', $light_ui_700, $dark_ui_700);
$darker_fg_color: if($color=='dark', $light_ui_900, $dark_ui_900);

$inverse_fg_color: $light_ui_500;
$obverse_fg_color: $dark_ui_500;

$selected_fg_color: $white;

// Highlight Colors
$suggested_color: $green_600;
$destructive_color: $red_600;
$information_color: $indigo_500;
$warning_color: $yellow_600;
$error_color: $red_600;

/* 
 * Public Colors
 */
 
// apps rely on some named colors to be exported
/* GTK NAMED COLORS
   ----------------
   use responsibly! */

// Sass thinks we're using the colors in the variables as strings and may shoot
// warning, it's innocuous and can be defeated by using "" + $var
//widget text/foreground color */
@define-color theme_fg_color #{"" + $fg_color};

//text color for entries, views and content in general */
@define-color theme_text_color #{"" + $fg_color};

//widget base background color */
@define-color theme_bg_color #{"" + $bg_color};
@define-color bg_color #{"" + $bg_color};

//text widgets and the like base background color */
@define-color theme_base_color #{"" + $base_color};

//base background color of selections */
@define-color theme_selected_bg_color #{"" + $selected_bg_color};

//text/foreground color of selections */
@define-color theme_selected_fg_color #{"" + $selected_fg_color};

//base background color of insensitive widgets */
@define-color insensitive_bg_color #{"" + $bg_color};

//text foreground color of insensitive widgets */
@define-color insensitive_fg_color #{"" + insensitive($fg_color)};

//insensitive text widgets and the like base background color */
@define-color insensitive_base_color #{"" + $dark_bg_color};

//widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color #{"" + $fg_color};

//text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color #{"" + $fg_color};

//widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #{"" + $bg_color};

//text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #{"" + $base_color};

//base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color #{"" + $theme_color_1};

//text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color #{"" + insensitive($fg_color)};

//insensitive color on backdrop windows */
@define-color unfocused_insensitive_color #{"" + $fg_color};

//widgets main borders color */
@define-color borders #{"" + line($fg_color)};

//widgets main borders color on backdrop windows */
@define-color unfocused_borders #{"" + line($fg_color)};

//these are pretty self explicative */
@define-color warning_color #{"" + $warning_color};
@define-color error_color #{"" + $error_color};
@define-color success_color #{"" + $success_color};
@define-color destructive_color #{"" + $destructive_color};
@define-color suggested_color #{"" + $suggested_color};

//this is really an API */
@define-color content_view_bg #{"" + $base_color};
@define-color placeholder_text_color #{"" + hint($fg_color)};

$spice_slide_background: lighten($brown_800, 5%);
$spice_selected_slide_background: lighten($brown_800, 7%);

//These are for Spice-up Presentation maker*/
@define-color SpicePrimaryBackground #{"" + $brown_800};
@define-color SpiceSlideBackground #{"" + $spice_slide_background};
@define-color SpiceSlideBackgroundSelected #{"" + lighten($brown_800, 7%)};
@define-color colorPrimary #{"" + $primary_color};
