/*
 * Installer *
 */

.storage-bar {
  
  .disk-bar {
    background-color: $brown_500;
    padding: 0;
    border-radius: $pop_radius;
    
    > .fill-block:first-child { border-radius: $pop_radius 0 0 $pop-radius; }
    > .fill-block:last-child { border-radius: 0 $pop_radius $pop-radius 0; }
    > .fill-block:only-child { border-radius: $pop-radius; }
    
  } 

  .ext2, .ext3, .ext4, .fat16, .fat32, .btrfs, 
  .xfs,  .ntfs, .luks, .lvm,   .none,  .swap , .unused {
    border: none;
    box-shadow: inset 0 -2px rgba($brown_700, 0.5),
                inset 1px 0 rgba($brown_700, 0.5),
                inset -1px 0 rgba($brown_700, 0.5); 
  }

  .swap { background-color: $red_600; }

  .ext4 { background-color: $green_500; }

  .ext3 { background-color: $green_600; }

  .ext2 { background-color: $green_700; }

  .fat16, 
  .fat32 { background-color: $yellow_500; }

  .btrfs { background-color: $blue_600; }

  .xfs { background-color: $indigo_500; }

  .ntfs { background-color: $orange_500; }

  .luks { background-color: $purple_400; }

  .lvm { background-color: $purple_500; }

  .none { background-color: $blue_500; }

  .unused { background-color: $brown_500; }
  
  .legend { box-shadow: none; }
}