// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_assistant.scss - GtkAssistant
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.sidebar {
  
  background-color: $base_color;
  color: rgba($fg_color, 0.6);
  
  .highlight {
    color: $fg_color;
    font-weight: 600;
  }
}
