// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_button.scss - Buttons
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

@mixin flat_button {
  @include flat;
  font-weight: 700;
  
  &:hover {
    background-color: to100($fg_color);
  }
  
  &:active {
    background-color: to200($fg_color);
  }
  
  &:checked {
    color: $fg_color;
  }
}

%button-fallback {
  // fallback buttons for non-native apps
  @extend %fallback-normal;

  &:active,
  &:focus { 
    @extend %fallback-active; 
  }

  &:disabled { 
    @extend %fallback-insensitive; 
  }
}

%button,
button,
.button {
  @extend %button-fallback;
  padding: $button_padding_text $button_padding_text * 2;
  transition: $standard_transition;
  border: none;
  border-radius: $corner_radius;
  background-color: $bg_hl_color;
  
  @include base_states;

  // Set shadows for GTK3-Native apps.
  .background & {
    box-shadow: $shadow_1;
  }
  
  &:backdrop {
    color: to600($fg_color);
  }
  
  .background &:hover {
    box-shadow: $shadow_2;
  }
  
  .background &:active {
    background-color: $dark_bg_color;
    box-shadow: $shadow_0;
  }
  
  &:checked {
    background-color: $color_theme_2;
    color: $inverse_fg_color;
    
    &:backdrop {
      opacity: 0.6;
    }
  }
  
  &:disabled {
    box-shadow: inset 0 0 0 $line_size to200($fg_color);
    
    &:checked:backdrop {
      opacity: 0.2;
    }
  }
  
  .titlebar & {
    color: $titlebar_fg_color;
    
    &:checked,
    &:active,
    &:hover {
      color: $titlebar_active_color;
    }
  }
  
  &.flat {
    @include flat_button;
  }
  
  &.text-button {  
    border-radius: $corner_radius;
  }

  &.image-button,
  &.disclosure-button {
    padding: $button_padding_image;
  }
  
  &.round,
  &.circular {
    padding: $button_padding_image;
    border-radius: $circular_radius;
    -gtk-outline-radius: $circular_radius;
  }
  
  stackswitcher & {
    @include flat_button;
    
    &:checked {
      @include underline(focus);
      background-color: transparent;
      
      &:hover {
        @include underline(focus);
        background-color: to200($bg_color);
      }
    }
    
    &:disabled {
      @include underline(disabled);
      border: none;
    }
    
    .titlebar &,
    headerbar & {
      padding: $button_padding_text $button_padding_text * 4;
      color: $titlebar_fg_color;
      
      &:hover {
        @include underline(focus);
        color: $titlebar_fg_color;
        
        &:checked {
          @include underline(focus);
          color: $titlebar_fg_color;
        }
      }
    }
  }
  
  &.lock {
    
  } 
  
  label {
    font-weight: 600;
  }
  
  &.suggested-action,
  .background &.suggested-action {
    background-color: $suggested_color;
    color: $inverse_fg_color;
    
    headerbar & {
      box-shadow: $shadow_1;
    }

    &:focus {
      outline-color: rgba($inverse_fg_color, 0.4);
      background-color: $suggested_color;

      &:hover {
        background-color: mix($suggested_color, $obverse_bg_color, 80%);
      
        headerbar & {
          box-shadow: $shadow_2;
        }
      }
    }
    
    &:hover {
      background-color: mix($suggested_color, $obverse_bg_color, 80%);
      
      headerbar & {
        box-shadow: $shadow_2;
      }
    }
    
    &:active {
      background-color: mix($suggested_color, $obverse_bg_color, 60%);
      
      headerbar & {
        background-color: mix($suggested_color, $obverse_bg_color, 40%);
      }
    }
    
    label,
    image {
      color: $inverse_fg_color;
    }
  }
  
  &.destructive-action {
    background-color: $destructive_color;
    color: $inverse_fg_color;
    
    headerbar & {
      box-shadow: $shadow_1;
    }

    &:focus {
      outline-color: rgba($inverse_fg_color, 0.4);
      background-color: $destructive_color;

      &:hover {
        background-color: mix($destructive_color, $obverse_bg_color, 80%);
      
        headerbar & {
          box-shadow: $shadow_2;
        }
      }
    }
    
    &:hover {
      background-color: mix($destructive_color, $obverse_bg_color, 80%);
      
      headerbar & {
        box-shadow: $shadow_2;
      }
    }
    
    &:active {
      background-color: mix($destructive_color, $obverse_bg_color, 60%);
      
      headerbar & {
        box-shadow: $shadow_0;
      }
    }
    
    label,
    image {
      color: $inverse_fg_color;
    }
  }
  
  popover stack & {
    @include flat_button;
    
    border-radius: $corner_radius;
        
    image,
    label {
      
      
    }
  }
  
  revealer > & {
    
  }
}

modelbutton,
.model,
modelbutton.image-button {
  @include flat_button;
  transition: $standard_transition;
  border-radius: $corner_radius;
  background-color: transparent;
  font-weight: 400;
  
  label {
    font-weight: 400;
  }
  
  &:hover {
    background-color: to200($fg_color);
  }
  
  &:active {
    background-color: to400($fg_color);
  }
}
