// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_button.scss - Buttons
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

@mixin flat_button {
  @include flat;
  
  &:hover {
    background-color: rgba($inverse_bg_color, 0.1);
  }
  
  &:active {
    background-color: rgba($inverse_bg_color, 0.2);
  }
  
  &:checked {
    color: $fg_color;
  }
}

// fallback buttons for non-native apps
%button-fallback {
  padding: $button_padding;
  border-radius: $corner_radius;

  @extend %fallback-normal;

  &:active,
  &:focus { 
    @extend %fallback-active; 
  }

  &:disabled { 
    @extend %fallback-insensitive; 
  }
}

// %button,
button,
.button {
  @extend %button-fallback;
  min-width: $small_size;
  min-height: $small_size;

  // Set shadows for GTK3-Native apps.
  .background & {
    margin: 0 0.075em 0.15em;
    transition: $standard_transition;
    border: none;
    box-shadow: $shadow_standard;

    &:hover {
      box-shadow: $shadow_hover; 
    }

    &:active,
    &:hover:active {
      box-shadow: $shadow_active;
    }
  }
  
  &:checked {
    background-color: $color_theme_2;
    color: $color_fg_color;
  }
  
  &:disabled {

    &:checked,
    &:checked label,
    &:checked image {
      color: $bg_color;
    }
  }
  
  .titlebar & {
    color: $titlebar_fg_color;
    
    &:checked,
    &:active,
    &:hover {
      color: $titlebar_active_color;
    }

    &.text-button {
      padding: $button_padding $standard_padding * 2;
    }
  }
  
  &.flat {
    @include flat_button;
    font-weight: 700;
  }
  
  &.image-button,
  &.disclosure-button {
  }

  &.text-button {  
    padding: $button_padding;
  }
  
  &.round,
  &.circular {
    border-radius: $circular_radius;
    -gtk-outline-radius: $circular_radius;
  }
  
  stackswitcher & {
    @include flat_button;
    
    &:checked {
      @include underline(focus);
      background-color: transparent;
      
      &:hover {
        @include underline(focus);
        background-color: rgba($bg_color, 0.2);
      }
    }
    
    &:disabled {
      @include underline(disabled);
      border: none;
    }
    
    .titlebar &,
    headerbar & {
      color: $titlebar_fg_color;
      
      &:hover {
        @include underline(focus);
        color: $titlebar_fg_color;
        
        &:checked {
          @include underline(focus);
          color: $color_theme_2;
        }
      }
    }
  }
  
  label {
    font-weight: 600;
  }
  
  &.suggested-action,
  .background &.suggested-action {
    background-color: $suggested_bg_color;
    color: $color_fg_color;
    
    headerbar & {
    }

    &:focus {
      outline-color: rgba($inverse_fg_color, 0.4);
      background-color: $suggested_bg_color;

      &:hover {
        background-color: mix($suggested_bg_color, $obverse_bg_color, 80%);
      
        headerbar & {
          box-shadow: $shadow_hover;
        }
      }
    }
    
    &:hover {
      background-color: mix($suggested_bg_color, $obverse_bg_color, 80%);
      box-shadow: $shadow_hover;
    }
    
    &:active {
      background-color: mix($suggested_bg_color, $obverse_bg_color, 60%);
      
      headerbar & {
        background-color: mix($suggested_bg_color, $obverse_bg_color, 40%);
        box-shadow: $shadow_active;
      }
    }
    
    label,
    image {
      color: $color_fg_color;
    }
  }
  
  &.destructive-action {
    background-color: $destructive_bg_color;
    color: $color_fg_color;
    
    headerbar & {
    }

    &:focus {
      outline-color: rgba($inverse_fg_color, 0.4);
      background-color: $destructive_bg_color;

      &:hover {
        background-color: mix($destructive_bg_color, $obverse_bg_color, 80%);
      
        headerbar & {
          box-shadow: $shadow_hover;
        }
      }
    }
    
    &:hover {
      background-color: mix($destructive_bg_color, $obverse_bg_color, 80%);
      
      headerbar & {
        box-shadow: $shadow_hover;
      }
    }
    
    &:active {
      background-color: mix($destructive_bg_color, $obverse_bg_color, 60%);
      
      headerbar & {
        box-shadow: $shadow_standard;
      }
    }
    
    label,
    image {
      color: $color_fg_color;
    }
  }
  
  popover stack & {
    @include flat_button;
  }

  @include base_states;
}

modelbutton,
.model,
modelbutton.image-button {
  background-color: transparent;
  font-weight: 400;
  
  label {
    font-weight: 400;
  }
  
  &:hover {
    background-color: rgba($fg_color, 0.2);
  }
  
  &:active {
    background-color: rgba($fg_color, 0.4);
  }
}
