// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_calendar.scss - Calendar
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

calendar {
  padding: $mini_padding;
  border: $border_size solid rgba($fg_color, 0.1);
  background-color: $base_color;
  color: $fg_color;

  &:disabled { 
    color: rgba($fg_color, 0.6);
  }

  &:selected {
    border-radius: $corner_radius;
    background-color: $selected_bg_color;
    color: $selected_fg_color;
  }

  &.header {
    border: 0 solid rgba($fg_color, 0.1);
    border-bottom-width: $border_size;
    border-radius: 0;
  }

  &.button { 
    @include flat_button;
  }

  &.highlight {
    color: rgba($fg_color, 0.8);
    font-weight: 500;
  }

  &:indeterminate { 
    color: rgba($fg_color, 0.4);
  }
}
