// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_check-radio.scss - Check boxes and Radio Buttons
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

%checkradio,
check,
radio {
  min-width: $check_size;
  min-height: $check_size;
  margin: $mini_padding_em;
  padding: $check_padding;
  transition: $standard_transition;
  box-shadow: inset 0 0 0 2px rgba($fg_color, 0.8);
   
  &:backdrop {
    box-shadow: inset 0 0 0 2px rgba($fg_color, 0.4);
  }
  
  &:checked,
  &:indeterminate {  
    background-color: $color_theme_2;
    color: $color_fg_color;
    box-shadow: inset 0 0 0 2px transparent;
    
    &:backdrop {
      background-color: rgba($color_theme_2, 0.4);
      box-shadow: inset 0 0 0 2px transparent;
    }
  }
  
  &:checked {
    -gtk-icon-source: -gtk-scaled(
      url('assets/#{$color}/check-symbols@1.png'),
      url('assets/#{$color}/check-symbols@2.png'),
      url('assets/#{$color}/check-symbols@3.png')); 
  }
  
  &:indeterminate {
    -gtk-icon-source: -gtk-scaled(
      url('assets/#{$color}/indeterminate-symbols@1.png'),
      url('assets/#{$color}/indeterminate-symbols@2.png'),
      url('assets/#{$color}/indeterminate-symbols@3.png'));
  }
  
  &:disabled {
    box-shadow: inset 0 0 0 2px rgba($fg_color, 0.4);
    
    &:checked,
    &:indeterminate {
      background-color: rgba($color_theme_2, 0.6);
      box-shadow: inset 0 0 0 2px transparent;
      
      &:backdrop {  
        background-color: rgba($color_theme_2, 0.2);
        box-shadow: inset 0 0 0 2px transparent;
      }
    }
  }
  
  treeview.view &:selected {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $selected_fg_color;
  }
}

radio:not(:checked):active,
check:not(:checked):active {
  -gtk-icon-transform: scale(0);
}

check:not(:checked):indeterminate:active,
radio:not(:checked):indeterminate:active {
  -gtk-icon-transform: scaleX(-1);
} 

check:not(:checked),
radio:not(:checked) {
  & {
    transition: $standard_transition,
      -gtk-icon-transform 0; // sass-lint:disable-line indentation
  }

  &:active {
    transition: $standard_transition,
      -gtk-icon-transform 0; // sass-lint:disable-line indentation
  }

  //menu menuitem & { transition: none; }
}

check {
  border-radius: $corner_radius;
}

radio {
  border-radius: $circular_radius;
}

checkbutton,
radiobutton {
  
  outline-offset: 2px;
  
  label {
    padding: 0 $tiny_padding_em;
    color: $fg_color;
    
    &:disabled {
      color: rgba($fg_color, 0.6);
    }
    
    &:backdrop {
      color: rgba($fg_color, 0.6);
      
      &:disabled {
        color: rgba($fg_color, 0.4);
      }
    }
  }
}
