// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_dialog.scss - Dialogs
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

dialog {
  box-shadow: $shadow_3;
  
  .titlebar {
    background-color: $titlebar_bg_color;
    box-shadow: $titlebar_border;
    
    image,
    label {
      color: $titlebar_fg_color;
    }
  }
}

messagedialog {
  border-radius: 0 0 $corner_radius $corner_radius;
  background-color: $bg_color;
  color: $fg_color;
  
  .titlebar {
    min-height: 0;
    border: none;
    background-color: $bg_color;
    box-shadow: none;
    
    &:backdrop {
      background-color: $bg_color;
      box-shadow: none;
    }
    
    label {
      color: transparent;
    }
  }
  
  .dialog-action-box {
    border: 0 solid to100($fg_color);
    
    button {
      border-radius: $corner_radius;
      background-color: transparent;
      color: to800($fg_color);
      box-shadow: none;
      
      &.destructive-action {
        background-color: transparent;

        &:hover {
          background-color: rgba($destructive_color, 0.1);

          &:active {
            background-color: rgba($destructive_color, 0.2);
          }
        }

        &:focus {
          outline-color: rgba($fg_color, 0.2);
        }

        label {
          color: $destructive_color;

          &:hover,
          &:focus {
            color: $inverse_fg_color;
          }
        }
      }

      &.suggested-action,
      &.suggested-action.default {
        background-color: transparent;

        &:hover {
          background-color: rgba($suggested_color, 0.1);

          &:active {
            background-color: rgba($suggested_color, 0.2);
          }
        }

        &:focus {
          outline-color: rgba($fg_color, 0.2);
        }

        label {
          color: $suggested_color;

          &:hover,
          &:focus {
            color: $inverse_fg_color;
          }
        }
      }
      
      &:focus {
        color: $dark_color_2;
      }
      
      &:hover {
        background-color: to100($color_theme_2);
      }
      
      &:active {
        background-color: to200($color_theme_2);
      }
    }
  }
}
