// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_dialog.scss - Dialogs
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

dialog {
  box-shadow: $shadow_hover;
  
  .titlebar {
    background-color: $titlebar_bg_color;
    
    image,
    label {
      color: $titlebar_fg_color;
    }
  }
}

messagedialog {
  border-radius: 0 0 $corner_radius $corner_radius;
  background-color: $bg_color;
  color: $fg_color;
  -GtkWidget-window-dragging: true;

  decoration {
    border-radius: $corner_radius;
  }
  
  .titlebar {
    border-radius: $corner_radius $corner_radius 0 0;
    background-color: $bg_color;
    
    &:backdrop {
      background-color: $bg_color;
    }
  }
  
  .dialog-action-box {
    
    button {
      background-color: transparent;
      color: rgba($fg_color, 0.8);
      
      &.destructive-action {
        background-color: transparent;

        &:hover {
          background-color: rgba($destructive_bg_color, 0.1);

          &:active {
            background-color: rgba($destructive_bg_color, 0.2);
          }
        }

        &:focus {
          outline-color: rgba($fg_color, 0.2);
        }

        label {
          color: $destructive_text_color;

          &:hover,
          &:focus {
            color: $inverse_fg_color;
          }
        }
      }

      &.suggested-action,
      &.suggested-action.default {
        background-color: transparent;

        &:hover {
          background-color: rgba($suggested_bg_color, 0.1);

          &:active {
            background-color: rgba($suggested_bg_color, 0.2);
          }
        }

        &:focus {
          outline-color: rgba($fg_color, 0.2);
        }

        label {
          color: $suggested_text_color;

          &:hover,
          &:focus {
            color: $inverse_fg_color;
          }
        }
      }
      
      &:focus {
        color: $text_color_2;
      }
      
      &:hover {
        background-color: rgba($color_theme_2, 0.1);
      }
      
      &:active {
        background-color: rgba($color_theme_2, 0.2);
      }
    }
  }
}
