// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_emoji-picker.scss - Emoji Picker
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.emoji-picker { 

  box > label {
    color: $fg_color;
    font-size: 120%;
    font-weight: 300;
  }
  
  scrolledwindow {
  }
}
