// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_emoji-picker.scss - Emoji Picker
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.emoji-picker { 
  margin: 0;
  
  entry {
    margin: 8px 8px 0;
    padding: 0;
    box-shadow: none;
  }

  box > label {
    margin: 0 $tiny_padding_em 0 $no_padding_em;
    color: $fg_color;
    font-size: 120%;
    font-weight: 300;
  }
  
  scrolledwindow {
    border: none;
  }
}

.emoji-box .box {
  margin: 0;
}

.emoji label {
  padding: 0;
}

button.emoji-section.text-button {
  min-width: 36px;
  margin: 4px 2px;
  padding: 0;
}
