// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_entry.scss - Text entrys and comboboxes
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

%entry,
entry,
.entry {
  @include underline(normal);
  padding: $tiny_padding_em $small_padding_em;
  transition: $standard_transition;
  border-radius: $corner_radius $corner_radius 0 0;
  background-color: $bg_hl_color;
  color: $fg_color;
  box-shadow: $shadow_0;
  
  &:backdrop {
    color: to600($fg_color);
  }
  
  &:focus {
    @include underline(focus);
    box-shadow: $shadow_2;
  }
  
  &:disabled {
    @include underline(disabled);
  }
  
  selection {
    background-color: $color_theme_1;
    color: $inverse_fg_color;
  }
  
  image {
    color: $fg_color;
    
    &:backdrop {
      color: to400($fg_color);
    }
  }
  
  &.flat {
    @include flat;
  }
}

/*
 * Spin Buttons
 */

spinbutton {
  &.horizontal {
    @extend %entry;
    
    entry {
      @include reset;
    }
  }
  
  button {
    @include flat_button;
    
    &:backdrop {
      color: to600($fg_color);
    }
    
    &:disabled {
      color: to400($fg_color);
      box-shadow: none;
      
      &:backdrop {
        color: to200($fg_color);
      }
    }
  }
}

spinbutton {
  button {
    @include flat_button;
    border-radius: $circular_radius;
    
    &:backdrop {
      color: to600($fg_color);
    }
    
    &:disabled {
      color: to400($fg_color);
      box-shadow: none;
      
      &:backdrop {
        color: to200($fg_color);
      }
    }
  }
  
  &.horizontal {
    // sass-lint:disable indentation
    padding: 
      $tiny_padding $tinier_padding $tiny_padding $large_padding; 
    // sass-lint:enable indentation
    border-radius: $corner_radius $corner_radius 0 0;
    
    entry {
      min-width: 2.1em;
      margin-right: $tiny_padding;
    }
    
    button {
      margin: $mini_padding 0;
      padding: $tiny_padding;
      border-radius: $circular_radius;
    }
  }
  
  &.vertical entry {
    margin: $mini_padding;
    border-radius: $corner_radius $corner_radius 0 0;
  }
}

/* 
 * ComboBoxes
 */

combobox {

  arrow {
    min-width: 19px;
    min-height: 19px;
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
  }
  
  button {
    padding: $tinier_padding_em; 
    padding-left: $standard_padding_em;
    @include underline(normal);
    background-color: $bg_hl_color;
    
    &:backdrop {
      color: to600($fg_color);
    }
    
    &:active,
    &:checked,
    &:hover {
      @include underline(focus);
      background-color: $bg_hl_color;
      color: $fg_color;
    }
    
    &:active,
    &:checked {
      background-color: to200($color_theme_2);
    }
    
    &:disabled {
      @include underline(disabled);
      color: to400($fg_color);
      
      &:backdrop {
        color: to200($fg_color);
      }
    }
  }
  
  entry + button {
    padding: $tinier_padding;
  }
}
