// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_entry.scss - Text entrys and comboboxes
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

%entry-fallback-normal {
  border: 1px solid rgba($fg_color, 0.4);
  background-color: $base_color;
  color: $fg_color;
  box-shadow: none;
  border-image: none;
}

%entry-fallback-focus {
  border: 1px solid $color_theme_2;
  background-color: $base_color;
  color: $fg_color;
  box-shadow: none;
  border-image: none;
}

%entry-fallback-insensitive {
  border: 1px solid rgba($fg_color, 0.2);
  background-color: transparent;
  color: rgba($fg_color, 0.4);
  box-shadow: none;
  border-image: none;
}

%entry-fallback {
  &, &.flat {
    @extend %entry-fallback-normal;
    border-radius: 2px;
    &:focus { 
      @extend %entry-fallback-focus; 
    }
    &:disabled { 
      @extend %entry-fallback-insensitive; 
    }
  }
}

%entry,
entry,
.entry {
  @extend %entry-fallback;
  @include underline(normal);
  padding: $tiny_padding_em $small_padding_em;
  transition: $standard_transition;
  border-radius: $corner_radius $corner_radius 0 0;
  background-color: $bg_hl_color;
  color: $fg_color;

  .background & {
    border: none;
    box-shadow: $shadow_0;

    &:hover {
      box-shadow: $shadow_1;
    }
  }
  
  &:backdrop {
    color: to600($fg_color);
  }
  
  .background &:focus {
    @include underline(focus);
    box-shadow: $shadow_2;
  }
  
  &:disabled {
    @include underline(disabled);
    background-color: to400($bg_hl_color);
    color: to600($fg_color);
  }
  
  selection {
    background-color: $color_theme_1;
    color: $inverse_fg_color;
  }
  
  image {
    margin: 0;
    color: $fg_color;
    
    &:backdrop {
      color: to200($fg_color);
    }
  }
  
  &.flat {
    @include flat;
  }
  
  .titlebar &:disabled {
    opacity: 0.6;
  }
  
  .linked > & {
    margin: 0;
  }
  
  .linked > & > image {
    margin: 0;
    padding: 0;
  }
}

/*
 * Spin Buttons
 */

%spinbutton,
.background spinbutton,
.background .linked spinbutton {
  padding: 0;
  border: none;
  border-radius: $corner_radius;
  background-color: $base_color;
  box-shadow: $shadow_0;

  &:focus,
  &:active {
    border-radius: $corner_radius $corner_radius 0 0;
    box-shadow: inset 0 -2px 0 0 $color_theme_2, $shadow_1;
  }
 
  button,
  entry {
    &,
    &:hover,
    &:active,
    &:focus,
    &:disabled,
    &:backdrop {
      border: none;
      background-color: transparent;
      box-shadow: none;
    }
 
    &:disabled {
      color: rgba($fg_color, 0.4);
    }
  }

  &:disabled entry {
    color: rgba($fg_color, 0.4);
  }
 
  &,
  list row & {
    button,
    button.up,
    button.down {
      @include flat_button;
      padding: $tinier_padding;
      border-radius: $circular_radius;
      box-shadow: none;
 
      &:hover {
        background-color: rgba($fg_color, 0.1);
      }
 
      &:active {
        background-color: rgba($fg_color, 0.2);
      }
    }
  }
 
  entry {
    margin: 0;
    padding: 0;
  }
 
  &.horizontal {
    padding: $tinier_padding $small_padding;
 
    entry {
      min-width: 2.5em;
    }
  }
 
  &.vertical {
    button {
      margin: $small_padding;
    }
  }
}

/* 
 * ComboBoxes
 */

combobox {

  arrow {
    min-width: 19px;
    min-height: 19px;
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
  }
  
  button {
    padding: $tinier_padding_em; 
    padding-left: $standard_padding_em;
    @include underline(normal);
    background-color: $bg_hl_color;
    
    &:backdrop {
      color: to600($fg_color);
    }
    
    &:active,
    &:checked,
    &:hover {
      @include underline(focus);
      background-color: $bg_hl_color;
      color: $fg_color;
    }
    
    &:active,
    &:checked {
      background-color: to200($color_theme_2);
    }
    
    &:disabled {
      @include underline(disabled);
      color: to400($fg_color);
      
      &:backdrop {
        color: to200($fg_color);
      }
    }
  }
  
  entry + button {
    padding: $tinier_padding;
  }
}

image.entry_icon {
  padding-bottom: 12px;
  padding-left: 4px;
}
