// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_entry.scss - Text entrys and comboboxes
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

%entry-fallback-normal {

  border: 1px solid rgba($fg_color, 0.4);
  background-color: $overlay_color;
  color: $fg_color;
  box-shadow: none;
  border-image: none;
}

%entry-fallback-focus {
  border: 1px solid $color_theme_2;
  background-color: $overlay_color;
  color: $fg_color;
  box-shadow: none;
  border-image: none;
}

%entry-fallback-insensitive {
  border: 1px solid rgba($fg_color, 0.2);
  background-color: transparent;
  color: rgba($fg_color, 0.4);
  box-shadow: none;
  border-image: none;
}

%entry-fallback {
  padding: $entry_padding;
  border-radius: $corner_radius;
  background-color: $overlay_color;
  color: $fg_color;

  &, &.flat {
    @extend %fallback-normal;
    border-radius: $corner_radius;
    &:focus { 
      @extend %fallback-active; 
    }
    &:disabled { 
      @extend %fallback-insensitive; 
    }
  }
}

%entry,
entry,
.entry {
  @extend %entry-fallback;

  .background & {
    @include underline(normal);
    margin: 0 0.075em 0.15em;
    border: none;
    box-shadow: $shadow_standard;

    &:hover {
      box-shadow: $shadow_hover;
    }
  }

  &:focus {
    @include underline(focus);
    border-radius: $corner_radius $corner_radius 0 0;
  }
  
  &:backdrop {
    color: rgba($fg_color, 0.6);
  }
  
  .background &:focus {
  }
  
  &:disabled {
    background-color: transparent;
    color: rgba($fg_color, 0.6);
  }
  
  selection {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
  }
  
  image {
    color: $fg_color;
    
    &:backdrop {
      color: rgba($fg_color, 0.2);
    }
  }
  
  &.flat {
    @include flat;
  }
  
  .titlebar &:disabled {
  }

  .entry-tag {
    background-color: $selected_bg_color;
    color: $selected_fg_color;

    .background image {
      color: $selected_fg_color;
    }

    .background &,
    &:hover,
    :backdrop &,
    &:active {
      background-color: $selected_bg_color;
    }
  
    &.button {
      @include flat_button;
      color: $selected_fg_color;

      image,
      label {
        color: $selected_fg_color;

        &:hover {
          color: $selected_fg_color;
        }
      }
    }
  }
}

/*
 * Spin Buttons
 */

%spinbutton,
spinbutton,
.background spinbutton,
.background .linked spinbutton {
  border-radius: $corner_radius;
  background-color: $overlay_color;
  box-shadow: $shadow_standard;

  &:focus,
  &:active {
    @include underline(focus);
    border-radius: $corner_radius $corner_radius 0 0;
  }

  &:disabled {
    background-color: transparent;

    entry {
      color: rgba($fg_color, 0.4);
    }
  }

  button,
  entry {
    box-shadow: none;
    border-image: none;

    &,
    &:hover,
    &:active,
    &:focus,
    &:disabled,
    &:backdrop {
      background-color: transparent;
      box-shadow: none;
      border-image: none;
    }

    &:disabled {
      color: rgba($fg_color, 0.4);
    }
  }

  button {
    padding: $mini_padding_em;
    border-radius: $circular_radius;
    
    image, 
    label {
      color: rgba($fg_color, 0.8);
    }
  }

  &.horizontal {
    
    entry {
      min-width: 3em;
    }

    button {
      margin: $tiny_padding_em $mini_padding_em;
    }
  }

  &.vertical button {
    margin: $tinier_padding_em $standard_padding_em;
  }

  &:disabled entry,
  &:disabled label,
  &:disabled image {
    color: rgba($fg_color, 0.4);
  }

  &,
  list row & {
    button,
    button.up,
    button.down {

      &:hover {
        background-color: rgba($fg_color, 0.1);
      }

      &:active {
        background-color: rgba($fg_color, 0.2);
      }
    }
  }
}

/* 
 * ComboBoxes
 */

combobox {
  margin: 0;

  arrow {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
  }

  box.linked {
    background-color: transparent;
  }

  entry.combo {
    @include flat;
    @include underline(normal);
    margin: 0;
    background-color: $overlay_color;

    &:focus {
      @include underline(focus);
    }

    &:disabled {
      @include underline(disabled);
    }
  }
  
  button.combo {
    @include underline(normal);
    margin: 0;
    background-color: $overlay_color;
    outline-offset: -6px;
    
    &:backdrop {
      color: rgba($fg_color, 0.6);
    }

    &:active,
    &:checked {
      @include underline(focus);
    }
    
    &:disabled {
      @include underline(disabled);
      color: rgba($fg_color, 0.4);
      
      &:backdrop {
        color: rgba($fg_color, 0.2);
      }
    }
  }
}

image.entry_icon {
}
