// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_entry.scss - Text entrys and comboboxes
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

%entry-fallback-normal {
  border: 1px solid rgba($fg_color, 0.4);
  background-color: $overlay_color;
  color: $fg_color;
  box-shadow: none;
  border-image: none;
}

%entry-fallback-focus {
  border: 1px solid $color_theme_2;
  background-color: $overlay_color;
  color: $fg_color;
  box-shadow: none;
  border-image: none;
}

%entry-fallback-insensitive {
  border: 1px solid rgba($fg_color, 0.2);
  background-color: transparent;
  color: rgba($fg_color, 0.4);
  box-shadow: none;
  border-image: none;
}

%entry-fallback {
  &, &.flat {
    @extend %entry-fallback-normal;
    border-radius: 2px;
    &:focus { 
      @extend %entry-fallback-focus; 
    }
    &:disabled { 
      @extend %entry-fallback-insensitive; 
    }
  }
}

%entry,
entry,
.entry {
  @extend %entry-fallback;
  @include underline(normal);
  padding: $entry_padding;
  transition: $standard_transition;
  border-radius: $corner_radius $corner_radius 0 0;
  background-color: $overlay_color;
  color: $fg_color;

  .background & {
    border: none;
    @include underline(normal);
    box-shadow: $shadow_0;

    &:hover {
      box-shadow: $shadow_1;
    }
  }
  
  &:backdrop {
    color: rgba($fg_color, 0.6);
  }
  
  .background &:focus {
    @include underline(focus);
    box-shadow: $shadow_1;
  }
  
  &:disabled {
    @include underline(disabled);
    background-color: transparent;
    color: rgba($fg_color, 0.6);
  }
  
  selection {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
  }
  
  image {
    margin: 0;
    color: $fg_color;
    
    &:backdrop {
      color: rgba($fg_color, 0.2);
    }
  }
  
  &.flat {
    @include flat;
  }
  
  .titlebar &:disabled {
    opacity: 0.6;
  }

  .entry-tag {
    padding-left: $tiny_padding_em;
    margin: 2px 0px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    background-color: $selected_bg_color;
    color: $selected_fg_color;

    .background image {
      color: $selected_fg_color;
    }

    .background &,
    &:hover,
    :backdrop &,
    &:active {
      background-color: $selected_bg_color;
    }
  
    &.button {
      @include flat_button;
      border: none;
      box-shadow: none;
      color: $selected_fg_color;

      image,
      label {
        color: $selected_fg_color;

        &:hover {
          color: $selected_fg_color;
        }
      }
    }
  }
}

/*
 * Spin Buttons
 */

%spinbutton,
.background spinbutton,
.background .linked spinbutton {
  padding: $tinier_padding_em;
  transition: $standard_transition;
  border: none;
  border-radius: $corner_radius;
  background-color: $overlay_color;
  box-shadow: $shadow_0;

  &:focus,
  &:active {
    @include underline(focus);
    border-radius: $corner_radius $corner_radius 0 0;
    box-shadow: $shadow_1;
  }

  &:disabled {
    @include underline(disabled);
    background-color: transparent;

    entry {
      color: rgba($fg_color, 0.4);
    }
  }
 
  button,
  entry {
    min-width: 2px;
    min-height: 2px;
    padding: 3px;

    &,
    &:hover,
    &:active,
    &:focus,
    &:disabled,
    &:backdrop {
      border: none;
      background-color: transparent;
      color: rgba($fg_color, 0.4);
      box-shadow: none;
    }
 
    &:disabled {
      color: rgba($fg_color, 0.4);
    }
  }

  &.horizontal entry {
    min-width: 4em;
  }

  &:disabled entry,
  &:disabled label,
  &:disabled image {
    color: rgba($fg_color, 0.4);
  }
 
  &,
  list row & {
    button,
    button.up,
    button.down {
      @include flat_button;
      
      border-radius: $circular_radius;
      box-shadow: none;
 
      &:hover {
        background-color: rgba($fg_color, 0.1);
      }
 
      &:active {
        background-color: rgba($fg_color, 0.2);
      }
    }
  }
}

/* 
 * ComboBoxes
 */

combobox {

  arrow {
    
    
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
  }
  
  button {
     
    
    @include underline(normal);
    background-color: transparent;
    
    &:backdrop {
      color: rgba($fg_color, 0.6);
    }
    
    &:active,
    &:checked,
    &:hover {
      @include underline(focus);
      // background-color: $overlay_color;
      color: $fg_color;
    }
    
    &:active,
    &:checked {
      background-color: $color_theme_2;
    }
    
    &:disabled {
      @include underline(disabled);
      color: rgba($fg_color, 0.4);
      
      &:backdrop {
        color: rgba($fg_color, 0.2);
      }
    }
  }
  
  entry + button {
    
  }
}

image.entry_icon {
  padding: $tinier_padding_em;
}


