// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_frames.scss - Frames and borders
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

@function frame-border($color) {
  @return rgba($color, 0.1);
}

%frame,
frame,
.frame {
  border-radius: 0 0 $corner_radius $corner_radius;
  color: $fg_color;
}

scrolledwindow {
}

overshoot,
undershoot,
.overshoot,
.undershoot {
  &.left,
  &.right,
  &.top,
  &.bottom {
    background-color: transparent;
    background-image: none;
  }
}

viewport.frame {
  border-radius: 0 0 $corner_radius $corner_radius;
  background-color: $bg_color;
}
