// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_header-title-bars.scss - Header bars and title bars
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

headerbar {
  padding: $headerbar_padding;
  border: 0 solid $titlebar_hl_color;
  border-width: $border_size $border_size 0;
  border-radius: $corner_radius $corner_radius 0 0;
  background-color: $titlebar_bg_color;
  color: $titlebar_fg_color;
  
  &:backdrop {
    border-color: lighten($titlebar_hl_color, 5%);
    background-color: lighten($titlebar_bg_color, 5%);
    color: rgba($titlebar_fg_color, 0.6);
  }

  .maximized &,
  .fullscreen &,
  .tiled &,
  .tiled-left &,
  .tiled-right &,
  .tiled-top &,
  .tiled-bottom & {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  button,
  .background & button {
    @include flat_button;
    background-color: $titlebar_button_color;
    color: $titlebar_fg_color;
    box-shadow: $shadow_standard;

    &:hover {
      background-color: $titlebar_button_color;
      box-shadow: $shadow_hover;

      &:active {
        background-color: $titlebar_button_color;
        box-shadow: $shadow_active;
      }
    }

    &:checked {
      background-color: $titlebar_button_color;
      box-shadow: $shadow_active;
    }

    &:checked {
      @include underline(focus);
      
      image,
      label,
      arrow,
      widget {
        color: $titlebar_fg_color;
      }
    }

    &:focus {
      background-color: $titlebar_button_color;
    }

    &.image-button,
    &.disclosure-button,
    &.popup.toggle {
      padding: $button_padding_image + 1.5px;
    }

    &.text-button.image-button {
      padding: $button_padding_text $button_padding_text * 2;
    }

    image,
    label {
      color: $titlebar_fg_color;

      &:disabled {
        color: rgba($titlebar_fg_color, 0.6);
      }
    }
  }

  .titlebutton {
    padding: $button_padding_image - 2px;
    border-radius: $circular_radius;
    background: none;
    color: $titlebar_fg_color;
    box-shadow: none;
    
    &:hover {
      background-color: rgba($titlebar_fg_color, 0.1);
      box-shadow: none;
    }
    
    &:active {
      background-color: rgba($titlebar_fg_color, 0.2);
      box-shadow: none;
    }
    
    &.close {
      background-color: $close_button_color;
      color: if($color=='dark', $black, $titlebar_fg_color);
      box-shadow: none;
      
      image {
        color: if($color=='dark', $black, $titlebar_fg_color);
      }
      
      &:backdrop {
        background-color: rgba($titlebar_fg_color, 0.2);
        color: $titlebar_fg_color;
        box-shadow: none;

        image {
          color: $titlebar_fg_color;
        }
      }
      
      &:hover {
        background-color: mix($close_button_color, $obverse_bg_color, 80%);
        box-shadow: none;
      }
      
      &:active {
        background-color: mix($close_button_color, $obverse_bg_color, 60%);
        box-shadow: none;
      }
    }

    &.appmenu {
      background-color: transparent;
      box-shadow: none;

      &:hover {
        background-color: rgba($titlebar_fg_color, 0.1);
        box-shadow: none;

        &:active,
        &:checked {
          background-color: rgba($titlebar_fg_color, 0.2);
          box-shadow: none;
        }
      }

      &:checked {
        background-color: rgba($titlebar_fg_color, 0.2);
        box-shadow: none;
        border-image: none;
      }
    }
  }

  .linked button {
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &:active,
    &:checked {
      box-shadow: none;
    }
  }
  
  window > &.flat,
  messagedialog & {
    border-width: 0;
    background-color: $bg_color;
    color: $fg_color;
    box-shadow: none;

    image,
    label {
      color: $fg_color;
    }
    
    .title {
      color: $fg_color;
      
      &:backdrop {
        color: rgba($fg_color, 0.6);
      }
    }
    
    .titlebutton {
      padding: $no_padding;
      border-radius: $circular_radius;
      
      &.close {
        background-color: $close_button_color;
        
        &:backdrop {
          background-color: rgba($light_neutral_grey_700, 0.4);
          color: if($color == 'dark', $inverse_fg_color, $obverse_fg_color);
        }
      }
    }
  }
  
  .headerbar,
  headerbar {
    border: none;
    box-shadow: none;
  }

  .titlebar {
    padding: 0;
  }
  
  seperator {
    border: none;
    background-color: $titlebar_bg_color;
    color: transparent;
    box-shadow: none;
  }
  
  .title {
    font-weight: 700;
  }
  
  .subtitle {
    font-size: 80%;
    font-weight: 500;
  }

  .background & entry,
  .background & spinbutton,
  .background & combobox {
    background-color: $bg_color;
  }
}

paned.titlebar {
  padding: 0;
  border: 0 solid $titlebar_hl_color;
  border-width: $border_size $border_size 0;
  border-radius: $corner_radius $corner_radius 0 0;
  background-color: $titlebar_bg_color;
  color: $titlebar_fg_color;
  
  &:backdrop {
    border-color: lighten($titlebar_hl_color, 5%);
    background-color: lighten($titlebar_bg_color, 5%);
    color: rgba($titlebar_fg_color, 0.6);
  }

  headerbar {
    border: none;
  }
}

decoration {
  margin: 8px;
  border-radius: $corner_radius;
  background-color: $titlebar_bg_color;
  box-shadow: $shadow_window;
  
  &:backdrop {
    background-color: $titlebar_hl_color;
    box-shadow: $shadow_window_bd, $shadow_hover;
  }

  .solid-csd & {
    border-radius: 0;
    background-color: $titlebar_bg_color;
    box-shadow: none;
  }
}

.geary-titlebar {
  min-height: 0;
  padding: 0;
}

.titlebar hdyleaflet headerbar,
hdyleaflet headerbar {
  padding: $headerbar_padding;
}

window > .titlebar,
window > headerbar {
  box-shadow: $shadow_standard;
}

menu window.popup decoration {
  border-radius: $corner_radius;
  box-shadow: $shadow_hover;
}

tooltip decoration {
  border-radius: $corner_radius;
  box-shadow: $shadow_hover;
}

.window-frame.ssd {
  border-radius: $corner_radius;
  box-shadow: $shadow_standard;
}

.ssd decoration { 
  box-shadow: 0 3px 3px rgba($black, 0.16);
}
