// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_header-title-bars.scss - Header bars and title bars
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.titlebar,
headerbar.titlebar {
  padding: $headerbar_padding;
  border: 0 solid $titlebar_hl_color;
  border-width: $border_size $border_size 0;
  border-radius: $corner_radius $corner_radius 0 0;
  background-color: $titlebar_bg_color;
  color: $titlebar_fg_color;
  
  &:backdrop {
    border-color: lighten($titlebar_hl_color, 5%);
    background-color: lighten($titlebar_bg_color, 5%);
    color: rgba($titlebar_fg_color, 0.6);
  }

  button {
    box-shadow: none;

    &:hover {
      background-color: rgba($bg_color, 0.2);
      box-shadow: none;

      &:focus {
        background-color: rgba($bg_color, 0.2);
      }

      &:active {
        background-color: rgba($bg_color, 0.4);
        box-shadow: $shadow_0;
      }
    }

    &:focus {
      background-color: rgba($bg_color, 0.1);
    }
  }
  
  .maximized &,
  .fullscreen &,
  .tiled &,
  .tiled-left &,
  .tiled-right &,
  .tiled-top &,
  .tiled-bottom & {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .titlebutton {
    padding: $button_padding_image - 2px;
    border-radius: $circular_radius;
    background: none;
    color: $titlebar_fg_color;
    box-shadow: none;
    
    &:hover {
      background-color: rgba($titlebar_fg_color, 0.1);
    }
    
    &:active {
      background-color: rgba($titlebar_fg_color, 0.2);
      box-shadow: $shadow_2;
    }
    
    &.close {
      
      background-color: $close_button_color;
      
      &:backdrop {
        background-color: rgba($titlebar_fg_color, 0.2);
      }
      
      &:hover {
        background-color: mix($close_button_color, $obverse_bg_color, 80%);
      }
      
      &:active {
        background-color: mix($close_button_color, $obverse_bg_color, 60%);
      }
    }
  }
  
  window > &.flat,
  messagedialog & {
    border-width: 0;
    background-color: $bg_color;
    color: $fg_color;
    box-shadow: none;

    image,
    label {
      color: $fg_color;
    }
    
    .title {
      color: $fg_color;
      
      &:backdrop {
        color: rgba($fg_color, 0.6);
      }
    }
    
    .titlebutton {
      padding: $no_padding;
      border-radius: $circular_radius;
      
      &.close {
        background-color: $close_button_color;
        
        &:backdrop {
          background-color: rgba($light_neutral_grey_700, 0.4);
          color: if($color == 'dark', $inverse_fg_color, $obverse_fg_color);
        }
      }
    }
  }
  
  .headerbar,
  headerbar {
    padding: 0;
    border: none;
    box-shadow: none;
  }
  
  seperator {
    border: none;
    background-color: transparent;
    color: transparent;
    box-shadow: none;
  }
  
  .title {
    font-weight: 700;
  }
  
  .subtitle {
    font-size: 80%;
    font-weight: 500;
  }

  entry {
    
    
    
  }

  box,
  stack,
  spinner {
    
  }
}

decoration {
  margin: 8px;
  border-radius: $corner_radius;
  background-color: $titlebar_bg_color;
  box-shadow: $shadow_window;
  
  &:backdrop {
    background-color: $titlebar_hl_color;
    box-shadow: $shadow_window_bd, $shadow_2;
  }

  .solid-csd & {
    
    border-radius: 0;
    background-color: $titlebar_bg_color;
    box-shadow: none;
  }
}



headerbar,
.headerbar {
  
  
  
  entry,
  .entry {
    
  }
  
  button,
  .button {
    
    background-color: rgba($titlebar_fg_color, 0.1);
    color: $titlebar_fg_color;
    box-shadow: none;
    border-image: radial-gradient(
      circle closest-corner at center calc(100% - 1px), 
      transparent 0%, 
      transparent 0%) 0 0 0 / 0 0 0;
    
    &:disabled {
      background-color: transparent;
      box-shadow: none;
    }
    
    &:backdrop {
      color: rgba($titlebar_fg_color, 0.6);
    }
    
    &:hover {
      background-color: rgba($titlebar_fg_color, 0.2);
      color: $titlebar_fg_color;
      box-shadow: none;
    }
    
    &:active {
      background-color: rgba($titlebar_fg_color, 0.4);
    }
    
    &:checked {
      background-color: rgba($titlebar_fg_color, 0.1);
      color: $titlebar_fg_color;
      border-image: radial-gradient(
        circle closest-corner at center calc(100% - 1px), 
        $color_theme_2 100%, 
        transparent 0%) 0 0 2 / 0 0 2px;
      
      &:hover {
        background-color: rgba($titlebar_fg_color, 0.2);
      }
    }
    
    &.flat:checked {
      color: $titlebar_fg_color;
    }
  }
  
  .linked entry,
  .linked button {
    
    
  }
}

.titlebar hdyleaflet headerbar,
hdyleaflet headerbar {
  padding: $headerbar_padding;
}

window > .titlebar,
window > headerbar {
  box-shadow: $shadow_1;
}

menu window.popup decoration {
  
  border-radius: $corner_radius;
  box-shadow: $shadow_3;
}

tooltip decoration {
  
  border-radius: $corner_radius;
  box-shadow: $shadow_2;
}

.window-frame.ssd {
  
  border-radius: $corner_radius;
  box-shadow: $shadow_0;
}

.ssd decoration { 
  
  box-shadow: 0 3px 3px rgba($black, 0.16);
}
