// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_header-title-bars.scss - Header bars and title bars
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.titlebar,
titlebar {
  padding: $mini_padding $standard_padding;
  border: 0 solid $titlebar_hl_color;
  border-width: $border_size $border_size 0;
  border-radius: $corner_radius $corner_radius 0 0;
  background-color: $titlebar_bg_color;
  color: $titlebar_fg_color;
  
  &:backdrop {
    border-color: lighten($titlebar_hl_color, 5%);
    background-color: lighten($titlebar_bg_color, 5%);
    color: to600($titlebar_fg_color);
  }
  
  .maximized &,
  .fullscreen &,
  .tiled &,
  .tiled-left &,
  .tiled-right &,
  .tiled-top &,
  .tiled-bottom & {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  
  &.default-decoration {
    min-height: $large_size;
  }
  
  .titlebutton {
    min-width: $small_size;
    min-height: $small_size;
    padding: $tinier_padding;
    border-radius: $circular_radius;
    background: none;
    color: $titlebar_fg_color;
    box-shadow: none;
    
    &:hover {
      background-color: to100($titlebar_fg_color);
    }
    
    &:active {
      background-color: to200($titlebar_fg_color);
      box-shadow: $shadow_2;
    }
    
    &.close {
      margin: $small_padding 0;
      background-color: $close_button_color;
      
      &:backdrop {
        background-color: to200($titlebar_fg_color);
      }
      
      &:hover {
        background-color: mix($close_button_color, $obverse_bg_color, 80%);
      }
      
      &:active {
        background-color: mix($close_button_color, $obverse_bg_color, 60%);
      }
    }
    
    &.appmenu.popup {
      padding: $small_padding;
    }
  }
  
  &.flat,
  messagedialog & {
    border-width: 0;
    background-color: $bg_color;
    box-shadow: none;
    
    .title {
      color: $fg_color;
      
      &:backdrop {
        color: to600($fg_color);
      }
    }
    
    .titlebutton {
      margin: $tiny_padding;
      
      &.close {
        background-color: $close_button_color;
        
        &:backdrop {
          background-color: to400($light_neutral_grey_700);
          color: if($color == 'dark', $inverse_fg_color, $obverse_fg_color);
        }
      }
    }
  }
  
  .headerbar,
  headerbar {
    padding: 0;
    border: none;
    box-shadow: none;
  }
  
  seperator {
    border: none;
    background-color: transparent;
    color: transparent;
    box-shadow: none;
  }
  
  .title {
    font-weight: 700;
  }
  
  .subtitle {
    font-size: 80%;
    font-weight: 500;
  }
}

decoration {
  margin: 8px;
  border-radius: $corner_radius;
  background-color: $titlebar_bg_color;
  // Transparent shadows prevent the windows from jumping when shadows change.
  box-shadow: $shadow_window, 0 16px 16px transparent;
  
  &:backdrop {
    background-color: lighten($titlebar_bg_color, 5%);
    box-shadow: $shadow_2, 0 16px 16px transparent;
  }
}

headerbar,
.headerbar {
  min-height: $toolbar_size;
  padding: $mini_padding $standard_padding;
  
  entry,
  .entry {
    margin: $mini_padding 0;
  }
  
  button,
  .button {
    margin: $mini_padding 0;
    background-color: to100($titlebar_fg_color);
    color: $titlebar_fg_color;
    box-shadow: none;
    border-image: radial-gradient(
      circle closest-corner at center calc(100% - 1px), 
      transparent 0%, 
      transparent 0%) 0 0 0 / 0 0 0;
    
    &:disabled {
      background-color: transparent;
      box-shadow: none;
    }
    
    &:backdrop {
      color: to600($titlebar_fg_color);
    }
    
    &:hover {
      background-color: to200($titlebar_fg_color);
      color: $titlebar_fg_color;
      box-shadow: none;
    }
    
    &:active {
      background-color: to400($titlebar_fg_color);
    }
    
    &:checked {
      background-color: to100($titlebar_fg_color);
      color: $titlebar_fg_color;
      border-image: radial-gradient(
        circle closest-corner at center calc(100% - 1px), 
        $color_theme_2 100%, 
        transparent 0%) 0 0 2 / 0 0 2px;
      
      &:hover {
        background-color: to200($titlebar_fg_color);
      }
    }
  }
  
  .linked entry,
  .linked button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

window > .titlebar,
window > headerbar {
  box-shadow: $shadow_1;
}

menu window.popup decoration, {
  margin: 0;
  border-radius: $corner_radius;
  box-shadow: $shadow_3;
}

tooltip decoration {
  margin: 0;
  border-radius: $corner_radius;
  box-shadow: $shadow_2;
}

.window-frame.ssd {
  margin: 0;
  border-radius: $corner_radius;
  box-shadow: $shadow_0
}

.ssd decoration { 
  margin: 8px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
}
