// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_linked.scss - Linked items
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.linked {
  margin: 0 0.075em 0.15em;
  border-radius: $corner_radius;
  background-color: $overlay_color;
  box-shadow: $shadow_standard;

  button,
  entry,
  spinbutton, .background & spinbutton,
  combobox .combo {
    @include flat;
    margin: 0;
    border-radius: $corner_radius;
    box-shadow: none;
    border-image: none;
    
    &:checked {
      background-color: $color_theme_2;
      color: $selected_fg_color;
      box-shadow: none;
      border-image: none;

      &.toggle {
        @include underline(focus);
      }
      
      &:hover {
        background-color: $highlight_color_2;
        color: $selected_fg_color;
        box-shadow: none;
        border-image: none;
      }
      
      &:backdrop {
        background-color: rgba($color_theme_2, 0.4);
        box-shadow: none;
        border-image: none;
      }
    }
  }
  
  // entry,
  // entry ~ button {
  //   @extend %entry;
  //   @include underline(normal); 
  //   padding: $tiny_padding_em;
  //   border: none;
  //   background-color: $overlay_color;
  // }
  
  spinbutton entry ~ button:disabled {
    border-image: none;
  }
  
  // weird issue with linked spinbuttons
  & > spinbutton button,
  & > spinbutton button:focus,
  & > spinbutton button:last-child {
    @include flat_button;
  }

  // Nested Linked boxes
  .linked {
    margin: 0;
    box-shadow: none;
  }
}

//stackswitcher buttons
stackswitcher {
  border-radius: $corner_radius;
  background-color: $inverse_overlay_color;
  box-shadow: $shadow_standard;

  .titlebar & button,
  headerbar & button {
    padding: $button_padding $large_padding_em;
  }

  button,
  .inline-toolbar & button,
  actionbar & button {
    @include flat_button;

    &:hover {
      background-color: transparent;
      
      &:checked {
        border-radius: $corner_radius;
        background-color: $color_theme_2;
        color: $selected_fg_color;

        .titlebar &,
        headerbar & {
          border-radius: $corner_radius $corner_radius 0 0;
          background-color: transparent;
          color: $titlebar_fg_color;
        }
      }
    }
  }
}


.titlebar .linked,
.headerbar .linked,
headerbar .linked {
  background-color: $titlebar_button_color;
  
  button {
    box-shadow: none;

    &:checked {
      @include flat;
      background-color: transparent;
      color: $titlebar_fg_color;
    }

    &:hover {
      background-color: rgba($titlebar_fg_color, 0.1);
      
      &:active {
        box-shadow: none;
      }
    }
  }
}
