// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_linked.scss - Linked items
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 
 
.linked {
  border-radius: $corner_radius;
  background-color: $bg_hl_color;
  box-shadow: $shadow_0;

  > button,
  > entry,
  > combobox .combo {
    @include flat;
    border-radius: 0;
    
    &:checked {
      background-color: $color_theme_2;
      color: $inverse_fg_color;
      border-image: none;
      
      &:backdrop {
        background-color: to400($color_theme_2);
        border-image: none;
      }
    }
  }
  
  //&.horizontal,
  & {
    :first-child,
    > :first-child .combo {
      border-radius: $corner_radius 0 0 $corner_radius;
    }
    
    :last-child,
    > :last-child .combo {
      border-radius: 0 $corner_radius $corner_radius 0;
    }
  }
  
  &.vertical {
    :first-child,
    > :first-child .combo  {
      border-radius: $corner_radius $corner_radius 0 0;
      box-shadow: none;
    }
    
    :last-child,
    > :last-child .combo  {
      border-radius: 0 0 $corner_radius $corner_radius;
    }
  }
  
  :only-child,
  > :only-child .combo  {
    border-radius: $corner_radius;
  }
  
  entry + button {
    @extend %entry;
    padding: $tinier_padding;
    background-color: $bg_hl_color;
  }
  
  // weird issue with linked spinbuttons
  & > spinbutton button,
  & > spinbutton button:focus,
  & > spinbutton button:last-child {
    @include flat_button;
    border-radius: $circular_radius;
    border-image: none;
  }
}

//undo on stackswitcher buttons

stackswitcher.linked.stack-switcher > button.radio:first-child,
stackswitcher.linked.stack-switcher > button.radio:last-child,
stackswitcher.linked.stack-switcher > button.radio:only-child,
stackswitcher.linked.stack-switcher > button.radio {
  border-radius: $corner_radius $corner_radius 0 0;
}

.titlebar .linked,
.headerbar .linked,
headerbar .linked {
  background-color: to100($base_color);
  
  button:checked {
    @include flat;
    background-color: transparent;
    color: $titlebar_fg_color;
  }
  
  button:hover {
    background-color: to100($titlebar_fg_color);
  }
}
