// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_linked.scss - Linked items
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
 
 
.linked {
  > button,
  > entry,
  > combobox .combo {
    border-radius: 0;
    box-shadow: none;
  }
  
  //&.horizontal,
  & {
    :first-child,
    > :first-child .combo {
      border-radius: $corner_radius 0 0 $corner_radius;
    }
    
    :last-child,
    > :last-child .combo {
      border-radius: 0 $corner_radius $corner_radius 0;
    }
  }
  
  &.vertical {
    :first-child,
    > :first-child .combo  {
      border-radius: $corner_radius $corner_radius 0 0;
      box-shadow: none;
    }
    
    :last-child,
    > :last-child .combo  {
      border-radius: 0 0 $corner_radius $corner_radius;
    }
  }
  
  :only-child,
  > :only-child .combo  {
    border-radius: $corner_radius;
  }
  
  entry + button {
    @extend %entry;
    padding: $tinier_padding;
    background-color: $bg_hl_color;
  }
  
  // weird issue with linked spinbuttons
  & > spinbutton button,
  & > spinbutton button:focus,
  & > spinbutton button:last-child {
    @include flat_button;
    border-radius: $circular_radius;
    border-image: none;
  }
}

//undo on stackswitcher buttons

stackswitcher.linked.stack-switcher > button.radio.text-button:first-child,
stackswitcher.linked.stack-switcher > button.radio.text-button:last-child,
stackswitcher.linked.stack-switcher > button.radio.text-button:only-child,
stackswitcher.linked.stack-switcher > button.radio.text-button,
titlebar .linked > button {
  border-radius: $corner_radius $corner_radius 0 0;
}
