// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_list.scss - Lists / Listview / List Box
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

list,
.list {
  border-radius: 0 0 $corner_radius $corner_radius;
  background-color: $overlay_color;
  
  row,
  .list-row {
    padding: $mini_padding_em;
    
    label {
      color: $fg_color;
    }
    
    &:hover {
      background-color: $inverse_overlay_color;
    }
    
    .linked {
      background-color: transparent;
    }
    
    button,
    .linked button {
      background-color: $overlay_color;
      
      &:hover {
        background-color: rgba($fg_color, 0.1);
        
        &:active {
          background-color: rgba($fg_color, 0.2);
        }
      }

      &.image-button,
      &.up,
      &.down {
        background-color: transparent;

        &:hover {
          background-color: rgba($fg_color, 0.1);

          &:active {
            background-color: rgba($fg_color, 0.2);
          }
        }

        &:checked {
          background-color: $color_theme_2;
        }
      }
      
      &.flat label
      &.flat image {
        color: rgba($fg_color, 0.8);
      }

      &.combo {
        background-color: $overlay_color;
      }
    }
    
    &:selected {
      background-color: $color_theme_2;
      
      label,
      image {
        color: $selected_fg_color;
      }

      switch label,
      switch image {
        color: transparent;
      }
      
      button label,
      button image {
        color: $selected_fg_color;
      }
      
      button.flat {
        &:hover {
          background-color: rgba($selected_fg_color, 0.1);
        }
        
        &:active {
          background-color: rgba($selected_fg_color, 0.2);
        }
        
        label,
        image {
          color: $selected_fg_color;
        }
      }
      
      scale {
        slider {
          border-color: $selected_fg_color;
          background-color: $selected_fg_color;
          color: $selected_fg_color;
          
          &:disabled {
            background-color: $bg_color;
            color: $bg_color;
            
            &:backdrop {
              border-color: rgba($selected_fg_color, 0.2);
            }
          }
        }
        
        trough {
          background-color: rgba($selected_fg_color, 0.6);
          
          &:disabled {
            background-color: rgba($selected_fg_color, 0.2);
            
            &:backdrop {
              background-color: rgba($selected_fg_color, 0.1);
            }
          }
        }
        
        highlight {
          background-color: $selected_fg_color;
          color: $selected_fg_color;
          
          &:disabled {
            background-color: rgba($selected_fg_color, 0.4);
            
            &:backdrop {
              background-color: rgba($selected_fg_color, 0.2);
            }
          }
        }
      }
      
      check,
      radio {
      }
      
      &:backdrop {
        background-color: rgba($color_theme_2, 0.6);
      }
    }
  }
}
