// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * sass/widgets/_misc.scss - Miscellaneous small widgets
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

/*
 * Spinner
 */

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}

spinner {
  background-image: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme('process-working-symbolic');
  
  &:checked {
    opacity: 1;
    animation: spin 1s linear infinite;
    
    &:disabled {
      opacity: 0.6;
    }
  }
}

/*
 * Overscroll effect
 */

rubberband,
.rubberband,
.view.rubberband {
  transition: $standard_transition;
  border: none;
  background-color: rgba($color_theme_1, 0.2);
}

/*
 * Symbolic Images
 */

image {
  color: inherit;
}

// Duffeyrolls not donuts?
.dnd {
  border-radius: $corner_radius;
  background-color: rgba($color_theme_1, 0.2);
  background-image: none;
}

.keycap {
  border-radius: $corner_radius;
  background-color: $overlay_color;
  font-size: 85%;
}

/* 
 * Statusbars
 */

statusbar frame {
  border: none;
}

/* 
 * Calendar labels
 */

label {
  .color-dark & {
    color: $inverse_fg_color;
  }

  .color-light & {
    color: $obverse_fg_color;
  }

  .timed & {
    color: $fg_color;
  }
}
