// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_notification-popups.scss - App Notifications
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.app-notification,
.app-notification.frame {
  margin: $standard_padding_em;
  padding: $small_padding_em;
  border: none;
  border-radius: $corner_radius;
  background-clip: padding-box;
  background-color: mix($inverse_bg_color, $dark_warm_grey, 30%);
  box-shadow: $shadow_hover; 
  
  label {
    color: $inverse_fg_color;
  }
  
  button {
    @include flat_button;
    font-weight: 700;
    
    &:hover {
      background-color: rgba($inverse_fg_color, 0.1);
    }
    
    &:active {
      background-color: rgba($inverse_fg_color, 0.2);
    }
    
    label {
      color: $light_orange;
    }
    
    image {
      color: rgba($inverse_fg_color, 0.6);
    }
    
    &.image-button {
      border-radius: $circular_radius;
    }
  }
}
