// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_pane.scss - Paned widgets
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

paned {
  background-color: $overlay_color;
  
  > separator {
    min-width: $mini_padding_em;
    min-height: $mini_padding_em;
    padding: $tinier_padding;
    background-color: rgba($fg_color, 0.05);
  }
  
  // &.horizontal separator {
  //   background-color: $inverse_overlay_color;
  // }
  
  // &.vertical separator {
  //   background-color: $inverse_overlay_color; 
  // }
}
