// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _pathbar.scss - Pathbar widgets
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.path-bar button,
#pathbarbox button {
  
  &:checked {
    @include underline(focus);
    background-color: transparent;
    color: $fg_color;
  }
  
  &.popup {
    background-image: none;
  }
}
