// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_popover.scss - Popovers
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

popover,
popover.osd,
.popover,
.popover.osd {
  padding: 0;
  border-radius: $corner_radius;
  box-shadow: $shadow_2;

  modelbutton {
    padding: $tinier_padding_em;

    arrow {
      min-height: $standard_padding_em;
    }
  }

  .view {
    background-color: transparent;
  }
  
  .model.image-button {
    
    
    border-radius: $circular_radius;
    
    image {
      
      
    }
  }

  .linked .model.image-button {
    
    border-radius: $corner_radius;
  }
}
