// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_popover.scss - Popovers
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

popover,
popover.osd,
.popover,
.popover.osd {
  border-radius: $corner_radius;
  box-shadow: $shadow_hover;

  modelbutton {
    min-height: $modelbutton_size;
    padding: $mini_padding_em ;
    border-radius: $corner_radius;
    outline-offset: -0.15em;

    label {
      padding: 0;
      padding-right: $small_padding_em;

      &:dir(rtl) {
        padding-right: 0;
        padding-left: $small_padding_em;
      }
    }

    arrow {
      min-height: 0.9em;
    }
  }

  .view {
    background-color: transparent;
  }
}

popover,
popover.menu,
popover box,
popover stack {
  margin: 0;
  padding: 0;
}
