// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_progressbar.scss - Progress bar and levelbar styling
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

%progress,
progress,
.progressbar 
levelbar block {
  min-width: $progress_size;
  min-height: $progress_size;
  transition: $standard_transition;
  border: none;
  border-radius: $circular_radius;
  background-color: $color_theme_1;
  
  &:backdrop {
    background-color: rgba($color_theme_1, 0.4);
  }
  
  entry & {
    transition: $standard_transition;
    border-bottom: $line_size solid $color_theme_1;
    border-radius: $corner_radius $corner_radius 0 0;
    background-color:  rgba($color_theme_1, 0.4);
    color: $inverse_fg_color;
  }
}

%trough,
trough, 
.trough,
levelbar block.empty {
  min-width: $progress_size;
  min-height: $progress_size;
  transition: $standard_transition;
  border: none;
  border-radius: $circular_radius;
  background-color: rgba($fg_color, 0.2);
  
  &:backdrop {
    background-color: rgba($fg_color, 0.1);
  }
}

treeview.trough,
treeview.progressbar {
  border-bottom: 3px solid transparent;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  
  &:backdrop,
  &:backdrop:selected {
    background-color: transparent;
  }
}

treeview.progressbar {
  border-bottom-color: $selected_bg_color;
  
  &:selected {
    border-bottom-color: $selected_fg_color;
  }
}

treeview.trough {
  border-bottom-color: rgba($fg_color, 0.2);
  
  &:selected {
    border-bottom-color: rgba($selected_fg_color, 0.4);
  }
}

levelbar {
  
  trough {
    background-color: $overlay_color;
    box-shadow: $shadow_1;
  }

  block {
    @extend %progress;
    margin: $mini_padding_em;
    
    &.filled.low {
      background-color: $error_bg_color;
      
      &:backdrop {
        background-color: rgba($error_bg_color, 0.4);
      }
    }
    
    &.filled.middle {
      @extend %progress;
    }
    
    &.filled.high {
      background-color: $suggested_bg_color;
      
      &:backdrop {
        background-color: rgba($suggested_bg_color, 0.4);
      }
    }
    
    &.empty {
      @extend %trough;
    }
  }
  
  trough {
    background-color: transparent;
    
    &:backdrop {
      background-color: transparent;
    }
  }
}

scale {
  padding: $small_padding_em;  
  outline-offset: 4px;
  
  slider {
    min-width: 2 * $progress_size;
    min-height: 2 * $progress_size;
    margin: -1.5 * $progress_size;
    transition: $standard_transition;
    border-radius: $circular_radius;
    outline: $line_size solid rgba($light_neutral_grey_700, 0.4);
    background-color: $color_theme_1;
    color: $color_theme_1;
    box-shadow: none;
    
    &:hover {
      box-shadow: $shadow_1;
      
      &:active:focus {
        box-shadow: $shadow_2;
      }
    }
    
    &:backdrop {
      background-color: rgba($color_theme_1, 0.4);
    }
    
    &:disabled {
      border: $line_size solid rgba($fg_color, 0.4);
      background-color: $bg_color;
      color: $bg_color;
      
      &:backdrop {
        border-color: rgba($fg_color, 0.2);
      }
    }
  }
  
  trough {
    @extend %trough;
  }
  
  highlight {
    @extend %progress;
    
    &:disabled {
      background-color: rgba($fg_color, 0.4);
      
      &:backdrop {
        background-color: rgba($fg_color, 0.2);
      }
    }
  }
  
  mark indicator {
    color: rgba($fg_color, 0.6);
  }
  
  &.horizontal mark indicator {
    min-width: $border_size;
    min-height: $marks_size;
  }
  
  &.vertical mark indicator {
    min-width: $marks_size;
    min-height: $border_size;
  }
}
