// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_scrollbars.scss - Scrollbars
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

scrollbar {
  transition: $standard_transition;
  background-clip: border-box;
  background-color: transparent;
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  
  trough {
    transition: $standard_transition;
    border-radius: 0;
    background-clip: border-box;
    background-color: transparent;
    
    &:backdrop {
      background-color: transparent;
    }
  }
  
  slider {
    transition: $standard_transition;
    border: $border_size solid rgba($bg_color, 0.6);
    border-radius: $circular_radius;
    background-clip: border-box;
    background-color: rgba($fg_color, 0.8);
  }
  
  &.horizontal slider {
    min-width: $scrollbar_size * 3;
    min-height: $scrollbar_size / 2;
  }
  
  &.vertical slider {
    min-width: $scrollbar_size / 2;
    min-height: $scrollbar_size * 3;
}

  &.hovering {
    trough {
      background-color: $inverse_overlay_color;
      
      &:backdrop {
        background-color: $inverse_overlay_color;
      }
    }

    &.horizontal slider {
      min-width: $scrollbar_size * 2;
      min-height: $scrollbar_size;
    }
  
    &.vertical slider {
      min-width: $scrollbar_size;
      min-height: $scrollbar_size * 3;
    }
  }
}
