// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * sass/widgets/_separators.scss - Separators and dividers
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

separator {
  background-color: rgba($fg_color, 0.1);
  
  menu &,
  &.horizontal {
    min-height: $border_size;
  }

  &.vertical {
    min-width: $border_size;
    margin: $tinier_padding_em;
  }

  &.sidebar {
    background-color: transparent;
  }
  
  toolbar &,
  .titlebar & {
    padding: $small_padding_em;
    background-color: transparent;
  }

  list &{
    margin: 0;
    padding: 0;
  }
  
  menu &,
  popover & {
    margin: $mini_padding_em;
  }
}
