// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * sass/widgets/_separators.scss - Separators and dividers
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

separator {
  
  border: 0 solid to200($fg_color);
  
  menu &,
  &.horizontal {
    
    border-top-width: $border_size;
  }
  
  menu & {
    
  }
  
  list & {
    
    
    
    border: 0 solid to100($fg_color);
  }
  
  &.vertical {
    border-left-width: $border_size; 
  }
  
  toolbar &,
  .titlebar & {
    
    
    border: none;
    background: none;
    
    &.titlebutton {
      
      
      
    }
  }
}
