// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * sass/widgets/_separators.scss - Separators and dividers
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

separator {
  border: 0 solid rgba($fg_color, 0.2);
  
  menu &,
  &.horizontal {
    border-top-width: $border_size;
  }
  
  menu & {
    margin: $tiny_padding 0;
  }
  
  list & {
    border: 0 solid rgba($fg_color, 0.1);
  }
  
  &.vertical {
    border-left-width: $border_size; 
  }
  
  toolbar &,
  .titlebar & {
    border: none;
    background: none;
  }
}
