// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_sidebar.scss - Sidebar and Source List
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.sidebar,
.sidebar.view,
.sidebar list,
.source-list,
.source-list.view {
  border: none;
  border-radius: 0;
  background-color: $base_color;
  color: $fg_color;

  &:selected {
    background-color: $color_theme_1;
      
    &:backdrop {
      background-color: rbga($color_theme_1, 0.6);
    }

    label,
    image {
      color: $white;
    }
  }
  
  row,
  .list-row,
  .sidebar-item,
  .sidebar-row {
    margin: -1px 0;
    padding: $small_padding_em;
    transition: $fast_transition; //Standard looks a tiny bit janky
    
    &:hover {
      background-color: $inverse_overlay_color;
    }
    
    &:selected {
      background-color: $color_theme_2;
      
      &:backdrop {
        background-color: rgba($color_theme_2, 0.6);
      }
      
      label,
      image {
        color: $selected_fg_color;
      }
    }
    
    &:drop(active),
    &.sidebar-new-bookmark-row {
      box-shadow: $border_shadow $color_theme_2;
      color: $dark_color_2;
    }

    button {
      @include flat_button;
    }
  }
  
  button {
    transition: $fast_transition;
  }
  
  label,
  image {
    padding: 0 $tinier_padding_em;    
    transition: $fast_transition;
  }
  
  .frame {
    border: none;
  }
  
  .stack-switcher button {
    @include flat_button;
    -gtk-icon-style: symbolic;
  }
  
  separator {
    border: none;
  }
}
