// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_switch.scss - on-off switch
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
switch {
  min-width: 3.6em;
  min-height: 1.8em;
  border-radius: $circular_radius;
  background-clip: padding-box;
  background-color: rgba($fg_color, 0.6);
  background-image: -gtk-scaled(
    url('assets/#{$color}/switch-symbols@1.png'),
    url('assets/#{$color}/switch-symbols@2.png'),
    url('assets/#{$color}/switch-symbols@3.png'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
  font-size: 0;
  box-shadow: 0 1px 2px 0 rgba($black, 0.5) inset;

  &:disabled { 
    background-color: rgba($fg_color, 0.2);
    color: transparent;
    opacity: 0.7;

    image {
      color: transparent;
    }
  }

  .checked &, 
  .selected & {
    color: transparent;
    font-size: 0;
  }
  
  &:backdrop {
    background-color: rgba($fg_color, 0.2);
  }

  &:checked {
    background-color: $color_theme_2;
    

    &:disabled { 
      background-color: rgba($color_theme_2, 0.6); 
      color: transparent;

      image {
        color: transparent;
      }
    }
    &:backdrop { 
      background-color: rgba($color_theme_2, 0.6); 
    }
  }

  slider {
    min-width: $switch_size;
    min-height: $switch_size;
    margin: 2px;
    border-radius: $circular_radius;
    background-color: $bg_color;
    box-shadow: 0 1px 2px 0 rgba($black, 0.5);
    -gtk-outline-radius: $circular_radius;
    
    :disabled &,
    :disabled:hover &,
    :disabled:checked &,
    :disabled:active & {
      box-shadow: none;
    }
  }
  
  &:disabled {
    box-shadow: none;
    
    &:hover,
    &:checked,
    &:active {
      box-shadow: none;
    }
    
    slider {
      box-shadow: none;
    }
  }
  
  &:hover slider { 
    box-shadow: 0 1px 2px 0 rgba($black, 0.5);
  }

  &:checked slider {
    color: $bg_color;
  }

  :selected & {
    color: transparent;

    &:checked {
      background-color: $selected_switch_color;
    }

    image,
    label {
      color: transparent;
    }
  }

  .tweak-titlebar-right & {
    margin: 3px;
  }
}
