// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_switch.scss - on-off switch
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */
switch {
  margin: 4px 0; //needed to help prevent switches from growing.
  transition: $standard_transition;
  border-radius: $circular_radius;
  background-clip: padding-box;
  background-color: rgba($fg_color, 0.6);
  background-image: -gtk-scaled(
    url('assets/#{$color}/switch-symbols@1.png'),
    url('assets/#{$color}/switch-symbols@2.png'),
    url('assets/#{$color}/switch-symbols@3.png'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
  font-size: 0;
  box-shadow: 
    0 1px 3px rgba($black, 0.12) inset, // sass-lint:disable-line indentation
    0 1px 2px rgba($black, 0.24) inset;// sass-lint:disable-line indentation

  &:disabled { 
    background-color: rgba($fg_color, 0.2);
    box-shadow: none;
    color: transparent;
    opacity: 0.7;

    image {
      color: transparent;
    }
  }
  
  &:backdrop {
    background-color: rgba($fg_color, 0.2);
  }

  &:checked {
    background-color: $color_theme_2;
    

    &:disabled { 
      background-color: rgba($color_theme_2, 0.6); 
      color: transparent;
      box-shadow: none;

      image {
        color: transparent;
      }
    }
    &:backdrop { 
      background-color: rgba($color_theme_2, 0.6); 
    }
  }
  
  headerbar &,
  toolbar & {
    margin-top: ($toolbar_size / 2) - ($switch_size / 2) - 2px; 
    margin-bottom: ($toolbar_size / 2) - ($switch_size / 2) - 2px;  
  }

  slider {
    min-width: $switch_size;
    min-height: $switch_size;
    margin: 2px;
    transition: $standard_transition;
    border-radius: $circular_radius;
    background-color: $bg_color;
    box-shadow: $shadow_1;
    -gtk-outline-radius: $circular_radius;
    
    :disabled &,
    :disabled:hover &,
    :disabled:checked &,
    :disabled:active & {
      box-shadow: none;
    }
  }
  
  &:disabled {
    box-shadow: none;
    
    &:hover,
    &:checked,
    &:active {
      box-shadow: none;
    }
    
    slider {
      box-shadow: none;
    }
  }
  
  &:hover slider { 
    box-shadow: $shadow_2; 
  }

  &:checked slider {
    transition: all 500ms ease;
    color: $bg_color;
  }

  &:checked:disabled slider { 
    animation: none;
  }
}
