// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_toolbars.scss - Toolbars and Action bars
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

toolbar,
.toolbar {
  border-radius: 0 0 $corner_radius $corner_radius;
  background-color: $inverse_overlay_color;
  color: $fg_color;
  -GtkWidget-window-dragging: true;
  
  &:backdrop {
    color: rgba($fg_color, 0.6);
  }
}

actionbar,
.secondary-toolbar,
.bottom-toolbar,
.inline-toolbar {
  padding: $tinier_padding_em;
  background-color: $inverse_overlay_color;
  color: $fg_color;
  box-shadow: none;
  
  label,
  image {
    color: $fg_color;
    
    &:backdrop {
      color: rgba($fg_color, 0.6);
    }
  }
  
  &:backdrop {
    color: rgba($fg_color, 0.6);
  }
  
  button,
  .background & button {
    @include flat_button;
    

    &:checked {
      border: none;
      background-color: $color_theme_2;

      label,
      image {
        color: $selected_fg_color;
      }
      
      &:backdrop {
        border: none;
        background-color: rgba($color_theme_2, 0.4);
      }
    }
  }

  .linked button,
  .background & .linked button {
    border: none;
  }
}

searchbar,
.location-bar,
.search-bar {
  border-radius: $corner_radius $corner_radius 0 0;
  border-color: transparent;
  background-color: $inverse_overlay_color;
  box-shadow: inset 0 -1 * $border_size 0 0 rgba($fg_color, 0.1);
}

