// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_toolbars.scss - Toolbars and Action bars
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

toolbar,
.toolbar {
  padding: $headerbar_padding;
  background-color: $inverse_overlay_color;
  color: $fg_color;
  -GtkWidget-window-dragging: true;
  
  &:backdrop {
    color: rgba($fg_color, 0.6);
  }
}

actionbar,
.secondary-toolbar,
.bottom-toolbar,
.inline-toolbar {
  padding: $tinier_padding_em;
  background-color: $inverse_overlay_color;
  color: $fg_color;
  
  label,
  image {
    color: $fg_color;
    
    &:backdrop {
      color: rgba($fg_color, 0.6);
    }
  }
  
  &:backdrop {
    color: rgba($fg_color, 0.6);
  }
  
  button,
  .background & button {

    &.destructive-action,
    &.destructive-action label,
    &.destructive-action image {
      color: $destructive_text_color;
    }
  }

  .linked button,
  .background & .linked button {
    border-image: none;

    &:backdrop {
      border-image: none;
    }
  }
}

searchbar,
.location-bar,
.search-bar {
  background-color: $inverse_overlay_color;
}

