// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_tooltip.scss - Tooltips
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

tooltip,
.overlay-bar { 
  border: none;
  border-radius: $corner_radius;
  background-color: $bg_color;
  color: $fg_color;
  box-shadow: $shadow_2;
  
  * {
    color: $fg_color;
  }
}
