// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * widgets/_views.scss - Treeview, Listview, Iconview
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.cell:selected {
  background-color: $color_theme_1;
  color: $selected_fg_color;
  
  &:backdrop {
    background-color: rgba($color_theme_1, 0.6);
  }
}

treeview,
.background treeview {
  padding: 0.3em;
  background-color: $overlay_color;
  -GtkTreeView-vertical-separator: $tinier_padding;
  -GtkTreeView-horizontal-separator: $tinier_padding;
  -GtkTreeView-expander-size: 16;
  -GtkTreeView-grid-line-pattern: '\000\000';

  
  row:nth-child(odd) {
    background-color: rgba($color_theme_1, 0.1);
  }
  
  row:nth-child(even) {
    background-color: $overlay_color;
  }
  
  header {
    margin: 0.3em;
  }

  header button {
    @include flat_button;
    margin: 0.3em 0;
    border-right: 1px solid rgba($fg_color, 0.3);
    border-radius: 0;
    background-color: $inverse_overlay_color;
    box-shadow: none;
    
    &:first-child {
      margin-left: 0.3em;
      border-top-left-radius: $corner_radius;
      border-bottom-left-radius: $corner_radius;
    }
    
    &:last-child {
      margin-right: 0.3em;
      border-right: none;
      border-top-right-radius: $corner_radius;
      border-bottom-right-radius: $corner_radius;
    }
    
    &:active:hover,
    &:hover,
    &:focus {
      box-shadow: none;
    }
    
    &:disabled {
      border: none;
      box-shadow: none;
    }
  }
  
    
  check,
  radio {
    padding: $check_padding;
  }
  
  &:selected check,
  &:selected radio {
    box-shadow: inset 0 0 0 2px $selected_fg_color;
  }
}

viewport, 
viewport.frame {
  border-image-width: 0;
}

// Seems to be required for LibreOffice 
.view {
  background-color: $overlay_color;
  color: $fg_color;

  text {
    background-color: transparent;

    selection,
    :selected {
      background-color: $selected_bg_color;
      color: $selected_fg_color;
    }
  }
}

iconview.view {
  background-color: transparent;

  &:selected,
  :selected {
    background-color: $selected_bg_color;
  }
}

stack.view {
  background-color: transparent;
}
