// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _firefox.scss - App overrides for Firefox
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 * 
 * NOTE: Firefox does NOT use GTK for styling. It does attempt to guess the 
 * correct style from this stylesheet, so bugs may appear and are difficult to
 * track down/fix.
 */

$firefox_border_color: mix($black, $white, 20%);

// Firefox now uses this for selected items
text:selected { 
  @extend %selected-items;
}

#MozillaGtkWidget { 
  headerbar.titlebar {
    margin: 0;
    padding: (28px - $icon_size * 1.5) / 2;
  }
  entry,
  button,
  button > button {
    border: 1px solid $firefox_border_color;
    border-radius: $corner_radius;
    box-shadow: none;
  }

  entry {
    min-height: 32px - 6px;

    &:focus { 
      border-color: $color_theme_2;
    }
  }

  button,
  button > button {
    padding: 4px 8px;
    background-color: $bg_color;
    background-size: auto;
    color: $fg_color;
    
    &:hover {
      background-color: $dark_bg_color;

      &:focus {
        background-color: $dark_bg_color;
      }
    }

    &:active {
      background-color: $darker_bg_color;
    }
    
    &:focus,
    &:selected,
    &:checked {
      border-color: $color_theme_2;
      background-color: $dark_bg_color;
    }

    &.close {
      margin: $small_padding 0 $small_padding $standard_padding;
      padding: 4px;
      border-radius: $circular_radius;
      background-color: $close_button_color;
      color: $inverse_fg_color;
      
      &:backdrop {
        background-color: to200($titlebar_fg_color);
      }
      
      &:hover {
        background-color: mix($close_button_color, $obverse_bg_color, 80%);
      }
      
      &:active {
        background-color: mix($close_button_color, $obverse_bg_color, 60%);
      }
    }
  }
  
  // for the bookmark toolbar's separators
  > separator { 
    color: $firefox_border_color; 
  }

  // avoid black border
  > scrollbar { 
    min-width: $scrollbar_size;
    min-height: $scrollbar_size;
    background-clip: border-box;
  }

  // emphasize borders color
  > scrollbar,
  > frame > border { 
    border-color: $firefox_border_color;
  }  

  frame {
    border-color: $bg_color;
  }
  
  check,
  radio {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px to800($obverse_fg_color);
    
    &:checked {
      background-color: $color_theme_2;
      box-shadow: inset 0 0 0 2px $color_theme_2;
    }
  }
  
  menubar {
    background-color: $titlebar_bg_color;
    
    menuitem {
      color: $titlebar_fg_color;
    }
  }
  
  // remove ugly border around the menus
  > window > menu,
  > menu > menu { 
    border: none;
  }
}
