// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _firefox.scss - App overrides for Firefox
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 * 
 * NOTE: Firefox does NOT use GTK for styling. It does attempt to guess the 
 * correct style from this stylesheet, so bugs may appear and are difficult to
 * track down/fix.
 */

$firefox_border_color: mix($black, $white, 20%);
$firefox_bg_color: if($color=='dark', mix($fg_color, $bg_color, 3%), $white);

// Firefox now uses this for selected items
text:selected { 
  @extend %selected-items;
}

#MozillaGtkWidget { 

  * {
    background-color: $firefox_bg_color;
    color: $fg_color;

    &:selected {
      @extend %selected-items;
    }
  }

  entry,
  button,
  button > button {
    border: 1px solid $firefox_border_color;
    border-radius: $corner_radius;
    background-color: $firefox_bg_color;
    box-shadow: none;
  }

  entry {

    &:focus { 
      border-color: $color_theme_2;
    }
  }

  button,
  button > button {
    background-color: $bg_color;
    background-size: auto;
    color: $fg_color;
    
    &:hover {
      background-color: $inverse_overlay_color;

      &:focus {
        background-color: $inverse_overlay_color;
      }
    }

    &:active {
      background-color: $inverse_overlay_color;
    }
    
    &:focus,
    &:selected,
    &:checked {
      border-color: $color_theme_2;
      background-color: $inverse_overlay_color;
    }

    &.close {
      
      
      border-radius: $circular_radius;
      background-color: $close_button_color;
      color: if($color=='dark', $black, $titlebar_fg_color);
      
      &:backdrop {
        background-color: rgba($titlebar_fg_color, 0.2);
      }
      
      &:hover {
        background-color: mix($close_button_color, $obverse_bg_color, 80%);
      }
      
      &:active {
        background-color: mix($close_button_color, $obverse_bg_color, 60%);
      }
    }
  }
  
  // for the bookmark toolbar's separators
  > separator { 
    color: $firefox_border_color; 
  }

  // avoid black border
  > scrollbar { 
    
    
    background-clip: border-box;
  }

  // emphasize borders color
  > scrollbar,
  > frame > border { 
    border-color: $firefox_border_color;
  }  

  frame {
    border-color: $bg_color;
  }
  
  check,
  radio {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba($obverse_fg_color, 0.8);
    
    &:checked {
      background-color: $color_theme_2;
      box-shadow: inset 0 0 0 2px $color_theme_2;
    }
  }
  
  menubar {
    background-color: $titlebar_bg_color;
    
    menuitem {
      color: $titlebar_fg_color;
    }
  }

  menuitem {
    color: $fg_color;

    &:hover,
    &:active {
      background-color: rgba($fg_color, 0.1); 
    }

    &:disabled,
    &:inactive,
    &:insensitive {
      color: rgba($fg_color, 0.6);
    }
  }
  
  // remove ugly border around the menus
  > window > menu,
  > menu > menu { 
    border: none;
  }
}
