// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _gnome-weather.scss - App overrides for GNOME Weather
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */


stackswitcher.horizontal.linked.stack-switcher.osd {
  border-radius: $corner_radius;
  background-color: rgba($inverse_bg_color, 0.4);
  
  > button:first-child,
  > button:last-child,
  > button:only-child {
    border-radius: $corner_radius;
    background-color: transparent;
    border-image: none;
    
    &:hover {
      color: $light_color_2;
    }
    
    &:checked {
      border-radius: $corner_radius;
      background-color: $color_theme_2;
      border-image: none;
      
      &:hover {
        color: $inverse_fg_color;
      }
    }
  }
}

window.csd > grid.vertical > stack grid.horizontal > grid.horizontal {
  > grid.horizontal > stack > scrolledwindow > viewport {
    background-color: transparent;
  }
}

