// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _gnome-control-center.scss - App Overides for GNOME Control Center
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

 window.csd {
  .titlebar > box > headerbar {
    padding: $headerbar_padding;

    &:first-child {
      min-width: 250px;
      padding-right: 0;
    }

    label {
      padding: 0 $standard_padding;
    }
  }
  
  > box.horizontal > stack > box.vertical > widget > stack { 
    overlay > box.vertical > grid.horizontal > stack > button.toggle {
      @include flat_button;
    }
    
    viewport > grid.horizontal box row.activatable button.circular.image-button {
      @include flat_button;
    }
  }
}
