// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _gnome-builder.scss - App Overrides for GNOME Builder
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

// based css for 3.26:
// git.gnome.org/browse/gnome-builder/tree/data/themes?h=gnome-builder-3-26

window.workbench > stack.titlebar {
  padding: $no_padding $standard_padding;

  .global-search {
    margin: $tinier_padding;
  }
  headerbar omnibar.linked.horizontal {
    min-height: $large_size + 2px;

    button:first-child {
      margin: 0 $tiny_padding 0 0;
      padding: $small_padding;
      border-radius: $corner_radius;
    }

    entry {
      padding-right: 3px;
      border-right: 0 transparent;
      border-radius: $corner_radius 0 0;
    }

    button:last-child {
      @include underline(normal);
      padding: 0 1em;
      border-left: 0 transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $bg_color;

      &:hover {
        background-color: $base_color;
      }
    }
  }

  headerbar box.horizontal box.linked {
    button.image-button {
      padding: 0 $standard_padding;
    }

    button.dzlmenubutton.run-arrow-button {
      padding: 0 $tinier_padding;
    }
  }
}

button.dzlmenubutton image {
  min-width: $large_size - 6px;

  &.arrow { 
    min-width: $large_size - 9px;
  }
}

button.dzlmenubuttonitem {
  color: $fg_color;
  font-weight: normal;

  &:disabled {
    color: to400($fg_color);
  }
}

idelayoutstackheader {
  border-bottom: 1px solid to100($fg_color);

  button:checked {
    color: $fg_color;
  }
}

// utilities stack switcher
ideeditorutilities > dzldockpaned > box > stackswitcher {
  background-color: $bg_color;

  &:dir(ltr) {
    border-right: 1px solid to100($fg_color);
  }
  &:dir(rtl) {
    border-left: 1px solid to100($fg_color);
  }

  button {
    background-color: transparent;

    &:active {
      background-color: $color_theme_2;
    }
  }
}


// buildui panel
ideeditorsidebar notebook header {
  background: transparent;
}

popover.messagepopover {
  // padding: 0;

  list {
    border: 1px solid to100($fg_color);

    row:not(:last-child) {
      border-bottom: 1px solid to100($fg_color);
    }
  }
}

// Bottom Panel Tabs - doesn't currently work
dzldockstack {
  background-color: $dark_bg_color;
  
  dzltabstrip {
    border-radius: $corner_radius;
    box-shadow: $shadow_1;
  }
  
  dzltab {
    border: none; 
    background-color: $bg_hl_color;
    box-shadow: none;
    
    &:checked {
      background-color: $color_theme_2;
      box-shadow: $shadow_2;
    }
  }
}
