// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _gnome-builder.scss - App Overrides for GNOME Builder
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

// based css for 3.26:
// git.gnome.org/browse/gnome-builder/tree/data/themes?h=gnome-builder-3-26

window.workbench > stack.titlebar {

  headerbar omnibar.linked.horizontal {

    button:last-child {
      @include underline(normal);
      background-color: $bg_color;

      &:hover {
        background-color: $base_color;
      }
    }
  }
}

button.dzlmenubuttonitem {
  color: $fg_color;
  font-weight: normal;

  &:disabled {
    color: rgba($fg_color, 0.4);
  }
}

idelayoutstackheader {

  button:checked {
    color: $fg_color;
  }
}

// utilities stack switcher
ideeditorutilities > dzldockpaned > box > stackswitcher {
  background-color: $bg_color;

  button {
    background-color: transparent;

    &:active {
      background-color: $color_theme_2;
    }
  }
}
