// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _gnome-terminal.scss - App-overrides for GNOME Terminal
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

terminal-window > headerbar.titlebar > box.right > .close {
  margin-right: -$line_size;
  margin-left: -$line_size;
}

// Terminal needs a border to help with the case of overlapping windows.
terminal-window > box {
  border: $border_size solid $titlebar_hl_color;
  
  &:backdrop {
    border: $border_size solid lighten($titlebar_bg_color, 5%);
  }
  
  menubar:first-child {
    border: none;
  }
}
