// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _gnome-web.scss - GNOME Web Browser App Overrides
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.url_entry {
  border-radius: $corner_radius;
  background-color: $titlebar_button_color;
  box-shadow: $shadow_standard;
  border-image: none;

  &:focus {
    box-shadow: $shadow_active;  
  }

  + widget.right buttonbox {
    @include flat_button;
    min-width: 0;
    min-height: 0;
    padding: 2px;
  }
}
