// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _nautilus.scss - Nautilus App Overrides
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.nautilus-window {

  .nautilus-canvas-item {
  }
}

// Nautilus Desktop Widget

// We hate wildcard selectors, but this seems to get rid of the white line. See
// github.com/pop-os/gtk-theme/issues/266
.nautilus-desktop-window {
  grid paned overlay notebook box * {
    background-color: transparent;
  }

  menu,
  window.popup {
    background-color: $bg_color;

    :active,
    :hover {
      background-color: $inverse_overlay_color;

      check,
      radio {
        @extend %checkradio;

        &:checked,
        &:indeterminate {
          background-color: $color_theme_2;
        }
      }
    }

    check,
    radio {
      @extend %checkradio;
    }
  }
}

.nautilus-desktop.nautilus-canvas-item:not(:selected),
.caja-desktop.caja-canvas-item:not(:selected) {
  color: $white;
  text-shadow: -1px 0 $text_shadow_color,
    0 1px $text_shadow_color, // sass-lint:disable-line indentation
    1px 0 $text_shadow_color, // sass-lint:disable-line indentation
    0 -1px $text_shadow_color; // sass-lint:disable-line indentation
}

// Floating Bar
.floating-bar {
  transition: $standard_transition, border-width 0;
  border-width: $border_size;
  border-style: solid solid none;
  border-radius: $corner_radius $corner_radius 0 0;
  border-color: rgba($fg_color, 0.4);
  background-clip: padding-box;
  background-color: mix($fg_color, $bg_color, 20%);

  &.bottom.left { // axes left border and border radius
    border-left-style: none;
    border-top-left-radius: 0;
  }

  &.bottom.right { // axes right border and border radius
    border-right-style: none;
    border-top-right-radius: 0;
  }
}
