// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _nautilus.scss - Nautilus App Overrides
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.nautilus-window {

  // New Path Bar in 3.30
  .path-bar-box > widget.path-bar > box {
    > button {
      background-image: none;
      padding: $tiny_padding_em $small_padding_em;
      
      &:checked {
        border-image: none;
      }
    }
    
    &:last-child {
      border-image: radial-gradient(
        circle closest-corner at center calc(100% - 1px),
        $focus_color 100%,
        transparent 0%)
        0 0 2 / 0 0 2px; // sass-lint:disable-line indentation 
    }
  }
  
  // Zoom controls
  > popover > stack > box.vertical > box.linked.horizontal 
  + box.vertical > box.vertical > box.horizontal.linked {
    margin: $tiny_padding;
    border-radius: $corner_radius;
    background-color: $bg_hl_color;
    box-shadow: $shadow_0;
    
    button:disabled {
      border: none;
      box-shadow: none;
    }
  }
  
  // Tiny fix for border radius on popover buttons
  popover stack box.linked button,
  popover stack box.linked button:first-child,
  popover stack box.linked button:last-child {
    border-radius: $corner_radius;
  }
  
  // Icon View
  widget.view > .icon-item-background {
    padding: 4px;
    border-radius: $corner_radius;
  }

  &:selected {
    background-color: transparent;

    widget.view > .icon-item-background { 
      background-color: $color_theme_1;
    }
  }
  
  widget.view .icon-item-background,
  .nautilus-canvas-item {
    background-color: $color_theme_1;
    color: $fg_color;
    text-shadow: $shadow_0;
  }

  .nautilus-canvas-item {
    border-radius: $corner_radius;
  }
  
  // Floating Bar
  .floating-bar {
    min-height: $large_size;
    padding: 0;
    transition: $standard_transition, border-width 0;
    border-width: $border_size;
    border-style: solid solid none;
    border-radius: $corner_radius $corner_radius 0 0;
    border-color: to400($fg_color);
    background-clip: padding-box;
    background-color: $dark_bg_color;

    &.bottom.left { // axes left border and border radius
      margin-right: 8px - 1px;
      border-left-style: none;
      border-top-left-radius: 0;
    }

    &.bottom.right { // axes right border and border radius
      margin-left: 8px - 1px;
      border-right-style: none;
      border-top-right-radius: 0;
    }

    button {
      margin: $tiny_padding;
    }
  }
  
  notebook,
  notebook > stack {
    background-color: $bg_color;
  }
}
