// This file is part of the Pop!_GTK Theme.
// See gtk.scss for full license and copyright information
/* 
 * _pop-installer.scss - App overrides for Pantheon Panel
 *
 * File credits: Ian Santopietro <isantop@gmail.com>
 */

.os-installer {
  list row {
    image {
      color: $fg_color;
      -gtk-icon-style: symbolic;
    }
    
    &:selected {
      background-color: $color_theme_1;
      
      &:backdrop {
        background-color: to600($color_theme_1);
      }
      
      image {
        color: $inverse_fg_color;
      }
    }
  }
}
