/* Workspace pager */

// thumbnails in overview
.workspace-thumbnails,
.workspace-thumbnails-left {
  @extend %overview_panel;
  visible-width: 32px; //amount visible before hover
  margin: 0px 12px 150px 12px;
  spacing: 24px;
  padding: 24px;
  border-radius: $modal_radius !important;

  // drag and drop indicator
  .placeholder {
    background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-size: contain;
    height: 24px;
  }
}

// selected indicator
.workspace-thumbnail-indicator {
  border: 3px solid $entry_color;
  border-radius: 3px;
  padding: 0px;
  // background-color: transparentize($entry_color, 0.9);
}
